[Desktop Entry]
Name=Atlantis
Name[cs]=Atlantis
Name[da]=Atlantis
Name[de]=Atlantis
Name[fr]=Atlantis
Name[no]=Atlantis
Name[pt_BR]=AtlБntida
Name[ru]=Атлантика
Name[uk]=Атлантика
Comment=Whales, dolphins and sharks swimming around, in 3D
Comment[cs]=Velryby, delfМni a ╬raloci plavajМcМ oceАnem (3D).
Comment[da]=Hvaler, delfiner og hajer der svЬmmer rundt i 3d.
Comment[de]=Wale, Delphine und Haie schwimmen herum - in 3D.
Comment[es]=Ballenas, delfines y tiburСns nadando en 3D.
Comment[fr]=Baleines, Dauphins et requins nageant, en 3D.
Comment[no]=Hvaler, delfiner og haier svЬmmer rundt, i 3D.
Comment[pt_BR]=Baleias, golfinhos e tubarУes nadando pelo mar, em 3D
Comment[ru]=Плавающие вокруг киты, дельфины и акулы.
Comment[uk]=Кити, дельф╕ни та акули плаваюч╕ навколо в тривим╕рному простор╕
Exec=xscreensaver-command -activate
TryExec=atlantis
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Demo=atlantis