[Desktop Entry]
Name=Blitspin
Name[ca]=Blitspin
Name[da]=Blitspin
Name[es]=Blitspin
Name[fr]=Blitspin
Name[no]=Blitspin
Name[pt_BR]=Blitspin
Name[uk]=äÉ×ÏĞÏ×ÏÒÏÔ
Comment=Rotates a bitmap in an interesting way.
Comment[ca]=Rota un mapa de bits de forma interessant.
Comment[da]=Roterer et bitkort på en interessant måde.
Comment[es]=Rotaciones interesantes de imágenes bitmap
Comment[fr]=Rotations interessantes d'images bitmap
Comment[no]=Roterer et bitkart på en interessant måte.
Comment[pt_BR]=Rotaciona um bitmap de uma forma interessante.
Comment[uk]=ğÏ×ÅÒÔÁÎÎÑ ÚÏÂÒÁÖÅÎÎÑ ÎÅÚ×ÉŞÁÊÎÉÍ ÛÌÑÈÏÍ.
Exec=xscreensaver-command -activate
TryExec=blitspin
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=blitspin.png
Author=Jamie Zawinski <jwz@netscape.com>
ExtendedComment=Blitspin takes a bitmap and repeatedly rotates it by 90 degrees using logical operations.
ExtendedComment[ca]=Blitspin pren un mapa de bits i el rota 90 graus repetidament fent servir operacions lògiques.
ExtendedComment[da]=Blitspin tager et bitkort og roterer det 90 grader gentagne gange ved brug af logiske operationer.
ExtendedComment[es]=Blitspin hace repetidamente rotaciones de 90° con una imagen bitmap, usando operaciones lógicas.
ExtendedComment[fr]=Blitspin prends une image bitmap et lui fait faire plusieures rotations de 90° consécutives en utilisant des opérations logiques.
ExtendedComment[no]=Blitspin tar et bitkart og roterer det 90 grader gjentatte ganger ved bruk av logiske operasjoner.
ExtendedComment[pt_BR]=O Blitspin rotaciona um bitmap 90 graus repetidas vezes usando operações lógicas
Demo=blitspin -delay 2

[Arg0]
Name=Delay
Type=LRange
Flag=-delay
LeftLabel=Faster
LeftLabel[ca]=Ràpid
LeftLabel[da]=Hurtigere
LeftLabel[es]=Rápido
LeftLabel[eu]=Arin
LeftLabel[fr]=Rapide
LeftLabel[ja]=Â®¤¤
LeftLabel[no]=Fortere
LeftLabel[pt]=Rápido
LeftLabel[pt_BR]=Rápido
LeftLabel[ru]=âÙÓÔÒÅÅ
LeftLabel[wa]=Roed

RightLabel=Slower
RightLabel[ca]=Lent
RightLabel[da]=Langsommere
RightLabel[es]=Lento
RightLabel[eu]=Astiro
RightLabel[fr]=Lent
RightLabel[ja]=ÃÙ¤¤
RightLabel[no]=Saktere
RightLabel[pt]=Lento
RightLabel[pt_BR]=Lento
RightLabel[ru]=íÅÄÌÅÎÎÅÅ
RightLabel[wa]=Londjin

ValType=I[1-500000]=2
Label=Speed of rotation.
Label[ca]=Velocitat de rotació
Label[da]=Rotationshastighed
Label[es]=Velocidad de rotation
Label[fr]=Vitesse de rotation
Label[no]=Rotasjonshastighet.
Label[pt_BR]=Velocidade de rotação.

Comment=Change the delay between steps of rotation process.
Comment[ca]=Canvia el retard entre els passos del procés de rotació.
Comment[da]=Ændr pausen mellem trinene i rotationsprocessen.
Comment[es]=Cambiar la velocidad entre las rotaciones.
Comment[fr]=Changer le délai entre les étapes de la rotation.
Comment[no]=Endre pausen mellom stegene i rotasjonsprosessen.
Comment[pt_BR]=Muda a velocidade entre as rotações

[Arg1]
Name=Delay2
Type=LRange
Flag=-delay2
LeftLabel=Faster
LeftLabel[ca]=Ràpid
LeftLabel[da]=Hurtigere
LeftLabel[es]=Rápido
LeftLabel[eu]=Arin
LeftLabel[fr]=Rapide
LeftLabel[no]=Fortere
LeftLabel[pt_BR]=Rápido
LeftLabel[ru]=âÙÓÔÒÅÅ
LeftLabel[wa]=Roed

RightLabel=Slower
RightLabel[ca]=Lent
RightLabel[da]=Langsommere
RightLabel[es]=Lento
RightLabel[es]=Lento
RightLabel[fr]=Lent
RightLabel[no]=Saktere
RightLabel[pt_BR]=Lento
RightLabel[ru]=íÅÄÌÅÎÎÅÅ
RightLabel[wa]=Londjin

ValType=I[1-500000]=5000
Label=Speed of the 90 degree rotation.
Label[ca]=Velocitat de la rotació de 90°
Label[da]=Hastigheden på 90-graders rotationen.
Label[es]=Velocidad de la rotation de 90°
Label[fr]=Vitesse de la rotation de 90°
Label[no]=Hastigheten på 90 graders rotasjonen.
Label[pt_BR]=Velocidade da rotação de 90 graus.

Comment=Change the delay between each 90 degree rotation.
Comment[ca]=Canvia el retard entre cada rotació de 90°.
Comment[da]=Ændr pausen mellem hver 90-graders rotation.
Comment[es]=Cambiar la velocidad de las rotaciones de 90°.
Comment[fr]=Changer la vitesse des rotations de 90°
Comment[no]=Endre pausen mellom hver 90 graders rotasjon.
Comment[pt_BR]=Muda a velocidade das rotações de 90°.

[Arg2]
Name=Monochrome
Type=Check
Flag=-mono
Flag2=
LeftLabel=Display screensaver in monochrome.
LeftLable[ca]=Mostrar el protector en monocrom
LeftLabel[da]=Vis pauseskærmen i sort/hvid
LeftLabel[es]=Cambiar a la visualización en monocromo.
LeftLabel[eu]=Pantaila babesle monokromoa.
LeftLabel[fr]=Economiseur d'écran en mode monochrome.
LeftLabel[no]=Vis skjermspareren i monokrom.
LeftLabel[pt]=Protecção de ecrã monocromática
LeftLabel[pt_BR]=Proteção para monitor monocromático
LeftLabel[ru]=ğÅÒÅËÌÀŞÉÔØ × ÏÄÎÏÔÏÎÎÙÊ ÒÅÖÉÍ.
LeftLabel[wa]=Candjî li håynaedje è monocrome.

Comment=Change to display in monochrome.
Commenr[ca]=Mostra el protector en monocrom.
Comment[da]=Ændr til sort/hvid-fremvisning.
Comment[es]=Cambiar a la visualización en monocromo.
Comment[eu]=Pantaila babesle monokromoa.
Comment[fr]=Change l'affichage en monochrome.
Comment[no]=Endre til monokrom visning.
Comment[pt]=Mostra a protecção de ecrã em monocromo.
Comment[pt_BR]=Mostra a proteção de tela em monocromo.
Comment[ru]=ğÒÉÔ×ÏÒÉÔØÓÑ ŞÔÏ ÜËÒÁÎ ŞÅÒÎÏ-ÂÅÌÙÊ .
Comment[wa]=Candjî li håynaedje è monocrome.

