[Desktop Entry]
Name=Bouboule
Name[ca]=Bouboule
Name[da]=Bouboule
Name[fr]=Bouboule
Name[no]=Bouboule
Comment=A blob of bubbles spinning/moving around the screen.
Comment[ca]=Una gota de bombolles giravoltant per tota la pantalla.
Comment[da]=En klase af bobler som drejer/bevæger sig rundt omkring på skærmen.
Comment[es]=Un conjunto de burbujas girando y saltando por la pantalla. 
Comment[eu]=Burbuila taldea giraka eta saltoka pantailaren zehar.
Comment[fr]=Une goutte de bulles virevoltant autour de l'ecran.
Comment[no]=En klase av bobler som spinner/beveger seg rundt på skjermen.
Comment[ru]=ëÏÍÏË ĞÕÚÙÒÅÊ ×ÒÁİÁÅÔÓÑ É ĞÅÒÅÍÅİÁÅÔÓÑ ĞÏ ÜËÒÁÎÕ.
Comment[wa]=Ene drigleye di boles ki cavolèt tot avå li waitroûle.
Exec=xscreensaver-command -activate
TryExec=bouboule
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=bouboule.png
Author=Jeremie Petit <jpetit@essi.fr>
Author[fr]=Jérémie Petit <jpetit@essi.fr>
Author[wa]=Jérémie Petit <jpetit@essi.fr>
ExtendedComment=Bouboule changes shape and size in a blob like form. 
ExtendedComment[ca]=Una bombolla que canvia de forma i tamany com si fos una gota.
ExtendedComment[da]=Bouboule ændrer form og størrelse i en klaselignende form.
ExtendedComment[es]=Bouboule un conjunto de forma esférica de gotas que se desplazan y deforman por la pantalla.
ExtendedComment[eu]=Bouboule pantailan zehar higitzen eta itxuraldatzen diharduten ttantta taldea.
ExtendedComment[fr]=Bouboule se déforme et prends la forme d'une goutte.
ExtendedComment[no]=Bouboule endrer form og størrelse i en klaselignende form.
ExtendedComment[ru]=éÚÍÅÎÑÀİÉÊÓÑ, ×ÒÁİÁÀİÉÊÓÑ É ĞÅÒÅÍÅİÁÀİÉÊÓÑ ĞÏ ÜËÒÁÎÕ ËÏÍÏË ĞÕÚÙÒÅÊ.
ExtendedComment[wa]=Bouboule, c' est totès boles ki candjèt djoûrmåy di cogne tot rôlant pa t't avå tot.
DefaultFlags=-root
Demo=bouboule -delay 2

[Arg0]
Name=Colors
Type=NRange
LeftLabel=Colors:
LeftLabel[pt_BR]=Cores:
LeftLabel[ca]=Colors:
LeftLabel[da]=Farver:
LeftLabel[en_GB]=Colours:
LeftLabel[es]=Colores:
LeftLabel[eu]=Koloreak:
LeftLabel[fr]=Couleurs:
LeftLabel[ja]=¿§:
LeftLabel[no]=Farger:
LeftLabel[ru]=ã×ÅÔÁ:
LeftLabel[wa]=Coleurs:

Flag=-ncolors
ValType=I[1-256]=64
Label=Number of Colors.
Label[ca]=Nombre de colors
Label[da]=Antal farver.
Label[en_GB]=Number of Colours.
Label[es]=Cantidad de colores.
Label[eu]=Kolore kopurua.
Label[fr]=Nombre de couleurs.
Label[no]=Antall farger.
Label[ru]=ëÏÌÉŞÅÓÔ×Ï Ã×ÅÔÏ×.
Label[wa]=Cobén di coleurs.

Comment=Change the number of colors to use.
Comment[ca]=Canvia el nombre de colors a usar.
Comment[da]=Ændr antal farver som skal anvendes.
Comment[en_GB]=Change the number of colours to use.
Comment[es]=Cambie la cantidad de colores a usar.
Comment[eu]=Erabili beharreko kolore kopurua aldatu.
Comment[fr]=Change le nombre de couleurs à utiliser. 
Comment[no]=Endre antall farger som skal brukes.
Comment[ru]=éÚÍÅÎÅÎÉÅ ŞÉÓÌÁ ÉÓĞÏÌØÚÕÅÍÙÈ Ã×ÅÔÏ×. 
Comment[wa]=Candjî li nombe di coleurs a eployî.

[Arg1]
Name=Delay
Type=LRange
Flag=-delay
LeftLabel=Faster
LeftLabel[ca]=Ràpid
LeftLabel[da]=Hurtigere
LeftLabel[es]=Rápido
LeftLabel[eu]=Arin
LeftLabel[fr]=Rapide
LeftLabel[ja]=Â®¤¤
LeftLabel[no]=Fortere
LeftLabel[pt]=Rápido
LeftLabel[pt_BR]=Rápido
LeftLabel[ru]=âÙÓÔÒÅÅ
LeftLabel[wa]=Roed

RightLabel=Slower
RightLabel[ca]=Lent
RightLabel[da]=Langsommere
RightLabel[es]=Lento
RightLabel[eu]=Astiro
RightLabel[fr]=Lent
RightLabel[ja]=ÃÙ¤¤
RightLabel[no]=Saktere
RightLabel[pt]=Lento
RightLabel[pt_BR]=Lento
RightLabel[ru]=íÅÄÌÅÎÎÅÅ
RightLabel[wa]=Londjin

ValType=I[1-500000]=2
Label=Speed of Motion.
Label[ca]=Velocitat del moviment
Label[da]=Bevægelseshastighed.
Label[es]=Velocidad de la animación
Label[eu]=Animazioaren abiadura
Label[fr]=Vitesse de l'animation
Label[no]=Bevegelseshastighet.
Label[pt]=Velocidade da animação
Label[pt_BR]=Velocidade da animação
Label[ru]=óËÏÒÏÓÔØ Ä×ÉÖÅÎÉÑ.
Label[wa]=Roedeu di l' animåcion

Comment=Change the delay in cycles.
Comment[ca]=Canvia el retard en cicles.
Comment[da]=Ændr pausen mellem runderne.
Comment[es]=Cambiar la velocidad de la animación.
Comment[eu]=Animazio abiadura aldatu.
Comment[fr]=Change la vitesse de l'animation.
Comment[no]=Endre pausen mellom rundene.
Comment[pt_BR]=Muda o atraso em ciclos.
Comment[ru]=éÚÍÅÎÅÎÉÅ ÚÁÄÅÒÖËÉ × ÃÉËÌÁÈ.
Comment[wa]=Candjî li roedeu di l' animåcion.

[Arg2]
Name=Count
Type=NRange
LeftLabel=Count:
LeftLabel[ca]=Bombolles:
LeftLabel[da]=Antal:
LeftLabel[es]=Burbujas:
LeftLabel[eu]=Zenbat:
LeftLabel[fr]=Bulles:
LeftLabel[no]=Telling:
LeftLabel[pt_BR]=Bolhas:
LeftLabel[ru]=ğÕÚÙÒÅÊ
LeftLabel[wa]=Boles:

Flag=-count
ValType=I[1-10000]=1000
Label=Number of bubbles to use.
Label[ca]=Nombre de bombolles
Label[da]=Antal bobler som skal anvendes.
Label[es]=Cantidad de burbujas a usar.
Label[eu]=Erabili beharreko burbuila kopurua aldatu.
Label[fr]=Nombre de bulles à utiliser. 
Label[no]=Antall bobler som skal brukes.
Label[pt_BR]=Número de bolhas.
Label[ru]=ëÏÌÌÉŞÅÓÔ×Ï ĞÕÚÙÒÅÊ.
Label[wa]=Nombe di boles a eployî.

Comment=Change the number of bubbles to use.
Comment[ca]=Canvia el nombre de bombolles a usar.
Comment[da]=Ændr antallet bobler som skal anvendes.
Comment[es]=Cambiar la cantidad de burbujas a usar.
Comment[eu]=Erabili beharreko burbuila kopurua aldatu.
Comment[fr]=Change le nombre de bulles à utiliser.
Comment[no]=Endre antallet bobler som skal brukes.
Comment[pt_BR]=Muda o número de bolhas a usar.
Comment[ru]=éÚÍÅÎÅÎÉÅ ËÏÌÌÉŞÅÓÔ×Á ĞÕÚÙÒÅÊ.
Comment[wa]=Candjî li nombe di boles a eployî.

[Arg3]
Name=3D
Type=Check
Flag=-3d
Flag2=
LeftLabel=Use red/blue 3d seperation.
LeftLabel[ca]=Usar separació roig/blau (efecte 3D)
LeftLabel[da]=Brug rød/blå 3D-separation.
LeftLabel[es]=Utilizar la separación rojo/azul para un efecto 3d.
LeftLabel[eu]=3d-tako gorri/urdin banaketa erabili.
LeftLabel[fr]=Utiliser le separation rouge/bleu pour un effet 3d.
LeftLabel[no]=Bruk rød/blå 3D-separasjon.
LeftLabel[pt_BR]=Usa separação 3D vermelho/azul.
LeftLabel[ru]=éÓĞÏÌØÚÏ×ÁÔØ "ËÒÁÓÎÏ-ÓÉÎÉÊ" 3d ÜÆÆÅËÔ.
LeftLabel[wa]=Eployî li separåcion rodje/bleu po èn efet 3d.

Comment=Use red/blue 3d seperation.
Comment[ca]=Usa la separació roig/blau per donar un efecte 3D
Comment[da]=Brug rød/blå separation for en 3D-lignende effekt.
Comment[es]=Utilizar la separación rojo/azul para un efecto 3d.
Comment[eu]=3d-tako gorri/urdin banaketa erabili.
Comment[fr]=Utilise le separation rouge/bleu pour un effet 3d.
Comment[no]=Bruk rød/blå separasjon for en 3D-lignende effekt.
Comment[pt_BR]=Usa separação 3D vermelho/azul.
Comment[ru]=éÓĞÏÌØÚÏ×ÁÔØ "ËÒÁÓÎÏ-ÓÉÎÉÊ" 3d ÜÆÆÅËÔ.
Comment[wa]=Eployî li separåcion rodje/bleu po èn efet 3d.

[Arg4]
Name=Monochrome
Type=Check
Flag=-mono
Flag2=
LeftLabel=Display screensaver in monochrome.
LeftLabel[ca]=Mostrar el protector en monocrom
LeftLabel[da]=Vis pauseskærmen i sort/hvid.
LeftLabel[es]=Cambiar a la visualización en monocromo.
LeftLabel[eu]=Pantaila babesle monokromoa.
LeftLabel[fr]=Changer l'affichage en monochrome. 
LeftLabel[no]=Vis skjermspareren i monokrom.
LeftLabel[pt]=Protecção de ecrã monocromática
LeftLabel[pt_BR]=Proteção de monitor monocromático
LeftLabel[ru]=ğÅÒÅËÌÀŞÉÔØ × ÏÄÎÏÔÏÎÎÙÊ ÒÅÖÉÍ.
LeftLabel[wa]=Candjî li håynaedje è monocrome.

Comment=Change to display in monochrome.
Comment[ca]=Mostra el protector en monocrom.
Comment[da]=Ændr til sort/hvid-visning.
Comment[es]=Cambiar a la visualización en monocromo.
Comment[eu]=Pantaila babesle monokromoa.
Comment[fr]=Change l'affichage en monochrome.
Comment[no]=Endre til monokrom visning.
Comment[pt]=Mostra a protecção de ecrã em monocromo.
Comment[pt_BR]=Mostra a proteção de tela em monocromo.
Comment[ru]=ğÅÒÅËÌÀŞÉÔØ × ÏÄÎÏÔÏÎÎÙÊ ÒÅÖÉÍ.
Comment[wa]=Candjî li håynaedje è monocrome.

