[Desktop Entry]
Name=Braid
Name[ca]=Trenes
Name[da]=Fletning
Name[es]=Galones
Name[fr]=Galons
Name[no]=Flette
Name[ru]=ôÅÓØÍÁ
Comment=Random color-cycling braids in a circle.
Comment[ca]=Unes trenes aleatòries circulars que canvien cíclicament de color.
Comment[da]=Vilkårlige farveændrende fletninger i en cirkel.
Comment[es]=Galones trenzados en círculo que cambian de color cíclicamente.
Comment[fr]=Galons tressés en cercle qui change de couleur cycliquement.
Comment[no]=Vilkårlige fargeendrende fletter i en sirkel.
Exec=xscreensaver-command -activate
TryExec=braid
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=braid.png
Author=John Neil <neil@math.idbsu.edu>
ExtendedComment=The braid program draws random color-cycling braids around a circle.
ExtendedComment[ca]=Dibuixa unes trenes aleatòries disposades en cercle el color de les quals varia cíclicament.
ExtendedComment[da]=Fletteprogrammet tegner vilkårlige farveændrende fletninger rundt omkring en cirkel.
ExtendedComment[es]=Este salvapantallas dibuja unos galones trenzados en círculo con colores que cambian al azar cíclicamente.
ExtendedComment[fr]=Cet économiseur d'écran dessine des galons tressés en cercle aux couleurs changeantes aléatoirement.  
ExtendedComment[no]=Fletteprogrammet tegner vilkårlige fargeendrende fletter rundt en sirkel.
Demo=braid -delay 2

[Arg0]
Name=Colors
Type=NRange
LeftLabel=Colors:
LeftLabel[pt_BR]=Cores:
LeftLabel[ca]=Colors:
LeftLabel[da]=Farver:
LeftLabel[en_GB]=Colours:
LeftLabel[es]=Colores:
LeftLabel[eu]=Koloreak:
LeftLabel[fr]=Couleurs:
LeftLabel[ja]=¿§:
LeftLabel[no]=Farger:
LeftLabel[ru]=ã×ÅÔÁ:
LeftLabel[wa]=Coleurs:

Flag=-ncolors
ValType=I[1-256]=64
Label=Number of Colors.
Label[ca]=Nombre de colors
Label[da]=Antal farver.
Label[en_GB]=Number of Colours.
Label[es]=Cantidad de colores.
Label[eu]=Kolore kopurua.
Label[fr]=Nombre de couleurs.
Label[no]=Antall farger.
Label[ru]=ëÏÌÉŞÅÓÔ×Ï Ã×ÅÔÏ×.
Label[wa]=Cobén di coleurs.

Comment=Change the number of colors to use.
Comment[ca]=Canvia el nombre de colors a usar.
Comment[da]=Ændr antal farver som skal anvendes.
Comment[es]=Cambie la cantidad de colores a usar.
Comment[en_GB]=Change the number of colours to use.
Comment[eu]=Erabili beharreko kolore kopurua aldatu.
Comment[fr]=Changer le nombre de couleurs à utiliser. 
Comment[no]=Endre antall farger som skal brukes.
Comment[ru]=éÚÍÅÎÅÎÉÅ ŞÉÓÌÁ ÉÓĞÏÌØÚÕÅÍÙÈ Ã×ÅÔÏ×. 
Comment[wa]=Candjî li nombe di coleurs a eployî.

[Arg1]
Name=Monochrome
Type=Check
Flag=-mono
Flag2=
LeftLabel=Display screensaver in monochrome.
LeftLabel[ca]=Mostrar el protector en monocrom
LeftLabel[da]=Vis pauseskærmen i sort/hvid.
LeftLabel[es]=Cambiar a la visualización en monocromo.
LeftLabel[eu]=Pantaila babesle monokromoa.
LeftLabel[fr]=Changer l'affichage en monochrome. 
LeftLabel[no]=Vis skjermspareren i monokrom.
LeftLabel[pt]=Protecção de ecrã monocromática
LeftLabel[pt_BR]=Proteção de monitor monocromático
LeftLabel[ru]=ğÅÒÅËÌÀŞÉÔØ × ÏÄÎÏÔÏÎÎÙÊ ÒÅÖÉÍ.
LeftLabel[wa]=Candjî li håynaedje è monocrome.

Comment=Change to display in monochrome.
Comment[ca]=Mostra el protector en monocrom.
Comment[da]=Ændr til sort/hvid-visning.
Comment[es]=Cambiar a la visualización en monocromo.
Comment[eu]=Pantaila babesle monokromoa.
Comment[fr]=Change l'affichage en monochrome.
Comment[no]=Endre til monokrom visning.
Comment[pt]=Mostra a protecção de ecrã em monocromo.
Comment[pt_BR]=Mostra a proteção de tela em monocromo.
Comment[ru]=ğÅÒÅËÌÀŞÉÔØ × ÏÄÎÏÔÏÎÎÙÊ ÒÅÖÉÍ.
Comment[wa]=Candjî li håynaedje è monocrome.

