[Desktop Entry]
Name=Bsod
Name[ca]=BSoD
Name[da]=BSoD
Name[es]=BSoD
Name[fr]=BSoD
Name[no]=Bsod
Name[pt]=BSoD
Name[pt_BR]=BSoD
Comment=Blue Screen of Death
Comment[ca]=La Pantalla Blava de la Mort
Comment[da]=Dødens blå skærm, som set på windåwsen
Comment[es]=La pantalla azul de la muerte
Comment[fr]=L'écran bleu de la mort qui tue
Comment[no]=Blue Screen of Death
Comment[pt]=O ecrã azul da morte
Comment[pt_BR]=A tela azul da morte
Comment[wa]=Li bleue waitroûleye del moirt
Exec=xscreensaver-command -activate
TryExec=bsod
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=bsod.png
Author=Jamie Zawinski <jwz@netscape.com>
ExtendedComment=Bsod simulates crash screens from other operating systems.
ExtendedComment[ca]=BSoD simula les pantalles d'error crític d'altres sistemes operatius.
ExtendedComment[es]=BSoD simula las pantallas de fallo de varios sistemas operativos (Windows, Amiga, MacOS,... inclusive Linux 2.1.* :-) ).
ExtendedComment[fr]=BSoD émule les crash de plusieurs systèmes d'exploitation (Windows, Amiga, MacOS,... même Linux 2.1.* :-) ).
ExtendedComment[no]=BSoD simulerer krasjskjermer fra andre operativsystemer.
ExtendedComment[pt]=O BSoD simula crashes de vários sistemas operativos (Windows, Amiga, MacOS,... até mesmo o Linux 2.1.* :-) ).
ExtendedComment[pt_BR]=O BSoD simula crashes de vários sistemas operacionais (Windows, Amiga, MacOS,... até mesmo o Linux 2.1.* :-) ).
DefaultFlags=-root
Demo=bsod -delay 2

[Arg0]
Name=Delay
Type=LRange
Flag=-delay
LeftLabel=Faster
LeftLabel[ca]=Ràpid
LeftLabel[es]=Rápido
LeftLabel[eu]=Arin
LeftLabel[fr]=Rapide
LeftLabel[ja]=Â®¤¤
LeftLabel[no]=Fortere
LeftLabel[pt]=Rápido
LeftLabel[pt_BR]=Rápido
LeftLabel[ru]=âÙÓÔÒÅÅ
LeftLabel[wa]=Roed

RightLabel=Slower
RightLabel[ca]=Lent
RightLabel[es]=Lento
RightLabel[eu]=Astiro
RightLabel[fr]=Lent
RightLabel[ja]=ÃÙ¤¤
RightLabel[no]=Saktere
RightLabel[pt_BR]=Lento
RightLabel[ru]=íÅÄÌÅÎÎÅÅ
RightLabel[wa]=Londjin

ValType=I[1-500000]=2
Label=Speed of Motion.
Label[ca]=Velocitat de l'animació
Label[es]=Velocidad de la animación
Label[eu]=Animazioaren abiadura
Label[fr]=Vitesse de l'animation
Label[no]=Bevegelseshastighet.
Label[pt]=Velocidade da animação
Label[pt_BR]=Velocidade da animação
Label[ru]=óËÏÒÏÓÔØ Ä×ÉÖÅÎÉÑ.
Label[wa]=Roedeu di l' animåcion

Comment=Change the delay.
Comment[ca]=Canvia el retard de l'animació.
Comment[es]=Cambiar la velocidad de la animación.
Comment[eu]=Animazio abiadura aldatu.
Comment[fr]=Change la vitesse de l'animation.
Comment[no]=Endre pausen.
Comment[pt]=Modifica a velocidade da animação.
Comment[pt_BR]=Modifica a velocidade da animação.
Comment[ru]=éÚÍÅÎÅÎÉÅ ÚÁÄÅÒÖËÉ × ÃÉËÌÁÈ.
Comment[wa]=Candjî li roedeu di l' animåcion.

[Arg1]
Name=Monochrome
Type=Check
Flag=-mono
Flag2=
LeftLabel=Display screensaver in monochrome.
LeftLabel[ca]=Mostrar el protector en monocrom
LeftLabel[es]=Cambiar a la visualización en monocromo.
LeftLabel[eu]=Pantaila babesle monokromoa.
LeftLabel[fr]=Changer l'affichage en monochrome. 
LeftLabel[no]=Vis skjermspareren i monokrom.
LeftLabel[pt]=Protecção de ecrã monocromática
LeftLabel[pt_BR]=Proteção de monitor monocromático
LeftLabel[ru]=ğÅÒÅËÌÀŞÉÔØ × ÏÄÎÏÔÏÎÎÙÊ ÒÅÖÉÍ.
LeftLabel[wa]=Candjî li håynaedje è monocrome.

Comment=Change to display in monochrome.
Comment[ca]=Mostra el protector en monocrom.
Comment[es]=Cambiar a la visualización en monocromo.
Comment[eu]=Pantaila babesle monokromoa.
Comment[fr]=Change l'affichage en monochrome.
Comment[no]=Endre til monokrom visning.
Comment[pt]=Mostra a protecção de ecrã em monocromo.
Comment[pt_BR]=Mostra a proteção de tela em monocromo.
Comment[ru]=ğÅÒÅËÌÀŞÉÔØ × ÏÄÎÏÔÏÎÎÙÊ ÒÅÖÉÍ.
Comment[wa]=Candjî li håynaedje è monocrome.

