[Desktop Entry]
Name=Bubbles
Name[ca]=Bombolles
Name[da]=Bobler
Name[es]=Burbujas
Name[eu]=Burbuilak
Name[fr]=Bulles
Name[ja]=Ë¢
Name[no]=Bobler
Name[ru]=ğÕÚÙÒÉ
Name[wa]=Boles
Comment=Lots of random bubbles grow until they pop.
Comment[ca]=Un fum de bombolles que creixen fins esclatar.
Comment[es]=Burbujas que crecen hasta que revientan.
Comment[fr]=Des bulles qui grandissent jusqu'à ce qu'elles éclatent.
Comment[no]=Mange vilkårlige bobler som vokser til de sprekker.
Exec=xscreensaver-command -activate
TryExec=bubbles
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=bubbles.png
Author=James Macnicol <J.Macnicol@student.anu.edu.au>
ExtendedComment=Bubbles sprays tiny bubbles which grow until they go pop.
ExtendedComment[ca]=«Bombolles» dispersa bombolletes que creixen fins esclatar.
ExtendedComment[es]=Este salvapantallas dibuja por la pantalla burbujas esféricas que van creciendo hasta que revientan y aparecen otras.
ExtendedComment[fr]=Cet économiseur d'écran dessine des bulles qui vont grandissant jusqu'à éclater, et ainsi de suite.
ExtendedComment[no]=Bobler spruter ut små bobler som vokser til de sprekker.
Demo=bubbles -delay 2

[Arg0]
Name=Delay
Type=LRange
Flag=-delay
LeftLabel=Faster
LeftLabel[ca]=Ràpid
LeftLabel[es]=Rápido
LeftLabel[eu]=Arin
LeftLabel[fr]=Rapide
LeftLabel[ja]=Â®¤¤
LeftLabel[no]=Fortere
LeftLabel[pt]=Rápido
LeftLabel[ru]=âÙÓÔÒÅÅ
LeftLabel[wa]=Roed

RightLabel=Slower
RightLabel[ca]=Lent
RightLabel[es]=Lento
RightLabel[eu]=Astiro
RightLabel[fr]=Lent
RightLabel[ja]=ÃÙ¤¤
RightLabel[no]=Saktere
RightLabel[pt]=Lento
RightLabel[ru]=íÅÄÌÅÎÎÅÅ
RightLabel[wa]=Londjin
ValType=I[1-500000]=2

Label=Speed of Motion.
Label[ca]=Velocitat de l'animació
Label[es]=Velocidad de la animación
Label[eu]=Animazioaren abiadura
Label[fr]=Vitesse de l'animation
Label[no]=Bevegelseshastighet.
Label[pt]=Velocidade da animação
Label[ru]=óËÏÒÏÓÔØ Ä×ÉÖÅÎÉÑ.
Label[wa]=Roedeu di l' animåcion

Comment=Change the delay in cycles.
Comment[ca]=Canvia el retard entre cicles.
Comment[es]=Cambiar la velocidad de la animación.
Comment[eu]=Animazio abiadura aldatu.
Comment[fr]=Change la vitesse de l'animation.
Comment[no]=Endre pausen mellom rundene.
Comment[ru]=éÚÍÅÎÅÎÉÅ ÚÁÄÅÒÖËÉ × ÃÉËÌÁÈ.
Comment[wa]=Candjî li roedeu di l' animåcion.

[Arg1]
Name=Simple
Type=Check
Flag=-simple
Flag2=
LeftLabel=Draw circles instead of pixmap bubbles.
LeftLabel[ca]=Mostrar cercles i no pixmaps de bombolles
LeftLabel[es]=Dibujar círculos en vez de imágenes pixmap.
LeftLabel[fr]=Utiliser des cercles plutôt que des pixmaps.
LeftLabel[no]=Tegn sirkler i stedet for pixmap bobler.

Comment=Draw circles instead of pixmap bubbles.
Comment[ca]=Dibuixa les bombolles amb cercles en comptes d'amb mapes de bits.
Comment[es]=Dibujar círculos en vez de imágenes pixmap para las burbujas.
Comment[fr]=Dessiner des cercles plutôt que d'utiliser des images pixmap pour les bulles.
Comment[no]=Tegn sirkler i stedet for pixmap bobler.

[Arg2]
Name=Broken
Type=Check
Flag=-broken
Flag2=
LeftLabel=Don't hide bubbles when they pop.
LeftLabel[ca]=No amagar les bombolles esclatades
LeftLabel[es]=No borrar las burbujas que revientan.
LeftLabel[fr]=Ne pas effacer les bulles qui éclatent.
LeftLabel[no]=Ikke gjem boblene når de sprekker.

Comment=Don't hide bubbles when they pop.
Comment[ca]=Deixa a la pantalla les bombolles que han esclatat.
Comment[es]=Deja en la pantalla la imágen de las burbujas aunque hayan reventado.
Comment[fr]=Laisse à l'écran l'image des bulles qui ont éclaté.
Comment[no]=Ikke gjem boblene når de sprekker.

[Arg3]
Name=3D
Type=Check
Flag=-3D
Flag2=
LeftLabel=Bubbles exist in three dimensions.
LeftLabel[ca]=Les bombolles existeixen en tres dimensions
LeftLabel[es]=Las burbujas existen en tres dimensiones.
LeftLabel[fr]=Les bulles existent en trois dimensions.
LeftLabel[no]=Boblene eksisterer i tre dimensjoner.

Comment=Bubbles exist in three dimensions.
Comment[ca]=Les bombolles existeixen en tres dimensions.
Comment[es]=Las burbujas existen en tres dimensiones.
Comment[fr]=Les bulles existent en trois dimensions.
Comment[no]=Boblene eksisterer i tre dimensjoner.

[Arg4]
Name=Monochrome
Type=Check
Flag=-mono
Flag2=
LeftLabel=Display screensaver in monochrome.
LeftLabel[ca]=Mostrar el protector en monocrom
LeftLabel[es]=Cambiar a la visualización en monocromo.
LeftLabel[eu]=Pantaila babesle monokromoa.
LeftLabel[fr]=Changer l'affichage en monochrome. 
LeftLabel[no]=Vis skjermspareren i monokrom.
LeftLabel[pt]=Protecção de ecrã monocromática
LeftLabel[ru]=ğÅÒÅËÌÀŞÉÔØ × ÏÄÎÏÔÏÎÎÙÊ ÒÅÖÉÍ.
LeftLabel[wa]=Candjî li håynaedje è monocrome.

Comment=Change to display in monochrome.
Comment[ca]=Mostra el protector en monocrom.
Comment[es]=Cambiar a la visualización en monocromo.
Comment[eu]=Pantaila babesle monokromoa.
Comment[fr]=Change l'affichage en monochrome.
Comment[no]=Endre til monokrom visning.
Comment[pt]=Mostra a protecção de ecrã em monocromo.
Comment[ru]=ğÅÒÅËÌÀŞÉÔØ × ÏÄÎÏÔÏÎÎÙÊ ÒÅÖÉÍ.
Comment[wa]=Candjî li håynaedje è monocrome.


