[Desktop Entry]
Name=Bubble3d
Name[da]=3dBobler
Name[fr]=Bulle3d
Name[no]=3dBobler
Name[pt_BR]=Bolhas3d
Comment=Lots of bubbles floating around, in 3d
Comment[da]=En masse bobler der flyder rundt på skærmen i 3d
Comment[fr]=Beaucoup de bulles flottant aux alentours, en 3D
Comment[no]=Mengder av bobler som flyter rundt, i 3D
Comment[pt_BR]=Bolhas em 3d flutuando
Exec=xscreensaver-command -activate
TryExec=bubble3d
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Demo=bubble3d


