[Desktop Entry]
Name=Cage
Name[da]=Bur
Name[de]=Käfig
Name[es]=Jaula
Name[fr]=Cage
Name[no]=Bur
Name[pt_BR]=Caixa
Name[wa]=Gayole
Comment=The famous, M.C. Escher, impossible cage
Comment[de]=M.C. Eschers berühmter unmöglicher Käfig
Comment[es]=La famosa jaula imposible de M.C. Eschers
Comment[fr]=La cage impossible de M.C. Eschers
Comment[no]=Det berømte, umulige buret av M.C. Escher
Comment[pt_BR]=A famosa caixa impossível de M.C. Escher
Comment[wa]=L' impossibe gayole da M.C. Eschers
Exec=xscreensaver-command -activate
TryExec=cage
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Demo=cage


