[Desktop Entry]
Name=Compass
Name[da]=Kompas
Name[no]=Kompass
Comment=Display a spinning compass
Comment[no]=Viser et snurrende kompass
Exec=xscreensaver-command -activate
TryExec=compass
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Demo=compass
