[Desktop Entry]
Name=Coral
Name[ca]=Coral
Name[da]=Koral
Name[es]=Coral
Name[fr]=Corail
Name[ja]=ªπ∏Í
Name[no]=Korall
Name[pt_BR]=Coral
Name[ru]=Îœ“¡ÃÃ
Comment=Simulates coral growth
Comment[ca]=Simula el creixement del coral
Comment[es]=Simula el crecimiento del coral
Comment[fr]=Simule la croissance du corail
Comment[no]=Simulerer veksten til korall
Comment[pt_BR]=Simula o crescimento de corais
Exec=xscreensaver-command -activate
TryExec=coral
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=coral.png
Author=Frederick Roeber
ExtendedComment=Simulates coral growth.
ExtendedComment[ca]=Simula el creixement d'una colÚnia de coral.
ExtendedComment[es]=Este salvapantalles simula el crecimiento de un arrecife coralino.
ExtendedComment[fr]=Cet Èconomiseur d'Ècran simule la croissance d'un rÈcif coralien.
ExtendedComment[no]=Simulerer veksten til korall.
Demo=coral -delay 2

[Arg0]
Name=Density
Type=LRange
Flag=-density
LeftLabel=Denser
LeftLabel[ca]=Dens
LeftLabel[es]=Concentrado
LeftLabel[fr]=ConcentrÈ
LeftLabel[no]=Tettere

RightLabel=Thinner
RightLabel[ca]=Clar
RightLabel[es]=Claro
RightLabel[fr]=ClairsemÈ
RightLabel[no]=Tynnere
ValType=I[10-100]=50

Label=Density
Label[pt_BR]=Densidade
Label[ca]=Densitat
Label[es]=ConcentraciÛn
Label[fr]=Concentration
Label[no]=Tetthet

Comment=Change the density.
Comment[ca]=Canvia la densitat del coral.
Comment[es]=Cambiar la concentraciÛn del coral.
Comment[fr]=Changer la concentration de corail.
Comment[no]=Endre tettheten.

[Arg1]
Name=Seeds
Type=NRange

LeftLabel=Seeds
LeftLabel[ca]=Focus
LeftLabel[es]=Focos
LeftLabel[fr]=Foyers
LeftLabel[no]=Fr¯
Flag=-seeds
ValType=I[1-100]=30

Label=Number of seeds
Label[ca]=Nombre de focus
Label[es]=Cantidad de focos
Label[fr]=Nombre de foyers
Label[no]=Startantall

Comment=Change number of seeds.
Comment[ca]=Canvia el nombre de focus de creixement.
Comment[es]=Cambiar la cantidad de focos de los cuales se inicia e lcrecimiento.
Comment[fr]=Changer le nombre de foyers de dissemination.
Comment[no]=Endre antall ved start.

[Arg2]
Name=Delay
Type=LRange
Flag=-delay

LeftLabel=Faster
LeftLabel[ca]=R‡pid
LeftLabel[es]=R·pido
LeftLabel[eu]=Arin
LeftLabel[fr]=Rapide
LeftLabel[ja]=¬Æ§§
LeftLabel[no]=Fortere
LeftLabel[pt]=R·pido
LeftLabel[ru]=‚Ÿ”‘“≈≈
LeftLabel[wa]=Roed

RightLabel=Slower
RightLabel[ca]=Lent
RightLabel[es]=Lento
RightLabel[eu]=Astiro
RightLabel[fr]=Lent
RightLabel[ja]=√Ÿ§§
RightLabel[no]=Saktere
RightLabel[pt]=Lento
RightLabel[ru]=Ì≈ƒÃ≈ŒŒ≈≈
RightLabel[wa]=Londjin

ValType=I[1-500000]=2
Label=Speed of Motion.
Label[ca]=Velocitat de l'animaci
Label[es]=Velocidad de la animaciÛn
Label[eu]=Animazioaren abiadura
Label[fr]=Vitesse de l'animation
Label[no]=Bevegelseshastighet.
Label[pt]=Velocidade da animaÁ„o
Label[ru]=ÛÀœ“œ”‘ÿ ƒ◊…÷≈Œ…—.
Label[wa]=Roedeu di l' animÂcion

Comment=Change the delay in cycles.
Comment[ca]=Canvia el retard en cicles.
Comment[es]=Cambiar la velocidad de crecimiento.
Comment[fr]=Changer la vitesse de croissance du corail.
Comment[no]=Endre pausene i sykluser.
Comment[wa]=CandjÓ li roedeu di crexhmint

