[Desktop Entry]
Name=Critical
Name[pt_BR]=Crítico
Name[da]=Kritisk
Name[no]=Kritisk
Comment=Display coloured polylines
Comment[da]=Viser farvede polylinjer
Comment[no]=Viser fargede polylinjer
Exec=xscreensaver-command -activate
TryExec=critical
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Demo=critical
