[Desktop Entry]
Name=Crystal
Name[da]=Krystal
Name[es]=Cristal
Name[fr]=Cristal
Name[ja]=¿å¾½
Name[no]=Krystall
Name[ru]=ëÒÉÓÔÁÌÌ
Comment=Moving polygons, similar to a kaleidescope.
Comment[es]=Polígonos de colores en movimiento, similar a un caleidoscopio.
Comment[fr]=Des polygones de couleur en mouvement, semblable à un kaleïdoscope.
Comment[no]=Polygoner i bevegelse, lik et kaleidoskop.
Exec=xscreensaver-command -activate
TryExec=crystal
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=crystal.png
Author=Jouk Jansen
ExtendedComment=Moving polygons, similar to a kaleidescope.
ExtendedComment[es]=Este salvapantallas dibuja polígonos de colores en movimiento, que se reflejan como en un caleidoscopio.
ExtendedComment[fr]=Cet économiseur d'écran dessine des polygones de couleurs en mouvement comme dans un kaleïdoscope.
ExtendedComment[no]=Polygoner i bevegelse, lik et kaleidoskop.
Demo=crystal -delay 2

[Arg0]
Name=Colors
Type=NRange
LeftLabel=Colors:
LeftLabel[pt_BR]=Cores:
LeftLabel[es]=Colores:
LeftLabel[eu]=Koloreak:
LeftLabel[fr]=Couleurs:
LeftLabel[no]=Farger:
LeftLabel[ru]=ã×ÅÔÁ:
LeftLabel[wa]=Coleurs:
Flag=-ncolors
ValType=I[1-256]=64

Label=Number of Colors.
Label[es]=Cantidad de colores.
Label[eu]=Kolore kopurua.
Label[fr]=Nombre de couleurs.
Label[no]=Antall farger.
Label[ru]=ëÏÌÉŞÅÓÔ×Ï Ã×ÅÔÏ×.
Label[wa]=Nombe di coleurs.

Comment=Change the number of colors to use.
Comment[es]=Cambiar la cantidad de colores usada por el salvapantallas.
Comment[eu]=Erabili beharreko kolore kopurua aldatu.
Comment[fr]=Changer le nombre de couleurs utilisé par l'économiseur d'écran.
Comment[no]=Endre antall farger som skal brukes.
Comment[ru]=éÚÍÅÎÅÎÉÅ ŞÉÓÌÁ ÉÓĞÏÌØÚÕÅÍÙÈ Ã×ÅÔÏ×. 
Comment[wa]=Candjî li nombe di coleurs a eployî.

[Arg1]
Name=Delay
Type=LRange
Flag=-delay
LeftLabel=Faster
LeftLabel[es]=Rápido
LeftLabel[eu]=Arin
LeftLabel[fr]=Rapide
LeftLabel[ja]=Â®¤¤
LeftLabel[no]=Fortere
LeftLabel[pt]=Rápido
LeftLabel[ru]=âÙÓÔÒÅÅ
LeftLabel[wa]=Roed

RightLabel=Slower
RightLabel[es]=Lento
RightLabel[eu]=Astiro
RightLabel[fr]=Lent
RightLabel[ja]=ÃÙ¤¤
RightLabel[no]=Saktere
RightLabel[pt]=Lento
RightLabel[ru]=íÅÄÌÅÎÎÅÅ
RightLabel[wa]=Londjin

ValType=I[1-500000]=2
Label=Speed of Motion.
Label[es]=Velocidad de la animación
Label[eu]=Animazioaren abiadura
Label[fr]=Vitesse de l'animation
Label[no]=Bevegelseshastighet.
Label[pt]=Velocidade da animação
Label[ru]=óËÏÒÏÓÔØ Ä×ÉÖÅÎÉÑ.
Label[wa]=Roedeu di l' animåcion

Comment=Change the delay in cycles.
Comment[es]=Cambiar la velocidad de la animación.
Comment[eu]=Animazio abiadura aldatu.
Comment[fr]=Change la vitesse de l'animation.
Comment[no]=Endre pausen mellom rundene.
Comment[ru]=éÚÍÅÎÅÎÉÅ ÚÁÄÅÒÖËÉ × ÃÉËÌÁÈ.
Comment[wa]=Candjîz li roedeu di l' animåcion.

[Arg2]
Name=Count
Type=NRange
LeftLabel=Count:
LeftLabel[pt_BR]=Contador:
LeftLabel[es]=Cantidad:
LeftLabel[fr]=Nombre:
LeftLabel[no]=Antall:

Flag=-count
ValType=I[1-5000]=1000
Label=Number of polygons to use.
Label[es]=Cantidad de polígonos a usar.
Lable[fr]=Nombre de polygones à utiliser.
Label[no]=Antall polygoner som skal brukes.

Comment=Change the number of polygons to use.
Comment[es]=Cambiar la cantidad de polígonos.
Comment[fr]=Changer le nombre de polygones à l'écran.
Comment[no]=Endre antall polygoner som skal brukes.

[Arg3]
Name=Centre
Type=Check
Flag=-centre
Flag2=-no-centre
LeftLabel=Center image.
LeftLabel[es]=Centrado
LeftLabel[fr]=Centré
LeftLabel[no]=Sentrer bildet.

Comment=Center image.
Comment[es]=Mostrar la animación centrada en la pantalla.
Comment[fr]=Montrer l'animation centrée à l'écran.
Comment[no]=Sentrer bildet.

[Arg4]
Name=Monochrome
Type=Check
Flag=-mono
Flag2=
LeftLabel=Display screensaver in monochrome.
LeftLabel[es]=Cambiar a la visualización en monocromo.
LeftLabel[eu]=Pantaila babesle monokromoa.
LeftLabel[fr]=Changer l'affichage en monochrome.
LeftLabel[no]=Vis skjermspareren i monokrom.
LeftLabel[pt]=Protecção de ecrã monocromática
LeftLabel[ru]=ğÅÒÅËÌÀŞÉÔØ × ÏÄÎÏÔÏÎÎÙÊ ÒÅÖÉÍ.
LeftLabel[wa]=Candjî li håynaedje è monocrome.

Comment=Change to display in monochrome.
Comment[es]=Cambiar a la visualización en monocromo.
Comment[eu]=Pantaila babesle monokromoa.
Comment[fr]=Change l'affichage en monochrome.
Comment[no]=Endre til monokrom visning.
Comment[pt]=Mostra a protecção de ecrã em monocromo.
Comment[ru]=ğÅÒÅËÌÀŞÉÔØ × ÏÄÎÏÔÏÎÎÙÊ ÒÅÖÉÍ.
Comment[wa]=Candjî li håynaedje è monocrome.

[Arg5]
Name=Maxsize
Type=Check
Flag=-maxsize
Flag2=-no-maxsize
LeftLabel=Have at maximum size
LeftLabel[es]=Rellenar la pantalla
LeftLabel[fr]=Remplir l'écran
LeftLabel[no]=Behold ved maksimal størrelse

Comment=Have at maximum size
Comment[es]=Rellenar la pantalla
Comment[fr]=Remplir l'écran
Comment[no]=Behold ved maksimal størrelse

[Arg6]
Name=Cell
Type=Check
Flag=-cell
Flag2=-no-cell
LeftLabel=Cell
LeftLabel[es]=Células
LeftLabel[fr]=Cellules
LeftLabel[no]=Celle

Comment=Cell
Comment[es]=Células
Comment[fr]=Cellules
Comment[no]=Celle
