[Desktop Entry]
Name=Cynosure
Name[ca]=Cynosure
Name[da]=Cynosure
Name[es]=Cynosure
Name[fr]=Cynosure
Name[no]=Cynosure
Name[ru]=úÁ×ÌÅËÁÌËÁ
Comment=Franticly displays colored rectangles.
Comment[ca]=Dibuixa frenèticament rectangles de colors.
Comment[da]=Viser farvede rektangler på frenetisk vis.
Comment[es]=Muestra rectángulos de colores de manera frenética.
Comment[fr]=Affiche frénétiquement des rectangles colorés.
Comment[no]=Viser fargede rektangler på frenetisk vis.
Exec=xscreensaver-command -activate
TryExec=cynosure
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=cynosure.png
Author=Stephen Linhart, Ozymandias Desiderata, Jamie Zawinski
ExtendedComment=Cynosure franticly displays colored rectangles.
ExtendedComment[ca]=«Cynosure» dibuixa frenèticament rectangles de colors.
ExtendedComment[da]=Cynosure viser farvede rektangler på frenetisk vis.
ExtendedComment[es]=Cynosure dibuja rectángulos de colores de manera frenética.
ExtendedComment[fr]=Cynosure dessine frénétiquement des rectangles colorés.
ExtendedComment[no]=Cynosure viser fargede rektangler på frenetisk vis.
Demo=cynosure -delay 2

[Arg0]
Name=Colors
Type=NRange
LeftLabel=Colors:
LeftLabel[pt_BR]=Cores:
LeftLabel[ca]=Colors:
LeftLabel[da]=Farver:
LeftLabel[en_GB]=Colours:
LeftLabel[es]=Colores:
LeftLabel[eu]=Koloreak:
LeftLabel[fr]=Couleurs:
LeftLabel[ja]=¿§:
LeftLabel[no]=Farger:
LeftLabel[ru]=ã×ÅÔÁ:
LeftLabel[wa]=Coleurs:

Flag=-ncolors
ValType=I[1-256]=64
Label=Number of Colors.
Label[ca]=Nombre de colors
Label[da]=Antal farver.
Label[en_GB]=Number of Colours.
Label[es]=Cantidad de colores.
Label[eu]=Kolore kopurua.
Label[fr]=Nombre de couleurs.
Label[no]=Antall farger.
Label[ru]=ëÏÌÉŞÅÓÔ×Ï Ã×ÅÔÏ×.
Label[wa]=Nombe di coleurs.

Comment=Change the number of colors to use.
Comment[ca]=Canvia el nombre de colors a usar.
Comment[da]=Ændr antal farver som skal anvendes.
Comment[en_GB]=Change the number of colours to use.
Comment[es]=Cambiar la cantidad de colores usada por el salvapantallas.
Comment[eu]=Erabili beharreko kolore kopurua aldatu.
Comment[fr]=Changer le nombre de couleurs utilisé par l'économiseur d'écran.
Comment[no]=Endre antall farger som skal brukes.
Comment[ru]=éÚÍÅÎÅÎÉÅ ŞÉÓÌÁ ÉÓĞÏÌØÚÕÅÍÙÈ Ã×ÅÔÏ×.
Comment[wa]=Candjî li nombe di coleurs a eployî.

[Arg1]
Name=Iterations
Type=LRange
Flag=-iterations
LeftLabel=Less
LeftLabel[ca]=Menys
LeftLabel[da]=Færre
LeftLabel[es]=Menos
LeftLabel[fr]=Moins
LeftLabel[no]=Færre

RightLabel=More
RightLabel[pt_BR]=Mais
RightLabel[ca]=Més
RightLabel[da]=Flere
RightLabel[es]=Más
RightLabel[fr]=Plus
RightLabel[no]=Flere

ValType=I[1-100]=2
Label=Number of iterations.
Label[ca]=Nombre d'iteracions
Label[da]=Antal gennemgange.
Label[es]=Cantidad de iteraciones
Label[fr]=Nombre d'itérations.
Label[no]=Antall gjennomganger.

Comment=Change the number of iterations.
Comment[ca]=Canvia el nombre d'iteracions.
Comment[da]=Ændr antal gennemgange.
Comment[es]=Cambiar la cantidad de iteraciones
Comment[fr]=Changer le nombre d'itérations.
Comment[no]=Endre antall gjennomganger.

[Arg2]
Name=Delay
Type=LRange
Flag=-delay
LeftLabel=Faster
LeftLabel[ca]=Ràpid
LeftLabel[da]=Hurtigere
LeftLabel[es]=Rápido
LeftLabel[eu]=Arin
LeftLabel[fr]=Rapide
LeftLabel[ja]=Â®¤¤
LeftLabel[no]=Fortere
LeftLabel[pt]=Rápido
LeftLabel[ru]=âÙÓÔÒÅÅ
LeftLabel[wa]=Roed

RightLabel=Slower
RightLabel[ca]=Lent
RightLabel[da]=Langsommere
RightLabel[es]=Lento
RightLabel[eu]=Astiro
RightLabel[fr]=Lent
RightLabel[ja]=ÃÙ¤¤
RightLabel[no]=Saktere
RightLabel[pt]=Lento
RightLabel[ru]=íÅÄÌÅÎÎÅÅ
RightLabel[wa]=Londjin

ValType=I[1-500000]=2
Label=Speed of Motion.
Label[ca]=Velocitat de l'animació
Label[da]=Bevægelseshastighed.
Label[es]=Velocidad de la animación
Label[eu]=Animazioaren abiadura
Label[fr]=Vitesse de l'animation
Label[no]=Bevegelseshastighet.
Label[pt]=Velocidade da animação
Label[ru]=óËÏÒÏÓÔØ Ä×ÉÖÅÎÉÑ.
Label[wa]=Roedeu di l' animåcion

Comment=Change the delay in cycles.
Comment[ca]=Canvia el retard en cicles.
Comment[da]=Ændr pausen mellem runderne.
Comment[es]=Cambiar la velocidad de la animación.
Comment[eu]=Animazio abiadura aldatu.
Comment[fr]=Change la vitesse de l'animation.
Comment[no]=Endre pausen mellom rundene.
Comment[ru]=éÚÍÅÎÅÎÉÅ ÚÁÄÅÒÖËÉ × ÃÉËÌÁÈ.
Comment[wa]=Candjîz li roedeu di l' animåcion.

[Arg3]
Name=Monochrome
Type=Check
Flag=-mono
Flag2=
LeftLabel=Display screensaver in monochrome.
LeftLabel[ca]=Mostrar el protector en monocrom
LeftLabel[da]=Vis pauseskærmen i sort/hvid.
LeftLabel[es]=Cambiar a la visualización en monocromo.
LeftLabel[eu]=Pantaila babesle monokromoa.
LeftLabel[fr]=Changer l'affichage en monochrome. 
LeftLabel[no]=Vis skjermspareren i monokrom.
LeftLabel[pt]=Protecção de ecrã monocromática
LeftLabel[ru]=ğÅÒÅËÌÀŞÉÔØ × ÏÄÎÏÔÏÎÎÙÊ ÒÅÖÉÍ.
LeftLabel[wa]=Candjî li håynaedje è monocrome.

Comment=Change to display in monochrome.
Comment[ca]=Mostra el protector en monocrom.
Comment[da]=Ændr til sort/hvid-visning.
Comment[es]=Cambiar a la visualización en monocromo.
Comment[eu]=Pantaila babesle monokromoa.
Comment[fr]=Change l'affichage en monochrome.
Comment[no]=Endre til monokrom visning.
Comment[pt]=Mostra a protecção de ecrã em monocromo.
Comment[ru]=ğÅÒÅËÌÀŞÉÔØ × ÏÄÎÏÔÏÎÎÙÊ ÒÅÖÉÍ.
Comment[wa]=Candjî li håynaedje è monocrome.

