[Desktop Entry]
Name=Decayscreen
Name[ca]=Fondre
Name[da]=Forvitrende skærm
Name[es]=Derretido
Name[fr]=Fondu
Name[no]=Forvitrende skjerm
Name[ru]=òÁÓĞÁÄ ÜËÒÁÎÁ
Comment=Makes a screen melt down
Comment[ca]=Fa que la pantalla es fonga.
Comment[es]=El contenido de la pantalla se derrite y se escurre.
Comment[fr]=L'affichage à l'écran semble fondre et couler.
Comment[no]=Smelter ned skjermen
Exec=xscreensaver-command -activate
TryExec=decayscreen
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=decayscreen.png
Author=Vivek Khera <khera@cs.duke.edu>
ExtendedComment=Decayscreen makes a screen look like its melting down.
ExtendedComment[ca]=«Fondre» simula que la pantalla es fon i s'esmuny.
ExtendedComment[es]=El contenido de la pantalla se derrite y se escurre.
ExtendedComment[fr]=L'affichage à l'écran semble fondre et couler.
ExtendedComment[no]=Forvitrende skjerm får skjermen til å se ut som om den smelter ned.
Demo=decayscreen -delay 2

[Arg0]
Name=Delay
Type=LRange
Flag=-delay
LeftLabel=Faster
LeftLabel[ca]=Ràpid
LeftLabel[es]=Rápido
LeftLabel[eu]=Arin
LeftLabel[fr]=Rapide
LeftLabel[ja]=Â®¤¤
LeftLabel[no]=Fortere
LeftLabel[pt]=Rápido
LeftLabel[ru]=âÙÓÔÒÅÅ
LeftLabel[wa]=Roed

RightLabel=Slower
RightLabel[ca]=Lent
RightLabel[es]=Lento
RightLabel[eu]=Astiro
RightLabel[fr]=Lent
RightLabel[ja]=ÃÙ¤¤
RightLabel[pt]=Lento
RightLabel[no]=Saktere
RightLabel[ru]=íÅÄÌÅÎÎÅÅ
RightLabel[wa]=Londjin

ValType=I[1-500000]=2
Label=Speed of Motion.
Label[ca]=Velocitat de l'animació
Label[es]=Velocidad de la animación
Label[eu]=Animazioaren abiadura
Label[fr]=Vitesse de l'animation
Label[no]=Bevegelseshastighet.
Label[pt]=Velocidade da animação
Label[ru]=óËÏÒÏÓÔØ Ä×ÉÖÅÎÉÑ.
Label[wa]=Roedeu di l' animåcion

Comment=Change the delay in cycles.
Comment[ca]=Canvia el retard en cicles.
Comment[es]=Cambiar la velocidad de la animación.
Comment[eu]=Animazio abiadura aldatu.
Comment[fr]=Change la vitesse de l'animation.
Comment[no]=Endre pausen mellom rundene.
Comment[ru]=éÚÍÅÎÅÎÉÅ ÚÁÄÅÒÖËÉ × ÃÉËÌÁÈ.
Comment[wa]=Candjîz li roedeu di l' animåcion.

[Arg1]
Name=Monochrome
Type=Check
Flag=-mono
Flag2=
LeftLabel=Display screensaver in monochrome.
LeftLabel[ca]=Mostrar el protector en monocrom
LeftLabel[es]=Cambiar a la visualización en monocromo.
LeftLabel[eu]=Pantaila babesle monokromoa.
LeftLabel[fr]=Changer l'affichage en monochrome. 
LeftLabel[no]=Vis skjermspareren i monokrom.
LeftLabel[pt]=Protecção de ecrã monocromática
LeftLabel[ru]=ğÅÒÅËÌÀŞÉÔØ × ÏÄÎÏÔÏÎÎÙÊ ÒÅÖÉÍ.
LeftLabel[wa]=Candjî li håynaedje è monocrome.

Comment=Change to display in monochrome.
Comment[ca]=Mostra el protector en monocrom.
Comment[es]=Cambiar a la visualización en monocromo.
Comment[eu]=Pantaila babesle monokromoa.
Comment[fr]=Change l'affichage en monochrome.
Comment[no]=Endre til monokrom visning.
Comment[pt]=Mostra a protecção de ecrã em monocromo.
Comment[ru]=ğÅÒÅËÌÀŞÉÔØ × ÏÄÎÏÔÏÎÎÙÊ ÒÅÖÉÍ.
Comment[wa]=Candjî li håynaedje è monocrome.


