[Desktop Entry]
Name=Deco
Name[ca]=DИco
Name[da]=Deco
Name[es]=Deco
Name[fr]=DИco
Name[no]=Deco
Name[ru]=Деко
Comment=Draw tacky 70s basement wall panelling.
Comment[ca]=Dibuixa motius murals dels anys 70.
Comment[da]=Tegn 70-er kФldervФgspanel.
Comment[es]=Dibuja motivos murales de los aЯos 70
Comment[fr]=Dessine des motifs muraux des annИes 70
Comment[no]=Tegn 70-talls kjellerveggpanel
Comment[ru]=Прилипчивый стиль раскраски стен 70-х годов.
Exec=xscreensaver-command -activate
TryExec=deco
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=deco.png
Author=Jamie Zawinski <jwz@jwz.org>\nMichael D. Bayne <mdb@go2net.com>
ExtendedComment=Deco draws tacky 70s basement wall panelling.
ExtendedComment[ca]=╚DИco╩ dibuixa motius murals a l'estil dels anys 70.
ExtendedComment[da]=Deco tegner 70-er kФldervФgspaneler.
ExtendedComment[es]=Dibuja motivos de colores similares a los que se usaban para el empapelado en los aЯos 70.
ExtendedComment[fr]=Dessine des motifs criards comme ceux utilisИs dans les papiers peints des annИes 70.
ExtendedComment[no]=Deco tegner 70-talls kjellerveggpaneler.
ExtendedComment[ru]=Деко заполняет экран в прилипчивом стиле раскраски стен 70-х годов.
Demo=deco -delay 2


[Arg0]
Name=Delay
Type=LRange
ValType=I[1-20]=2
Flag=-delay
LeftLabel=Time between redraws:
LeftLabel[ca]=Temps entre redibuixat:
LeftLabel[da]=Tid mellem gentegninger:
LeftLabel[es]=Tiempo entre dos motivos:
LeftLabel[fr]=Temps entre deux motifs:
LeftLabel[no]=Tid mellom opptegning:
LeftLabel[ru]=Интервал перерисовки:

RightLabel=seconds
RightLabel[pt_BR]=segundos
RightLabel[ca]=segons
RightLabel[da]=sekunder
RightLabel[es]=segundos
RightLabel[fr]=secondes
RightLabel[no]=sekunder
RightLabel[ru]=Секунд
RightLabel[wa]=segondes

Comment=Changes the time between redrawing the screen.
Comment[ca]=Canvia el retard entre redibuixats de pantalla.
Comment[da]=фndrer tiden mellem gentegning af skФrmen.
Comment[es]=Cambia el tiempo de espera antes de re-dibujar la pantalla.
Comment[fr]=Change le temps d'attente avant de redessiner l'Иcran.
Comment[no]=Endrer tiden mellom opptegning av skjermen.
Comment[ru]=Изменение интервала между перерисовками.

[Arg1]
Name=Color
Type=Check
Flag=
Flag2=-mono
LeftLabel=Use color when drawing.
LeftLabel[ca]=Usar color als dibuixos
LeftLabel[da]=Brug farver ved tegning.
LeftLabel[en_GB]=Use colour when drawing.
LeftLabel[es]=En colores
LeftLabel[fr]=En couleurs
LeftLabel[no]=Bruk farge under tegning.
LeftLabel[ru]=Использование цвета
LeftLabel[wa]=х coleurs

Comment=Determines whether to draw the panels in color, or in black and white.
Comment[ca]=Determina si s'usarЮ color en dibuixar els motius.
Comment[da]=Bestemmer om der skal tegnes i farver, eller i sort/hvid.
Comment[en_GB]=Determines whether to draw the panels in colour, or in black and white.
Comment[es]=Elije si se usarАn los colores o en blanco y negro.
Comment[fr]=Determine si l'affichage se fera en couleurs ou en noir et blanc.
Comment[no]=Bestemmer om det skal tegnes i farger, eller i sort/hvitt.
Comment[ru]=Выбор между цветными или черно-белыми панелями.
Comment[wa]=Tchwezixhoz si li hЕynaedje va esse fwait Х coleurs oudoben Х blanc Хt noer.

[Arg2]
Name=Color-cycle
Type=Check
Flag=-cycle
Flag2=-no-cycle
LeftLabel=Cycle through colors.
LeftLabel[ca]=Voltar els colors
LeftLabel[da]=Bladr gennem farvene.
LeftLabel[en_GB]=Cycle through colors.
LeftLabel[es]=Ciclo de colores
LeftLabel[fr]=Cycle entre les couleurs
LeftLabel[no]=Bla gjennom fargene.
LeftLabel[ru]=Использовать цвета циклически.

Comment=This will cause the panes to flash.
Comment[ca]=AГР farЮ que els motius semblen parpellejar.
Comment[da]=Dette vil forЕrsage blinkning.
Comment[es]=Esto darА un efecto de parpadeo.
Comment[fr]=Ceci fera flasher les motifs.
Comment[no]=Dette vil forЕrsake blinking.

