[Desktop Entry]
Name=Deluxe
Name[da]=Deluxe
Name[no]=Deluxe
Comment=Display nice stuff
Comment[no]=Viser fine ting
Exec=xscreensaver-command -activate
TryExec=deluxe
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Demo=deluxe
