[Desktop Entry]
Name=Demon
Name[ca]=Dimoni
Name[da]=Dæmon
Name[fr]=Démon
Name[no]=Demon
Comment=A cellular automata that starts with a random field, and organizes it into stripes and spirals.
Comment[ca]=Un autòmat cel·lular que comença amb un camp aleatori i l'organitza en línies i espirals.
Comment[fr]=Un automate cellulaire qui démarre avec un champs aléatoire et s'organise en bandes et spirales.
Comment[no]=En "cellular automata" som starter med et tilfeldig felt, og organiserer det til striper og spiraler.
Exec=xscreensaver-command -activate
TryExec=demon
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Demo=demon
