[Desktop Entry]
Name=Distort
Name[ca]=Distorsió
Name[da]=Forvrængning
Name[es]=Distorción
Name[fr]=Distortion
Name[no]=Forvreng
Name[ru]=éÓËÒÉ×ÌÅÎÉÅ
Comment=Distort the screen
Comment[da]=Forvrænger skærmbilledet
Comment[es]=Crea distorciones de la imagen en la pantalla
Comment[es]=Crea distorciones de la imagen en la pantalla
Comment[fr]=Créé des distortions de l'image
Comment[no]=Forvrengning av skjermbildet
Exec=xscreensaver-command -activate
TryExec=distort
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=distort.png
Author=
ExtendedComment=This screensaver does distortions of some areas of the screen, as if some object was moving under the image
ExtendedComment[es]=Este salvapantallas crea distorciones de ciertas partes de la pantalla, como si se desplazara un objeto por debajo
ExtendedComment[fr]=Cet économiseur d'écran créé des distortions de l'image, comme si une taupe se déplaçait par dessous l'image
ExtendedComment[no]=Denne skjermspareren forvrenger områder på skjermen, som om noen objekter flyttet seg under bildet
Demo=distort -delay 2

