[Desktop Entry]
Name=Drift
Name[ca]=Deriva
Name[da]=Drift
Name[es]=Deriva
Name[fr]=Dérive
Name[no]=Drift
Name[ru]=äÒÅÊÆ
Comment=Drifting recursive fractal cosmic flames.
Comment[ca]=Flamerades còsmiques de fractals recursius.
Comment[da]=Drivende, rekursive, fraktale, kosmiske flammer.
Comment[es]=Dibuja fuegos cósmicos con fractales recursivas.
Comment[fr]=Dessine des feux cosmiques avec des fractales récursives.
Comment[no]=Drivende, rekursive, fraktale, kosmiske flammer.
Exec=xscreensaver-command -activate
TryExec=drift
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=drift.png
Author=Scot Draves <spot@cs.cmu.edu>
ExtendedComment=Drift draws drifting recursive fractal cosmic flames.
ExtendedComment[ca]=Dibuixa flamerades còsmiques a la deriva usant fractals recursius.
ExtendedComment[da]=Drift tegner drivende, rekursive, fraktale, kosmiske flammer.
ExtendedComment[es]=Este salvapantallas dibuja fuegos cósmicos con fractales recursivas.
ExtendedComment[fr]=Cet économiseur d'écran dessine des feux cosmiques avec des fractales récursives.
ExtendedComment[no]=Drift tegner drivende, rekursive, fraktale, kosmiske flammer.
Demo=drift -delay 2

[Arg0]
Name=Colors
Type=NRange
LeftLabel=Colors:
LeftLabel[pt_BR]=Cores:
LeftLabel[ca]=Colors:
LeftLabel[da]=Farver:
LeftLabel[en_GB]=Colours:
LeftLabel[es]=Colores:
LeftLabel[eu]=Koloreak:
LeftLabel[fr]=Couleurs:
LeftLabel[ja]=¿§:
LeftLabel[no]=Farger:
LeftLabel[ru]=ã×ÅÔÁ:
LeftLabel[wa]=Coleurs:

Flag=-ncolors
ValType=I[1-256]=200
Label=Number of Colors.
Label[ca]=Nombre de colors
Label[da]=Antal farver.
Label[en_GB]=Number of Colours.
Label[es]=Cantidad de colores.
Label[eu]=Kolore kopurua.
Label[fr]=Nombre de couleurs.
Label[no]=Antall farger.
Label[ru]=ëÏÌÉŞÅÓÔ×Ï Ã×ÅÔÏ×.
Label[wa]=Nombe di coleurs.

Comment=Change the number of colors to use.
Comment[ca]=Canvia el nombre de colors a usar.
Comment[da]=Ændr antal farver som skal bruges.
Comment[en_GB]=Change the number of colours to use.
Comment[es]=Cambiar la cantidad de colores usada por el salvapantallas.
Comment[eu]=Erabili beharreko kolore kopurua aldatu.
Comment[fr]=Changer le nombre de couleurs utilisé par l'économiseur d'écran.
Comment[no]=Endre antall farger som skal brukes.
Comment[ru]=éÚÍÅÎÅÎÉÅ ŞÉÓÌÁ ÉÓĞÏÌØÚÕÅÍÙÈ Ã×ÅÔÏ×.
Comment[wa]=Candjîz li nombe di coleurs a eployî.

[Arg1]
Name=Delay
Type=LRange
Flag=-delay
LeftLabel=Faster
LeftLabel[ca]=Ràpid
LeftLabel[da]=Hurtigere
LeftLabel[es]=Rápido
LeftLabel[eu]=Arin
LeftLabel[fr]=Rapide
LeftLabel[ja]=Â®¤¤
LeftLabel[no]=Fortere
LeftLabel[ru]=âÙÓÔÒÅÅ
LeftLabel[wa]=Roed

RightLabel=Slower
RightLabel[ca]=Lent
RightLabel[da]=Langsommere
RightLabel[es]=Lento
RightLabel[eu]=Astiro
RightLabel[fr]=Lent
RightLabel[ja]=ÃÙ¤¤
RightLabel[no]=Saktere
RightLabel[ru]=íÅÄÌÅÎÎÅÅ
RightLabel[wa]=Londjin

ValType=I[1-500000]=2
Label=Speed of Motion.
Label[ca]=Velocitat de l'animació
Label[da]=Bevægelseshastighed.
Label[es]=Velocidad de la animación
Label[eu]=Animazioaren abiadura
Label[fr]=Vitesse de l'animation
Label[no]=Bevegelseshastighet.
Label[ru]=óËÏÒÏÓÔØ Ä×ÉÖÅÎÉÑ.
Label[wa]=Roedeu di l' animåcion

Comment=Change the delay in cycles.
Comment[ca]=Canvia la velocitat de l'animació
Comment[da]=Ændr pausen mellem runderne.
Comment[es]=Cambiar la velocidad de la animación.
Comment[eu]=Animazio abiadura aldatu.
Comment[fr]=Change la vitesse de l'animation.
Comment[no]=Endre pausen mellom rundene.
Comment[ru]=éÚÍÅÎÅÎÉÅ ÚÁÄÅÒÖËÉ × ÃÉËÌÁÈ.
Comment[wa]=Candjî li roedeu di l' animåcion.

[Arg2]
Name=Count
Type=NRange
LeftLabel=Count:
LeftLabel[pt_BR]=Contador:
LeftLabel[ca]=Píxels:
LeftLabel[da]=Piksler:
LeftLabel[es]=Pixeles:
LeftLabel[fr]=Pixels:
LeftLabel[no]=Piksler:
LeftLabel[ru]=ğÕÚÙÒÅÊ:
LeftLabel[wa]=Pixels:

Flag=-count
ValType=I[1-5000]=1000
Label=Number of pixels to use.
Label[ca]=Nombre de píxels
Label[da]=Antal piksler som skal bruges.
Label[es]=Cambiar la cantidad de pixeles a usar.
Label[fr]=Changer le nombre de pixels à utiliser.
Label[no]=Antall piksler som skal brukes.
Label[wa]=Nombe di pixels a eployî.

Comment=Change the number of bubbles to use.
Comment[ca]=Canvia la quantitat de píxels a usar.
Comment[da]=Ændr antal piksler som skal bruges.
Comment[es]=Cambiar la cantidad de pixeles a usar.
Comment[fr]=Changer le nombre de pixels à utiliser.
Comment[no]=Endre antall piksler som skal brukes.
Comment[wa]=Candjî li nombe di pixels a eployî.

[Arg3]
Name=Grow
Type=Check
Flag=-grow
Flag2=-no-grow
LeftLabel=Fractals should grow.
LeftLabel[ca]=Fer que els fractals cresquen
LeftLabel[da]=Fraktaler skal vokse.
LeftLabel[es]=Las fractales deben crecer.
LeftLabel[fr]=Les fractales doivent grandir.
LeftLabel[no]=Fraktaler skal vokse.

Comment=Change whether fractals should grow.
Comment[ca]=Fa que els fractals cresquen.
Comment[da]=Ændr om fraktaler skal vokse.
Comment[es]=Pide que las fractales crezcan.
Comment[fr]=Demande que les fractales grandissent.
Comment[no]=Endre om fraktaler skal vokse.

[Arg4]
Name=Monochrome
Type=Check
Flag=-mono
Flag2=
LeftLabel=Display screensaver in monochrome.
LeftLabel[ca]=Mostrar el protector en monocrom
LeftLabel[da]=Vis pauseskærmen i sort/hvid.
LeftLabel[es]=Cambiar a la visualización en monocromo.
LeftLabel[eu]=Pantaila babesle monokromoa.
LeftLabel[fr]=Changer l'affichage en monochrome. 
LeftLabel[pt]=Protecção de ecrã monocromática
LeftLabel[no]=Vis skjermspareren i monokrom.
LeftLabel[ru]=ğÅÒÅËÌÀŞÉÔØ × ÏÄÎÏÔÏÎÎÙÊ ÒÅÖÉÍ.
LeftLabel[wa]=Candjî li håynaedje è monocrome.

Comment=Change to display in monochrome.
Comment[ca]=Mostra el protector en monocrom.
Comment[da]=Ændr til sort/hvid-visning.
Comment[es]=Cambiar a la visualización en monocromo.
Comment[eu]=Pantaila babesle monokromoa.
Comment[fr]=Change l'affichage en monochrome.
Comment[no]=Endre til monokrom visning.
Comment[pt]=Mostra a protecção de ecrã em monocromo.
Comment[ru]=ğÅÒÅËÌÀŞÉÔØ × ÏÄÎÏÔÏÎÎÙÊ ÒÅÖÉÍ.
Comment[wa]=Candjî li håynaedje è monocrome.

[Arg5]
Name=Lissajous
Type=Check
Flag=-liss
Flag2=-no-liss
LeftLabel=Use lissajous figures to get points.
LeftLabel[ca]=Usar figures de lissajous per obtenir punts
LeftLabel[da]=Brug lissajous figurer til at hente punkter.
LeftLabel[es]=Usar figuras de lissajous para obtener los puntos.
LeftLabel[fr]=Utiliser des figures de lissajous pour obtenir les points.
LeftLabel[no]=Bruk lissajous figurer til å hente punkter.

Comment=Change whether to use lissajous figures to get points.
Comment[ca]=Usa figures de lissajous per obtenir els punts.
Comment[da]=Ændr til at bruge lissajous figurer for at få punkter.
Comment[es]=Usar figuras de lissajous para obtener los puntos.
Comment[fr]=Utiliser des figures de lissajous pour obtenir les points.
Comment[no]=Endre til å bruke lissajous figurer for å få punkter.

