[Desktop Entry]
Name=Epicycle
Name[ca]=Epicicle
Name[da]=Epicyklus
Name[es]=Epiciclo
Name[fr]=Épicycle
Name[ja]=¼şÅ¾±ß
Name[no]=Epicycle
Name[ru]=üĞÉÃÉËÌ
Comment=Draws a point moving around a circle which moves around a circle.
Comment[ca]=Un punt que roda sobre un cercle que roda sobre un cercle.
Comment[da]=Tegner et punkt som flytter sig rundt om en cirkel som bevæger sig rundt om en cirkel.
Comment[es]=Dibuja la trajectoria de un punto que se desplaza sobre una rueda.
Comment[fr]=Dessine la trajectoire d'un point sur une route en mouvement.
Comment[no]=Tegner et punkt som flytter seg rundt en sirkel som beveger seg rundt en sirkel.
Exec=xscreensaver-command -activate
TryExec=epicycle
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=epicycle.png
Author=James Youngman <jay@gnu.org>
ExtendedComment=Epicycle draws the path traced out by a point on the edge of a circle that is rotating around the rim of another circle, and so on.
ExtendedComment[ca]=«Epicicle» mostra la trajectòria seguida per un punt que roda al voltant d'un cercle que al seu entorn en volta un altre.
ExtendedComment[da]=Epicyklus tegner stien som spores af et punkt på kanten af en cirkel som roterer rundt om kanten af en anden cirkel, osv.
ExtendedComment[es]=Este salvapantallas dibuja la trajectoria de un punto sobre un círculo en rotación que se desplaza sobre otro círculo
ExtendedComment[fr]=Cet économiseur d'écran dessine la trajectoire d'un point sur un cercle en rotation qui se déplace sur le contour d'un autre cercle.
ExtendedComment[no]=Epicycle tegner stien som spores av et punkt på kanten av en sirkel som roterer rundt kanten av en annen sirkel, osv.
Demo=epicycle -delay 2

[Arg0]
Name=Delay
Type=LRange
Flag=-delay
LeftLabel=Faster
LeftLabel[ca]=Ràpid
LeftLabel[da]=Hurtigere
LeftLabel[es]=Rápido
LeftLabel[eu]=Arin
LeftLabel[fr]=Rapide
LeftLabel[ja]=Â®¤¤
LeftLabel[no]=Fortere
LeftLabel[ru]=âÙÓÔÒÅÅ
LeftLabel[wa]=Roed

RightLabel=Slower
RightLabel[ca]=Lent
RightLabel[da]=Langsommere
RightLabel[es]=Lento
RightLabel[eu]=Astiro
RightLabel[fr]=Lent
RightLabel[ja]=ÃÙ¤¤
RightLabel[no]=Saktere
RightLabel[ru]=íÅÄÌÅÎÎÅÅ
RightLabel[wa]=Londjin

ValType=I[1-500000]=2
Label=Speed of Motion.
Label[ca]=Velocitat del moviment
Label[da]=Bevægelseshastighed.
Label[es]=Velocidad de la animación
Label[eu]=Animazioaren abiadura
Label[fr]=Vitesse de l'animation
Label[no]=Bevegelseshastighet.
Label[ru]=óËÏÒÏÓÔØ Ä×ÉÖÅÎÉÑ.
Label[wa]=Roedeu di l' animåcion

Comment=Change the delay in cycles.
Comment[ca]=Canvia la velocitat del moviment
Comment[da]=Ændr pausen mellem runderne.
Comment[es]=Cambiar la velocidad de la animación.
Comment[eu]=Animazio abiadura aldatu.
Comment[fr]=Change la vitesse de l'animation.
Comment[no]=Endre pausen mellom rundene.
Comment[ru]=éÚÍÅÎÅÎÉÅ ÚÁÄÅÒÖËÉ × ÃÉËÌÁÈ.
Comment[wa]=Candjî li roedeu di l' animåcion.

[Arg1]
Name=Holdtime
Type=NRange
Flag=-holdtime
LeftLabel=Seconds
LeftLabel[pt_BR]=segundo
LeftLabel[ca]=Segons
LeftLabel[da]=Sekunder
LeftLabel[es]=Segundos
LeftLabel[fr]=Secondes
LeftLabel[no]=Sekunder

ValType=I[1-15]=3
Label=Time finished product is shown.
Label[ca]=Espera amb el dibuix acabat
Label[da]=Produket af tiden før færdigstilling vises.
Label[es]=Tiempo de espera
Label[fr]=Temps de pose
Label[no]=Produket av tiden før ferdigstilling vises.

Comment=When the figure is complete, epicycle pauses this number of seconds.
Comment[ca]=En acabar la figura, esperar aquest nombre de segons.
Comment[da]=Når figuren er komplet, venter epicyklus dette antal sekunder.
Comment[es]=Cuando la figura está completada, el salvapantallas espera por la cantidad de segundos especificada.
Comment[fr]=Quand la figure est finie l'économiseur d'écran prends un temps de pose specifié en secondes.
Comment[no]=Når figuren er komplett, venter epicycle dette antall sekunder.

[Arg2]
Name=Monochrome
Type=Check
Flag=-mono
Flag2=
LeftLabel=Display screensaver in monochrome.
LeftLabel[ca]=Mostrar el protector en monocrom
LeftLabel[da]=Vis pauseskærmen i sort/hvid.
LeftLabel[es]=Cambiar a la visualización en monocromo.
LeftLabel[eu]=Pantaila babesle monokromoa.
LeftLabel[fr]=Changer l'affichage en monochrome. 
LeftLabel[pt]=Protecção de ecrã monocromática
LeftLabel[no]=Vis skjermspareren i monokrom.
LeftLabel[ru]=ğÅÒÅËÌÀŞÉÔØ × ÏÄÎÏÔÏÎÎÙÊ ÒÅÖÉÍ.
LeftLabel[wa]=Candjî li håynaedje è monocrome.

Comment=Change to display in monochrome.
Comment[ca]=Mostra el protector en monocrom.
Comment[da]=Ændr til sort/hvid-visning.
Comment[es]=Cambiar a la visualización en monocromo.
Comment[eu]=Pantaila babesle monokromoa.
Comment[fr]=Change l'affichage en monochrome.
Comment[no]=Endre til monokrom visning.
Comment[pt]=Mostra a protecção de ecrã em monocromo.
Comment[ru]=ğÅÒÅËÌÀŞÉÔØ × ÏÄÎÏÔÏÎÎÙÊ ÒÅÖÉÍ.
Comment[wa]=Candjî li håynaedje è monocrome.

