[Desktop Entry]
Name=Flag
Name[pt_BR]=ParБmetro
Name[ca]=Bandera
Name[da]=Flag
Name[es]=Bandera
Name[eu]=Bandera
Name[fr]=Drapeau
Name[ja]=╢З
Name[no]=Flagg
Name[ru]=Флаг
Name[uk]=Прапор
Name[wa]=Drapea
Comment=Draws a waving flag.
Comment[ca]=Mostra una bandera onejant.
Comment[es]=Dibuja una bandera de pixeles flameando.
Comment[fr]=Dessine un drapeau flottant au vent.
Comment[no]=Tegner et bЬlgende flagg.
Comment[uk]=Малю╓ прапор, що розвива╓ться.
Exec=xscreensaver-command -activate
TryExec=flag
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=flag.png
Author=Charles Vidal <vidalc@univ-mlv.fr>
ExtendedComment=Flag draws a waving flab, containing text or an image.
ExtendedComment[ca]=Mostra una bandera de pМxels onejant, composta per un text o una imatge.
ExtendedComment[es]=Dibuja una bandera flameante, compuesta de pixels que forman un texto o una imАgen.
ExtendedComment[fr]=Dessine un drapeau flottant au vent reprИsentant un texte ou une image.
ExtendedComment[no]=Flagg tegner et bЬlgende flagg som inneholder tekst eller et bilde.
ExtendedComment[uk]=Малю╓ прапор, що розвива╓ться; м╕стить текст або зображення.
DefaultFlags=-root
Demo=flag -delay 2

[Arg0]
Name=Colors
Type=NRange
LeftLabel=Colors:
LeftLabel[pt_BR]=Cores:
LeftLabel[ca]=Colors:
LeftLabel[en_GB]=Colours:
LeftLabel[es]=Colores:
LeftLabel[eu]=Koloreak:
LeftLabel[fr]=Couleurs:
LeftLabel[ja]=©╖:
LeftLabel[no]=Farger:
LeftLabel[ru]=Цвета:
LeftLabel[uk]=Кольори:
LeftLabel[wa]=Coleurs:

Flag=-ncolors
ValType=I[1-256]=64
Label=Number of Colors.
Label[ca]=Nombre de colors
Label[en_GB]=Number of Colours.
Label[es]=Cantidad de colores.
Label[eu]=Kolore kopurua.
Label[fr]=Nombre de couleurs.
Label[no]=Antall farger.
Label[ru]=Количество цветов.
Label[uл]=К╕льк╕сть кольор╕в.
Label[wa]=Nombe di coleurs.

Comment=Change the number of colors to use.
Comment[ca]=Canvia el nombre de colors a usar.
Comment[en_GB]=Change the number of colours to use.
Comment[es]=Cambiar la cantidad de colores usada por el salvapantallas.
Comment[eu]=Erabili beharreko kolore kopurua aldatu.
Comment[fr]=Change le nombre de couleurs utilisИ par l'Иconomiseur d'Иcran.
Comment[no]=Endre antall farger som skal brukes.
Comment[ru]=Изменение числа используемых цветов.
Comment[uk]=Зм╕на числа кольор╕в.
Comment[wa]=CandjН li nombe di coleurs a eployН.

[Arg1]
Name=Cycles
Type=LRange
Flag=-cycles
LeftLabel=Faster
LeftLabel[ca]=RЮpid
LeftLabel[es]=RАpido
LeftLabel[eu]=Arin
LeftLabel[fr]=Rapide
LeftLabel[ja]=б╝╓╓
LeftLabel[no]=Fortere
LeftLabel[ru]=Быстрее
LeftLabel[uk]=Менша
LeftLabel[wa]=Roed

RightLabel=Slower
RightLabel[ca]=Lent
RightLabel[es]=Lento
RightLabel[eu]=Astiro
RightLabel[fr]=Lent
RightLabel[ja]=цы╓╓
RightLabel[no]=Saktere
RightLabel[ru]=Медленнее
RightLabel[uk]=Б╕льша
RightLabel[wa]=Londjin

ValType=I[50-500000]=3000
Label=Delay between switches.
Label[ca]=Retard entre canvis
Label[es]=Tiempo en ciclos entre cambios.
Label[fr]=Temps en cycles entre des changements.
Label[no]=Pause mellom bytter.
Label[uk]=Затримка м╕ж оновленнями.

Comment=Change the delay between changing modes.
Comment[ca]=Canvia el retard en cicles entre els canvis.
Comment[es]=Cambiar el tiempo en ciclos entre cambios.
Comment[fr]=Changer le temps en cycles entre des changements.
Comment[no]=Endre ventetiden mellom bytte av modus.
Comment[uk]=Зм╕на затримки м╕ж оновленнями.

[Arg3]
Name=Size
Type=NRange
LeftLabel=Size:
LeftLabel[pt_BR]=Tamanho:
LeftLabel[ca]=Tamany:
LeftLabel[es]=TamaЯo:
LeftLabel[fr]=Taille:
LeftLabel[no]=StЬrrelse:
LeftLabel[ru]=Размер:
LeftLabel[uk]=Розм╕р:
LeftLabel[wa]=Grandeu:

Flag=-size
ValType=I[1-8]=4
Label=Size of pixels
Label[ca]=Tamany dels pМxels
Label[es]=TamaЯo de los pixeles
Label[fr]=Taille des pixels
Label[no]=StЬrrelse pЕ pikslene
Label[uk]=Розм╕р п╕ксел╕в
Label[wa]=Grandeu des pixels

Comment=Change the size of pixels in the flag.
Comment[ca]=Canvia el tamany dels pМxels de la bandera.
Comment[es]=Cambiar el tamaЯo de los pixeles de la bandera.
Comment[fr]=Changer la taille des pixels du drapeau.
Comment[no]=Endre stЬrrelsen pЕ pikslene i flagget.
Comment[uk]=Зм╕на розм╕ру п╕ксел╕в у прапор╕.
Comment[wa]=CandjН li grandeu des pixels.

[Arg4]
Name=Monochrome
Type=Check
Flag=-mono
Flag2=
LeftLabel=Display screensaver in monochrome.
LeftLabel[ca]=Mostrar el protector en monocrom
LeftLabel[es]=Cambiar a la visualizaciСn en monocromo.
LeftLabel[eu]=Pantaila babesle monokromoa.
LeftLabel[fr]=Changer l'affichage en monochrome. 
LeftLabel[no]=Vis skjermspareren i monokrom.
LeftLabel[pt]=ProtecГЦo de ecrЦ monocromАtica
LeftLabel[ru]=Переключить в однотонный режим.
LeftLabel[wa]=CandjН li hЕynaedje Х monocrome.
LeftLabel[uk]=Показувати збер╕гач екрана монохромно.

Comment=Change to display in monochrome.
Comment[ca]=Mostra el protector en monocrom.
Comment[es]=Cambiar a la visualizaciСn en monocromo.
Comment[eu]=Pantaila babesle monokromoa.
Comment[fr]=Change l'affichage en monochrome.
Comment[no]=Endre til monokrom visning.
Comment[pt]=Mostra a protecГЦo de ecrЦ em monocromo.
Comment[ru]=Переключить в однотонный режим.
Comment[wa]=CandjН li hЕynaedje Х monocrome.
Comment[uk]=Зм╕на показу на монохромний.
