[Desktop Entry]
Name=Flame
Name[pt_BR]=Chama
Name[ca]=Flama
Name[da]=Flamme
Name[de]=Flamme
Name[es]=Llama
Name[fr]=Flamme
Name[ja]=╠Й
Name[no]=Flamme
Name[ru]=Пламя
Name[uk]=Пллум'я
Comment=Draw weird cosmic fractals.
Comment[ca]=Mostra fractals cРsmics estranys.
Comment[de]=Stellt seltsame, kosmische Fraktale dar.
Comment[es]=Dibuja fuegos cСsmicos fractales.
Comment[fr]=Dessine des feux cosmiques avec des fractales.
Comment[no]=Tegn rare kosmiske fraktaler.
Comment[uk]=Малю╓ дивн╕ косм╕чн╕ фрактали.
Exec=xscreensaver-command -activate
TryExec=flame
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=flame.png
Author=Scott Graves <spot@cs.cmu.edu>
ExtendedComment=Flame generates colorful fractal displays.
ExtendedComment[ca]=╚Flama╩ genera imatges plenes de color amb fractals.
ExtendedComment[de]=Flamme erzeugt farbige fraktale Darstellungen.
ExtendedComment[es]=Dibuja fuegos cСsmicos de colores usando franctales.
ExtendedComment[fr]=Dessine des feux cosmiques de couleurs en utilisant des fractales.
ExtendedComment[no]=Flamme genererer fargefulle fraktalvisninger.
ExtendedComment[uk]=Генеру╓ кольоров╕ фрактали.
Demo=flame -delay 2

[Arg0]
Name=Iterations
Type=NRange
LeftLabel=Iterations:
LeftLabel[pt_BR]=IteraГУes:
LeftLabel[ca]=Iteracions:
LeftLabel[es]=Iteraciones:
LeftLabel[fr]=ItИrations:
LeftLabel[no]=Iterasjoner:
LeftLabel[uk]=╤терац╕╖:

Flag=-iterations
ValType=I[1-250]=25
Label=Number of fractals to generate.
Label[ca]=Nombre de fractals
Label[es]=Cantidad de fractales a generar.
Label[fr]=Nombre de fractales a gИnИrer.
Label[no]=Antall fraktaler som skal genereres.
Label[uk]=Число фрактал╕в.

Comment=Change the number of fractals to generate.
Comment[ca]=Canvia el nombre de fractals a generar.
Comment[es]=Cambiar la cantidad de fractales a generar.
Comment[fr]=Changer le nombre de fractales a gИnИrer.
Comment[no]=Endre antall fraktaler som skal genereres.
Comment[uk]=Зм╕на числа фрактал╕в.

[Arg1]
Name=Points
Type=LRange
LeftLabel=Less
LeftLabel[ca]=Menys
LeftLabel[es]=Menos
LeftLabel[fr]=Moins
LeftLabel[no]=FФrre
LeftLabel[uk]=Менше

RightLabel=More
RightLabel[pt_BR]=Mais
RightLabel[ca]=MИs
RightLabel[es]=MАs
RightLabel[fr]=Plus
RightLabel[no]=Flere
RightLabel[uk]=Б╕льше

Flag=-points
ValType=I[1000-50000]=10000
Label=Pixels per fractal.
Label[ca]=PМxels per fractal
Label[es]=Pixeles por fractal.
Label[fr]=Pixels para fractale.
Label[no]=Piksler per fraktal.
Label[uk]=П╕ксел╕в на фрактал.

Comment=Change the number of pixels to draw for each fractal.
Comment[ca]=Canvia el nombre de pМxels per fractal.
Comment[es]=Cambiar la cantidad de pixeles por fractal.
Comment[fr]=Changer le nombre de pixels para fractale.
Comment[no]=Endre antall piksler som skal tegnes for hver fraktal.
Comment[uk]=Зм╕на числа п╕ксел╕в на фрактал.

[Arg2]
Name=Delay
Type=LRange
Flag=-delay
LeftLabel=Faster
LeftLabel[ca]=RЮpid
LeftLabel[es]=RАpido
LeftLabel[eu]=Arin
LeftLabel[fr]=Rapide
LeftLabel[ja]=б╝╓╓
LeftLabel[no]=Fortere
LeftLabel[ru]=Быстрее
LeftLabel[wa]=Roed
LeftLabel[uk]=Швидше

RightLabel=Slower
RightLabel[ca]=Lent
RightLabel[es]=Lento
RightLabel[eu]=Astiro
RightLabel[fr]=Lent
RightLabel[ja]=цы╓╓
RightLabel[no]=Saktere
RightLabel[ru]=Медленнее
RightLabel[wa]=Londjin
RightLabel[uk]=Пов╕льн╕ше

ValType=I[1-500000]=2
Label=Speed of Motion.
Label[ca]=Velocitat de l'animaciС
Label[es]=Velocidad de la animaciСn
Label[eu]=Animazioaren abiadura
Label[fr]=Vitesse de l'animation
Label[no]=Bevegelseshastighet.
Label[ru]=Скорость движения.
Label[wa]=Roedeu di l' animЕcion
Label[uk]=Швидк╕сть руху

Comment=Change the delay in cycles.
Comment[ca]=Canvia el retard en cicles.
Comment[es]=Cambiar la velocidad de la animaciСn.
Comment[eu]=Animazio abiadura aldatu.
Comment[fr]=Change la vitesse de l'animation.
Comment[no]=Endre pausen mellom rundene.
Comment[ru]=Изменение задержки в циклах.
Comment[wa]=CandjН li roedeu di l' animЕcion.
Comment[uk]=Зм╕на затримки в циклах.

[Arg3]
Name=Delay2
Type=LRange
Flag=-delay2
LeftLabel=Faster
LeftLabel[ca]=RЮpid
LeftLabel[es]=RАpido
LeftLabel[eu]=Arin
LeftLabel[fr]=Rapide
LeftLabel[no]=Fortere
LeftLabel[ru]=Быстрее
LeftLabel[wa]=Roed
LeftLabel[uk]=Швидше

RightLabel=Slower
RightLabel[ca]=Lent
RightLabel[es]=Lento
RightLabel[eu]=Astiro
RightLabel[fr]=Lent
RightLabel[no]=Saktere
RightLabel[ru]=Медленнее
RightLabel[wa]=Londjin
RightLabel[uk]=Пов╕льн╕ше

ValType=I[100000-7000000]=2000000
Label=Time finished product is shown.
Label[ca]=Espera amb el dibuix acabat
Label[es]=Tiempo de espera
Label[fr]=Temps de pose
Label[no]=Produket av tiden fЬr ferdigstilling vises.
Label[uk]=Час для показу згенерованого малюнку.

Comment=Change the time flame pauses after figure is complete.
Comment[ca]=En acabar la figura, esperar aquest nombre de segons.
Comment[es]=Cuando la figura estА completada, el salvapantallas espera por la cantidad de segundos especificada.
Comment[fr]=Quand la figure est finie l'Иconomiseur d'Иcran prends un temps de pose specifiИ en secondes.
Comment[no]=Endre pausetiden for flammen etter figuren er komplett.
Comment[uk]=Зм╕на часу для показу згенерованого малюнку.

[Arg4]
Name=Monochrome
Type=Check
Flag=-mono
Flag2=
LeftLabel=Display screensaver in monochrome.
LeftLabel[ca]=Mostrar el protector en monocrom
LeftLabel[es]=Cambiar a la visualizaciСn en monocromo.
LeftLabel[eu]=Pantaila babesle monokromoa.
LeftLabel[fr]=Changer l'affichage en monochrome. 
LeftLabel[no]=Vis skjermspareren i monokrom.
LeftLabel[pt]=ProtecГЦo de ecrЦ monocromАtica
LeftLabel[ru]=Переключить в однотонный режим.
LeftLabel[wa]=CandjН li hЕynaedje Х monocrome.
LeftLabel[uk]=Показувати збер╕гач екрана монохромно.

Comment=Change to display in monochrome.
Comment[ca]=Mostra el protector en monocrom.
Comment[es]=Cambiar a la visualizaciСn en monocromo.
Comment[eu]=Pantaila babesle monokromoa.
Comment[fr]=Change l'affichage en monochrome.
Comment[no]=Endre til monokrom visning.
Comment[pt]=Mostra a protecГЦo de ecrЦ em monocromo.
Comment[ru]=Переключить в однотонный режим.
Comment[wa]=CandjН li hЕynaedje Х monocrome.
Comment[uk]=Зм╕на показу на монохромний.
