[Desktop Entry]
Name=Flow
Name[ca]=Flux
Name[da]=Flyd
Name[es]=Flujo
Name[fr]=Flux
Name[no]=Flyt
Name[ru]=Поток
Name[uk]=Пот╕к
Comment=Draws a flow of colored points
Comment[da]=Tegner en strЬm af farvede punkter
Comment[en_GB]=Draws a flow of coloured points
Comment[es]=Dibuja con puntos de color un flujo 
Comment[fr]=Dessine un flux avec des points de couleur
Comment[no]=Tegner en strЬm av fargede punkter
Comment[uk]=Малю╓ пот╕к кольорових крапок
Exec=xscreensaver-command -activate
TryExec=flow
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=flow.png
Author=
ExtendedComment=Draws a flow of colored points
ExtendedComment[da]=Tegner en strЬm af farvede punkter
ExtendedComment[en_GB]=Draws a flow of coloured points
ExtendedComment[es]=Dibuja con puntos de color un flujo
ExtendedComment[fr]=Dessine un flux avec des points de couleur
ExtendedComment[no]=Tegner en strЬm av fargede punkter
ExtendedComment[uk]=Малю╓ пот╕к кольорових крапок
Demo=flow -delay 2

