[Desktop Entry]
Name=Forest
Name[pt_BR]=Floresta
Name[ca]=Bosc
Name[da]=Skov
Name[de]=Wald
Name[es]=Bosque
Name[fr]=Forêt
Name[ja]=¿¹
Name[no]=Skog
Name[ru]=ìÅÓ
Name[wa]=Bwes
Comment=Draws a fractal forest.
Comment[ca]=Dibuixa un bosc fractal
Comment[de]=Zeichnet einen fraktalen Wald.
Comment[es]=Dibuja un bosque fractal.
Comment[fr]=Dessine une forêt avec des fractales.
Comment[no]=Tegner en fraktal-skog.
Exec=xscreensaver-command -activate
TryExec=forest
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=forest.png
Author=Pascal Pensa <pensa@aurora.unice.fr>
ExtendedComment=Fractal draws a fractal forest.
ExtendedComment[ca]=«Bosc» dibuixa un bosc d'arbres fractals.
ExtendedComment[de]=Wald zeichnet einen fraktalen Wald.
ExtendedComment[es]=Este salvapantalla dibuja un bosque con arboles fractales.
ExtendedComment[fr]=Cet économiseur d'écran dessine une forêt avec des arbres faits avec des fractales.
ExtendedComment[no]=Tegner en skog av fraktaler.
Demo=forest -delay 2

[Arg0]
Name=Colors
Type=NRange
LeftLabel=Colors:
LeftLabel[pt_BR]=Cores:
LeftLabel[ca]=Colors:
LeftLabel[en_GB]=Colours:
LeftLabel[es]=Colores:
LeftLabel[eu]=Koloreak:
LeftLabel[fr]=Couleurs:
LeftLabel[ja]=¿§:
LeftLabel[no]=Farger:
LeftLabel[ru]=ã×ÅÔÁ:
LeftLabel[wa]=Coleurs:

Flag=-ncolors
ValType=I[1-256]=100
Label=Number of Colors.
Label[ca]=Nombre de colors
Label[en_GB]=Number of Colours.
Label[es]=Cantidad de colores.
Label[eu]=Kolore kopurua.
Label[fr]=Nombre de couleurs.
Label[no]=Antall farger.
Label[ru]=ëÏÌÉŞÅÓÔ×Ï Ã×ÅÔÏ×.
Label[wa]=Nombe di coleurs.

Comment=Change the number of colors to use.
Comment[ca]=Canvia el nombre de colors a usar.
Comment[en_GB]=Change the number of colours to use.
Comment[es]=Cambiar la cantidad de colores usada por el salvapantallas.
Comment[eu]=Erabili beharreko kolore kopurua aldatu.
Comment[fr]=Change le nombre de couleurs utilisé par l'économiseur d'écran.
Comment[no]=Endre antall farger som skal brukes.
Comment[ru]=éÚÍÅÎÅÎÉÅ ŞÉÓÌÁ ÉÓĞÏÌØÚÕÅÍÙÈ Ã×ÅÔÏ×.
Comment[wa]=Candjî li nombe di coleurs a eployî.

[Arg1]
Name=Cycles
Type=LRange
Flag=-cycles
LeftLabel=Faster
LeftLabel[ca]=Ràpid
LeftLabel[es]=Rápido
LeftLabel[eu]=Arin
LeftLabel[fr]=Rapide
LeftLabel[ja]=Â®¤¤
LeftLabel[no]=Fortere
LeftLabel[ru]=âÙÓÔÒÅÅ
LeftLabel[wa]=Roed

RightLabel=Slower
RightLabel[ca]=Lent
RightLabel[es]=Lento
RightLabel[eu]=Astiro
RightLabel[fr]=Lent
RightLabel[ja]=ÃÙ¤¤
RightLabel[no]=Saktere
RightLabel[ru]=íÅÄÌÅÎÎÅÅ
RightLabel[wa]=Londjin

ValType=I[1-500000]=2
Label=Delay between redraws.
Label[ca]=Espera amb el dibuix acabat
Label[es]=Demora al terminar el dibujo.
Label[fr]=Temps de pause
Label[no]=Pause mellom opptegninger.

Comment=Change the delay in cycles.
Comment[ca]=En acabar la figura, esperar aquest nombre de segons.
Comment[es]=Cuando la figura está completada, el salvapantallas espera por cierto tiempo especificado.
Comment[fr]=Quand la figure est finie l'économiseur d'écran prends un temps de pause specifié.
Comment[no]=Endre pausen i sykluser

[Arg2]
Name=Count
Type=NRange
LeftLabel=Count:
LeftLabel[pt_BR]=Contador:
LeftLabel[ca]=Arbres:
LeftLabel[es]=Árboles:
LeftLabel[fr]=Arbres:
LeftLabel[ja]=ÌÚ:
LeftLabel[no]=Antall:
LeftLabel[wa]=Åbes:

Flag=-count
ValType=I[1-1000]=100
Label=Number of trees to use.
Label[ca]=Nombre d'arbres
Label[es]=Cantidad de árboles.
Label[fr]=Nombre d'arbres.
Label[no]=Antall trær som skal brukes.
Label[wa]=Nombe d' åbes.

Comment=Change the number of trees to use.
Comment[ca]=Canvia el nombre d'arbres a usar.
Comment[es]=Cambiar la cantidad de árboles a usar.
Comment[fr]=Change le nombre d'arbres utilisé par l'économiseur d'écran.
Comment[no]=Endre antall trær som skal brukes.
Comment[wa]=Candjî li nombe d' åbes.

[Arg3]
Name=Monochrome
Type=Check
Flag=-mono
Flag2=
LeftLabel=Display screensaver in monochrome.
LeftLabel[ca]=Mostrar el protector en monocrom
LeftLabel[es]=Cambiar a la visualización en monocromo.
LeftLabel[eu]=Pantaila babesle monokromoa.
LeftLabel[fr]=Changer l'affichage en monochrome. 
LeftLabel[no]=Vis skjermspareren i monokrom.
LeftLabel[pt]=Protecção de ecrã monocromática
LeftLabel[ru]=ğÅÒÅËÌÀŞÉÔØ × ÏÄÎÏÔÏÎÎÙÊ ÒÅÖÉÍ.
LeftLabel[wa]=Candjî li håynaedje è monocrome.

Comment=Change to display in monochrome.
Comment[ca]=Mostra el protector en monocrom.
Comment[es]=Cambiar a la visualización en monocromo.
Comment[eu]=Pantaila babesle monokromoa.
Comment[fr]=Change l'affichage en monochrome.
Comment[no]=Endre til monokrom visning.
Comment[pt]=Mostra a protecção de ecrã em monocromo.
Comment[ru]=ğÅÒÅËÌÀŞÉÔØ × ÏÄÎÏÔÏÎÎÙÊ ÒÅÖÉÍ.
Comment[wa]=Candjî li håynaedje è monocrome.

