[Desktop Entry]
Name=Gears
Name[da]=Gears
Name[no]=Gears
Comment=The 3d mesa demo, of gears
Comment[no]=3D demo, "gears", fra Mesa
Exec=xscreensaver-command -activate
TryExec=gears
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Demo=gears


