[Desktop Entry]
Name=GLPlanet
Name[da]=GLPlanet
Name[fr]=GLPlanet
Name[no]=GLPlanet
Comment=A 3d globe
Comment[fr]=Un globe 3D
Comment[no]=En globus i 3D
Exec=xscreensaver-command -activate
TryExec=glplanet
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Demo=glplanet


