[Desktop Entry]
Name=Goop
Name[ca]=Goop
Name[da]=Goop
Name[es]=Gotas
Name[fr]=Gouttes
Name[no]=Goop
Name[wa]=Gotes
Comment=squishy transparent oil and bubbles
Comment[ca]=Bombolles i gotes d'oli que llisquen.
Comment[da]=Gennemsigtig olie og bobler
Comment[es]=Gotas de aceite en movimiento
Comment[fr]=Des gouttes d'huile en mouvement
Comment[no]=Gjennomsiktig olje og bobler
Comment[wa]=Des gotes d' ôle ki bodjèt
Exec=xscreensaver-command -activate
TryExec=goop
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=goop.png
Author=Jamie Zawinski <jwz@jwz.org>
ExtendedComment=Goop draws a simulation of bubbles in layers.
ExtendedComment[ca]=«Goop» dibuixa una simulació de gotes d'oli en capes.
ExtendedComment[da]=Goop tegner en simulation af bobler i lag.
ExtendedComment[es]=Este salvapantalla simula gotas de aceite de colores en movimiento en varios capas.
ExtendedComment[fr]=Cet économiseur d'écran simule des gouttes d'huile de couleur en mouvement sur plusieures couches.
ExtendedComment[no]=Goop tegner en simulasjon av bobler i lag.
Demo=goop -delay 2

[Arg0]
Name=Count
Type=NRange
LeftLabel=Count:
LeftLabel[pt_BR]=Contador:
LeftLabel[ca]=Gotes:
LeftLabel[da]=Antal:
LeftLabel[es]=Gotas:
LeftLabel[fr]=Gouttes:
LeftLabel[no]=Antall:
LeftLabel[wa]=Gotes:

Flag=-count
ValType=I[1-100]=10
Label=Number of bubbles to use.
Label[ca]=Nombre de gotes
Label[da]=Antal bobler som skal bruges.
Label[es]=Cantidad de gotas.
Label[fr]=Nombre de gouttes.
Label[no]=Antall bobler som skal brukes.

Comment=Change the number of bubbles to use.
Comment[ca]=Canvia el nombre de gotes a usar.
Comment[da]=Ændr antal bobler som skal bruges.
Comment[es]=Cambiar la cantidad de gotas que usa el salvapantalla.
Comment[fr]=Change le nombre de gouttes utilisé par l'économiseur d'écran.
Comment[no]=Endre antall bobler som skal brukes.

[Arg1]
Name=Delay
Type=LRange
Flag=-delay
LeftLabel=Faster
LeftLabel[ca]=Ràpid
LeftLabel[da]=Hurtigere
LeftLabel[es]=Rápido
LeftLabel[eu]=Arin
LeftLabel[fr]=Rapide
LeftLabel[ja]=Â®¤¤
LeftLabel[no]=Fortere
LeftLabel[ru]=âÙÓÔÒÅÅ
LeftLabel[wa]=Roed

RightLabel=Slower
RightLabel[ca]=Lent
RightLabel[da]=Langsommere
RightLabel[es]=Lento
RightLabel[eu]=Astiro
RightLabel[fr]=Lent
RightLabel[ja]=ÃÙ¤¤
RightLabel[no]=Saktere
RightLabel[ru]=íÅÄÌÅÎÎÅÅ
RightLabel[wa]=Londjin

ValType=I[1-500000]=2
Label=Speed of Motion.
Label[ca]=Velocitat de l'animació
Label[da]=Bevægelseshastighed.
Label[es]=Velocidad de la animación
Label[eu]=Animazioaren abiadura
Label[fr]=Vitesse de l'animation
Label[no]=Bevegelseshastighet.
Label[ru]=óËÏÒÏÓÔØ Ä×ÉÖÅÎÉÑ.
Label[wa]=Roedeu di l' animåcion

Comment=Change the delay in cycles.
Comment[ca]=Canvia el retard en cicles.
Comment[da]=Ændr pausen mellem runderne.
Comment[es]=Cambiar la velocidad de la animación.
Comment[eu]=Animazio abiadura aldatu.
Comment[fr]=Change la vitesse de l'animation.
Comment[no]=Endre pausen mellom rundene.
Comment[ru]=éÚÍÅÎÅÎÉÅ ÚÁÄÅÒÖËÉ × ÃÉËÌÁÈ.
Comment[wa]=Candjî li roedeu di l' animåcion.

[Arg2]
Name=Monochrome
Type=Check
Flag=-mono
Flag2=
LeftLabel=Display screensaver in monochrome.
LeftLabel[ca]=Mostrar el protector en monocrom
LeftLabel[da]=Vis pauseskærmen i sort/hvid.
LeftLabel[es]=Cambiar a la visualización en monocromo.
LeftLabel[eu]=Pantaila babesle monokromoa.
LeftLabel[fr]=Changer l'affichage en monochrome. 
LeftLabel[no]=Vis skjermspareren i monokrom.
LeftLabel[pt]=Protecção de ecrã monocromática
LeftLabel[ru]=ğÅÒÅËÌÀŞÉÔØ × ÏÄÎÏÔÏÎÎÙÊ ÒÅÖÉÍ.
LeftLabel[wa]=Candjî li håynaedje è monocrome.

Comment=Change to display in monochrome.
Comment[ca]=Mostra el protector en monocrom.
Comment[da]=Ændr til sort/hvid-visning.
Comment[es]=Cambiar a la visualización en monocromo.
Comment[eu]=Pantaila babesle monokromoa.
Comment[fr]=Change l'affichage en monochrome.
Comment[no]=Endre til monokrom visning.
Comment[pt]=Mostra a protecção de ecrã em monocromo.
Comment[ru]=ğÅÒÅËÌÀŞÉÔØ × ÏÄÎÏÔÏÎÎÙÊ ÒÅÖÉÍ.
Comment[wa]=Candjî li håynaedje è monocrome.

[Arg3]
Name=Transparent
Type=Check
Flag=-transparent
Flag2=-non-transparent
LeftLabel=Have transparent bubbles.
LeftLabel[ca]=Gotes transparents
LeftLabel[da]=Vis gennemsigtige bobler.
LeftLabel[es]=Gotas transparentes.
LeftLabel[fr]=Gouttes transparentes.
LeftLabel[no]=Vis gennemsiktige bobler.

Comment=Causes the colors to mix when overlapped.
Comment[ca]=Fa que els colors es mesclen en muntar dues gotes.
Comment[da]=Får farverne til at blandes når de overlapper hinanden.
Comment[en_GB]=Causes the colours to mix when overlapped.
Comment[es]=Hace que los colores se mezclen cuando las gotas se superponen.
Comment[fr]=Fait que les couleurs se mélangent quand les gouttes se superposent.
Comment[no]=Får fargene til å blandes når de overlapper hverandre.

[Arg4]
Name=Additive
Type=Check
Flag=-additive
Flag2=-subtractive
LeftLabel=Use additive color model.
LeftLabel[ca]=Usar model additiu de color
LeftLabel[da]=Brug additiv farvemodel.
LeftLabel[en_GB]=Use additive color model.
LeftLabel[es]=Usar modelo de colores aditivo.
LeftLabel[fr]=Utiliser le modèle de couleur additif
LeftLabel[no]=Bruk additiv fargemodell.

