[Desktop Entry]
Name=Grav
Name[ca]=Gravetat
Name[da]=Grav
Name[es]=Gravedad
Name[fr]=Gravité
Name[no]=Grav
Name[ru]=çÒÁ×
Comment=Draws a simple orbital simulation.
Comment[ca]=Dibuixa una simulació orbital simple.
Comment[da]=Tegner en simpel banesimulation.
Comment[es]=Dibuja una simulación orbital simple.
Comment[fr]=Dessine une simulation orbitale simple.
Comment[no]=Tegner en enkel banesimulasjon.
Exec=xscreensaver-command -activate
TryExec=grav
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=grav.png
Author=Greg Bowering <greg@smug.student.adelaide.edu.au>
ExtendedComment=Grav draws a simple orbital simulation.
ExtendedComment[ca]=«Gravetat» dibuixa una simulació orbital simple.
ExtendedComment[da]=Grav tegner en simpel banesimulation.
ExtendedComment[es]=Dibuja una simulación orbital simple.
ExtendedComment[fr]=Dessine une simulation orbitale simple.
ExtendedComment[no]=Grav tegner en enkel banesimulasjon.
Demo=grav -delay 2

[Arg0]
Name=Colors
Type=NRange
LeftLabel=Colors:
LeftLabel[pt_BR]=Cores:
LeftLabel[ca]=Colors:
LeftLabel[da]=Farver:
LeftLabel[en_GB]=Colours:
LeftLabel[es]=Colores:
LeftLabel[eu]=Koloreak:
LeftLabel[fr]=Couleurs:
LeftLabel[ja]=¿§:
LeftLabel[no]=Farger:
LeftLabel[ru]=ã×ÅÔÁ:
LeftLabel[wa]=Coleurs:

Flag=-ncolors
ValType=I[1-256]=200
Label=Number of Colors.
Label[ca]=Nombre de colors
Label[da]=Antal farver.
Label[en_GB]=Number of Colours.
Label[es]=Cantidad de colores.
Label[eu]=Kolore kopurua.
Label[fr]=Nombre de couleurs.
Label[no]=Antall farger.
Label[ru]=ëÏÌÉŞÅÓÔ×Ï Ã×ÅÔÏ×.
Label[wa]=Nombe di coleurs.

Comment=Change the number of colors to use.
Comment[ca]=Canvia el nombre de colors a usar.
Comment[da]=Ændr antal farver som skal bruges.
Comment[en_GB]=Change the number of colours to use.
Comment[es]=Cambiar la cantidad de colores usada por el salvapantallas.
Comment[eu]=Erabili beharreko kolore kopurua aldatu.
Comment[fr]=Change le nombre de couleurs utilisé par l'économiseur d'écran.
Comment[no]=Endre antall farger som skal brukes.
Comment[ru]=éÚÍÅÎÅÎÉÅ ŞÉÓÌÁ ÉÓĞÏÌØÚÕÅÍÙÈ Ã×ÅÔÏ×.
Comment[wa]=Candjî li nombe di coleurs a eployî.

[Arg1]
Name=Count
Type=NRange
LeftLabel=Count:
LeftLabel[pt_BR]=Contador:
LeftLabel[ca]=Planetes:
LeftLabel[da]=Antal:
LeftLabel[es]=Planetas:
LeftLabel[fr]=Planètes:
LeftLabel[no]=Antall:

Flag=-count
ValType=I[1-50]=12
Label=Number of planets to use.
Label[ca]=Nombre de planetes
Label[da]=Antal planeter som skal bruges.
Label[es]=Cantidad de planetas.
Label[fr]=Nombre de planètes.
Label[no]=Antall planeter som skal brukes.

Comment=Change the number of planets to use.
Comment[ca]=Canvia el nombre de planetes a usar.
Comment[da]=Ændr antal planeter som skal bruges.
Comment[es]=Cambiar la cantidad de planetas.
Comment[fr]=Change le nombre de planètes.
Comment[no]=Endre antall planeter som skal brukes.

[Arg3]
Name=Monochrome
Type=Check
Flag=-mono
Flag2=
LeftLabel=Display screensaver in monochrome.
LeftLabel[ca]=Mostrar el protector en monocrom
LeftLabel[da]=Vis pauseskærmen i sort/hvid.
LeftLabel[es]=Cambiar a la visualización en monocromo.
LeftLabel[eu]=Pantaila babesle monokromoa.
LeftLabel[fr]=Changer l'affichage en monochrome. 
LeftLabel[no]=Vis skjermspareren i monokrom.
LeftLabel[pt]=Protecção de ecrã monocromática
LeftLabel[ru]=ğÅÒÅËÌÀŞÉÔØ × ÏÄÎÏÔÏÎÎÙÊ ÒÅÖÉÍ.
LeftLabel[wa]=Candjî li håynaedje è monocrome.

Comment=Change to display in monochrome.
Comment[ca]=Mostra el protector en monocrom.
Comment[da]=Ændr til sort/hvid-visning.
Comment[es]=Cambiar a la visualización en monocromo.
Comment[eu]=Pantaila babesle monokromoa.
Comment[fr]=Change l'affichage en monochrome.
Comment[no]=Endre til monokrom visning.
Comment[pt]=Mostra a protecção de ecrã em monocromo.
Comment[ru]=ğÅÒÅËÌÀŞÉÔØ × ÏÄÎÏÔÏÎÎÙÊ ÒÅÖÉÍ.
Comment[wa]=Candjî li håynaedje è monocrome.

[Arg4]
Name=Decay
Type=Check
Flag=-decay
Flag2=-no-decay
LeftLabel=Orbit should decay.
LeftLabel[ca]=Fer que l'òrbita s'esvaesca
LeftLabel[da]=Aftagende cirkulationsbane.
LeftLabel[es]=La órbita debe decaer.
LeftLabel[fr]=L'orbit doit s'aménuiser.
LeftLabel[no]=Avtagende sirkulasjonsbane.

Comment=Change whether orbit should decay.
Comment[ca]=Fa que l'òrbita s'esvaesca amb el temps.
Comment[da]=Ændr om banen skal aftage.
Comment[es]=La órbita debe decaer.
Comment[fr]=L'orbit doit s'aménuiser.
Comment[no]=Endre om banen skal avta.

[Arg5]
Name=Trail
Type=Check
Flag=-trail
Flag2=-no-trail
LeftLabel=Objects should leave trails behind them.
LeftLabel[ca]=Fer que els objectes deixen cua
LeftLabel[da]=Objekter skal efterlade sig spor.
LeftLabel[es]=Los objetos dejan cola.
LeftLabel[fr]=Les objets laissent une trainée.
LeftLabel[no]=Objekter skal etterlate seg spor.

Comment=Change whether objects should leave a trail.
Comment[ca]=Fa que els objectes deixen una cua en moure's.
Comment[da]=Ændr om objektene skal efterlade sig et spor.
Comment[es]=Los objetos dejan una estela.
Comment[fr]=Les objets laissent une trainée.
Comment[no]=Endre om objektene skal etterlate seg et spor.

