[Desktop Entry]
Name=Halo
Name[ca]=Halo
Name[da]=Glorie
Name[es]=Halo
Name[fr]=Halo
Name[no]=Halo
Name[ru]=çÁÌÏ
Comment=Draw circular patterns.
Comment[ca]=Dibuixa motius circulars.
Comment[es]=Dibuja motivos a base de círculos.
Comment[fr]=Dessine des motifs à base de cercles.
Comment[no]=Tegner sirkulære mønstre.
Exec=xscreensaver-command -activate
TryExec=halo
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=halo.png
Author=Jamie Zawinski <jwz@jwz.org>
ExtendedComment=Halo draws patterns based on circles.
ExtendedComment[ca]=«Halo» dibuixa motius basats en crecles.
ExtendedComment[es]=Dibuja motivos a base de círculos.
ExtendedComment[fr]=Dessine des motifs à base de cercles.
ExtendedComment[no]=Halo tegner mønstre basert på sirkler.
Demo=halo -delay 500

[Arg0]
Name=Colors
Type=NRange
LeftLabel=Colors:
LeftLabel[pt_BR]=Cores:
LeftLabel[ca]=Colors:
LeftLabel[en_GB]=Colours:
LeftLabel[es]=Colores:
LeftLabel[eu]=Koloreak:
LeftLabel[fr]=Couleurs:
LeftLabel[ja]=¿§:
LeftLabel[no]=Farger:
LeftLabel[ru]=ã×ÅÔÁ:
LeftLabel[wa]=Coleurs:

Flag=-ncolors
ValType=I[1-256]=100
Label=Number of Colors.
Label[ca]=Nombre de colors
Label[en_GB]=Number of Colours.
Label[es]=Cantidad de colores.
Label[eu]=Kolore kopurua.
Label[fr]=Nombre de couleurs.
Label[no]=Antall farger.
Label[ru]=ëÏÌÉŞÅÓÔ×Ï Ã×ÅÔÏ×.
Label[wa]=Nombe di coleurs.

Comment=Change the number of colors to use.
Comment[ca]=Canvia el nombre de colors a usar.
Comment[en_GB]=Change the number of colours to use.
Comment[es]=Cambiar la cantidad de colores usada por el salvapantallas.
Comment[eu]=Erabili beharreko kolore kopurua aldatu.
Comment[fr]=Change le nombre de couleurs utilisé par l'économiseur d'écran.
Comment[no]=Endre antall farger som skal brukes.
Comment[ru]=éÚÍÅÎÅÎÉÅ ŞÉÓÌÁ ÉÓĞÏÌØÚÕÅÍÙÈ Ã×ÅÔÏ×.
Comment[wa]=Candjî li nombe di coleurs a eployî.

[Arg1]
Name=Count
Type=NRange
LeftLabel=Count:
LeftLabel[pt_BR]=Contador:
LeftLabel[ca]=Cercles:
LeftLabel[es]=Círculos:
LeftLabel[fr]=Cercles:
LeftLabel[wa]=Cerkes:
LeftLabel[no]=Antall:

Flag=-count
ValType=I[1-100]=10
Label=Number of circles to use.
Label[ca]=Nombre de cercles
Label[es]=Cantidad de círculos a usar.
Label[fr]=Nombre de cercles à utiliser.
Label[no]=Antall sirkler som skal brukes.

Comment=Change the number of circles to use.
Comment[ca]=Canvia el nombre de cercles a usar.
Comment[es]=Cambiar la cantidad de círculos a usar.
Comment[fr]=Changer le nombre de cercles à utiliser.
Comment[no]=Endre antall sirkler som skal brukes.

[Arg2]
Name=Delay
Type=LRange
Flag=-delay
LeftLabel=Faster
LeftLabel[ca]=Ràpid
LeftLabel[es]=Rápido
LeftLabel[es]=Rápido
LeftLabel[eu]=Arin
LeftLabel[fr]=Rapide
LeftLabel[no]=Fortere
LeftLabel[ru]=âÙÓÔÒÅÅ
LeftLabel[wa]=Roed

RightLabel=Slower
RightLabel[ca]=Lent
RightLabel[es]=Lento
RightLabel[es]=Astiro
RightLabel[fr]=Lent
RightLabel[no]=Saktere
RightLabel[ru]=íÅÄÌÅÎÎÅÅ
RightLabel[wa]=Londjin

ValType=I[1-500000]=2
Label=Speed of Motion.
Label[ca]=Velocitat de l'animació
Label[es]=Velocidad de la animación
Label[eu]=Animazioaren abiadura
Label[fr]=Vitesse de l'animation
Label[no]=Bevegelseshastighet.
Label[ru]=óËÏÒÏÓÔØ Ä×ÉÖÅÎÉÑ.
Label[wa]=Roedeu di l' animåcion

Comment=Change the delay in cycles.
Comment[ca]=Canvia el retard en cicles.
Comment[es]=Cambiar la velocidad de la animación.
Comment[eu]=Animazio abiadura aldatu.
Comment[fr]=Change la vitesse de l'animation.
Comment[no]=Endre pausen mellom rundene.
Comment[ru]=éÚÍÅÎÅÎÉÅ ÚÁÄÅÒÖËÉ × ÃÉËÌÁÈ.
Comment[wa]=Candjî li roedeu di l' animåcion.

[Arg3]
Name=Monochrome
Type=Check
Flag=-mono
Flag2=
LeftLabel=Display screensaver in monochrome.
LeftLabel[ca]=Mostrar el protector en monocrom
LeftLabel[es]=Cambiar a la visualización en monocromo.
LeftLabel[eu]=Pantaila babesle monokromoa.
LeftLabel[fr]=Changer l'affichage en monochrome. 
LeftLabel[no]=Vis skjermspareren i monokrom.
LeftLabel[pt]=Protecção de ecrã monocromática
LeftLabel[ru]=ğÅÒÅËÌÀŞÉÔØ × ÏÄÎÏÔÏÎÎÙÊ ÒÅÖÉÍ.
LeftLabel[wa]=Candjî li håynaedje è monocrome.

Comment=Change to display in monochrome.
Comment[ca]=Mostra el protector en monocrom.
Comment[es]=Cambiar a la visualización en monocromo.
Comment[eu]=Pantaila babesle monokromoa.
Comment[fr]=Change l'affichage en monochrome.
Comment[no]=Endre til monokrom visning.
Comment[pt]=Mostra a protecção de ecrã em monocromo.
Comment[ru]=ğÅÒÅËÌÀŞÉÔØ × ÏÄÎÏÔÏÎÎÙÊ ÒÅÖÉÍ.
Comment[wa]=Candjî li håynaedje è monocrome.

[Arg4]
Name=Mode
Type=Check
Flag=-mode ramp
Flag2=-mode seuss
LeftLabel=Use a gradient of colors between circles.
LeftLabel[ca]=Gradient de colors entre cercles
LeftLabel[es]=Usar un gradiente de colores entre los círculos.
LeftLabel[fr]=Utiliser un dégradé de couleurs entre les cercles.
LeftLabel[no]=Bruk en fargegradient mellom sirklene.

Comment=Change to alternating striped curves.
Comment[ca]=Fa que els colors dels cercles formen un gradient.
Comment[es]=Usar un gradiente de colores entre los círculos.
Comment[fr]=Utiliser un dégradé de couleurs entre les cercles.
Comment[no]=Endre til vekslende stripete kurver.

[Arg5]
Name=Animate
Type=Check
Flag=-animate
Flag2=
LeftLabel=Animate circles.
LeftLabel[ca]=Animar els cercles
LeftLabel[es]=Círculos animados.
LeftLabel[fr]=Cercles animés.
LeftLabel[no]=Animerte sirkler.

Comment=Change to animated circles.
Comment[ca]=Fa que els cercles es moguen.
Comment[es]=Círculos animados.
Comment[fr]=Cercles animés.
Comment[no]=Bruk animerte sirkler.

[Arg6]
Name=Cycle
Type=Check
Flag=-cycle
Flag2=-no-cycle
LeftLabel=Cycle through colormap.
LeftLabel[ca]=Recórrer taula de colors
LeftLabel[en_GB]=Cycle through colormap.
LeftLabel[es]=Colores cíclicos.
LeftLabel[fr]=Cycle de couleurs.
LeftLabel[no]=Bla gjennom fargene.
LeftLabel[ru]=éÓĞÏÌØÚÏ×ÁÔØ Ã×ÅÔÁ ÃÉËÌÉŞÅÓËÉ.

Comment=Change to cycle through colormap.
Comment[ca]=Va recorrent la taula de colors amb cada redibuixat.
Comment[en_GB]=Cycle through colormap.
Comment[es]=Colores cíclicos.
Comment[fr]=Cycle de couleurs.
Comment[no]=Bla gjennom fargene.
Comment[ru]=éÓĞÏÌØÚÏ×ÁÔØ Ã×ÅÔÁ ÃÉËÌÉŞÅÓËÉ.

