[Desktop Entry]
Name=Helix
Name[ca]=Hèlix
Name[da]=Helix
Name[es]=Hélice
Name[fr]=Hélice
Name[no]=Helix
Comment=Draws helical string-art patterns
Comment[ca]=Patrons en forma d'hèlix partint de segments.
Comment[da]=Tegner heliske mønstre baseret på linjer
Comment[es]=Dibuja motivos a base de líneas
Comment[fr]=Dessine des motifs complexes à partir de segments
Comment[no]=Tegner heliske mønstre basert på linjer
:Exec=xscreensaver-command -activate
TryExec=helix
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=helix.png
Author=Jamie  Zawinski  <jwz@jwz.org> 
ExtendedComment=Helix draws patterns composed of line segments.
ExtendedComment[ca]=«Hèlix» dibuixa patrons fets de segments de línies.
ExtendedComment[da]=Helix tegner mønstre lavet af linjesegmenter.
ExtendedComment[es]=Dibuja motivos complejos a base de líneas.
ExtendedComment[fr]=Dessine des motifs complexes à partir de segments.
ExtendedComment[no]=Helix tegner mønstre laget av linjesegmenter.
Demo=helix -delay 2

[Arg0]
Name=Delay
Type=LRange
Flag=-delay
LeftLabel=Faster
LeftLabel[ca]=Ràpid
LeftLabel[da]=Hurtigere
LeftLabel[es]=Rápido
LeftLabel[eu]=Arin
LeftLabel[fr]=Rapide
LeftLabel[no]=Fortere
LeftLabel[ru]=âÙÓÔÒÅÅ
LeftLabel[wa]=Roed

RightLabel=Slower
RightLabel[ca]=Lent
RightLabel[da]=Langsommere
RightLabel[es]=Lento
RightLabel[es]=Astiro
RightLabel[fr]=Lent
RightLabel[no]=Saktere
RightLabel[ru]=íÅÄÌÅÎÎÅÅ
RightLabel[wa]=Londjin

ValType=I[1-15]=4
Label=Time between redraws.
Label[ca]=Velocitat de l'animació
Label[da]=Tid mellem genoptegning
Label[es]=Velocidad de la animación
Label[fr]=Vitesse de l'animation
Label[no]=Tid mellom gjenopptegning

Comment=Change the delay in cycles.
Comment[ca]=Canvia el retard en cicles.
Comment[da]=Ændr pausen i runder
Comment[es]=Cambiar la velocidad de la animación.
Comment[fr]=Change la vitesse de l'animation.
Comment[no]=Endre pausen i runder

[Arg1]
Name=Monochrome
Type=Check
Flag=-mono
Flag2=
LeftLabel=Display screensaver in monochrome.
LeftLabel[ca]=Mostrar el protector en monocrom
LeftLabel[da]=Vis pauseskærmen i sort/hvid.
LeftLabel[es]=Cambiar a la visualización en monocromo.
LeftLabel[eu]=Pantaila babesle monokromoa.
LeftLabel[fr]=Changer l'affichage en monochrome. 
LeftLabel[no]=Vis skjermspareren i monokrom.
LeftLabel[pt]=Protecção de ecrã monocromática
LeftLabel[ru]=ğÅÒÅËÌÀŞÉÔØ × ÏÄÎÏÔÏÎÎÙÊ ÒÅÖÉÍ.
LeftLabel[wa]=Candjî li håynaedje è monocrome.

Comment=Change to display in monochrome.
Comment[ca]=Mostra el protector en monocrom.
Comment[da]=Ændr til sort/hvid-visning.
Comment[es]=Cambiar a la visualización en monocromo.
Comment[eu]=Pantaila babesle monokromoa.
Comment[fr]=Change l'affichage en monochrome.
Comment[no]=Endre til monokrom visning.
Comment[pt]=Mostra a protecção de ecrã em monocromo.
Comment[ru]=ğÅÒÅËÌÀŞÉÔØ × ÏÄÎÏÔÏÎÎÙÊ ÒÅÖÉÍ.
Comment[wa]=Candjî li håynaedje è monocrome.

