[Desktop Entry]
Name=Hypercube
Name[ca]=Hipercub
Name[da]=Hyperkube
Name[es]=Hipercubo
Name[fr]=Hypercube
Name[no]=Hyperkube
Name[ru]=çÉĞÅÒËÕÂ
Comment=2D projection of a hypercube
Comment[ca]=Projecció 2D d'un hipercub.
Comment[da]=2D-projektion af en hyperkube
Comment[es]=Proyección 2D de un hipercubo
Comment[fr]=Projection 2D d'un hypercube
Comment[no]=2D projeksjon av en hyperkube
Exec=xscreensaver-command -activate
TryExec=hypercube
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=hypercube.png
Author=Jamie Zawinski <jwz@jwz.org>
ExtendedComment=Hypercube displays a wireframe projection of a hypercube.
ExtendedComment[ca]=«Hipercub» dibuixa una projecció de filferro d'un hipercub.
ExtendedComment[da]=Hyperkube viser en "wireframe"-projektion af en hyperkube.
ExtendedComment[es]=Proyección estilo alambre de un hipercubo.
ExtendedComment[fr]=Projection en fil de fer d'un hypercube.
ExtendedComment[no]=Hyperkube viser en "wireframe"-projeksjon av en hyperkube.
Demo=hypercube -delay 2

[Arg0]
Name=Distance
Type=LRange
Flag=-observer-z
LeftLabel=Closer
LeftLabel[ca]=Prop
LeftLabel[da]=Nærmere
LeftLabel[es]=Cerca
LeftLabel[fr]=Proche
LeftLabel[no]=Nærmere

RightLabel=Farther
RightLabel[ca]=Lluny
RightLabel[da]=Fjernere
RightLabel[es]=Lejos
RightLabel[fr]=Lointain
RightLabel[no]=Fjernere

ValType=I[1-15]=4
Label=Distance from center of cube
Label[ca]=Distància al centre del cub
Label[da]=Afstand fra centrum af kuben
Label[es]=Distancia del centro del cubo
Label[fr]=Distance au centre du cube
Label[no]=Avstand fra senter av kuben

Comment=Change the distance from center of cube
Comment[ca]=Canvia la distància al centre del cub.
Comment[da]=Ændr afstanden fra centrum af kuben
Comment[es]=Cambiar la distancia del centro del cubo
Comment[fr]=Changer la distance au centre du cube
Comment[no]=Endre avstanden fra senter av kuben

[Arg1]
Name=Delay
Type=LRange
Flag=-delay
LeftLabel=Faster
LeftLabel[ca]=Ràpid
LeftLabel[da]=Hurtigere
LeftLabel[es]=Rápido
LeftLabel[eu]=Arin
LeftLabel[fr]=Rapide
LeftLabel[no]=Fortere
LeftLabel[ru]=âÙÓÔÒÅÅ
LeftLabel[wa]=Roed

RightLabel=Slower
RightLabel[ca]=Lent
RightLabel[da]=Langsommere
RightLabel[es]=Lento
RightLabel[es]=Astiro
RightLabel[fr]=Lent
RightLabel[no]=Saktere
RightLabel[ru]=íÅÄÌÅÎÎÅÅ
RightLabel[wa]=Londjin

ValType=I[1-500000]=2
Label=Speed of Motion.
Label[ca]=Velocitat de l'animació
Label[da]=Bevægelseshastighed.
Label[es]=Velocidad de la animación
Label[eu]=Animazioaren abiadura
Label[fr]=Vitesse de l'animation
Label[no]=Bevegelseshastighet.
Label[ru]=óËÏÒÏÓÔØ Ä×ÉÖÅÎÉÑ.
Label[wa]=Roedeu di l' animåcion

Comment=Change the delay in cycles.
Comment[ca]=Canvia el retard en cicles.
Comment[da]=Ændr pausen mellem runderne.
Comment[es]=Cambiar la velocidad de la animación.
Comment[eu]=Animazio abiadura aldatu.
Comment[fr]=Change la vitesse de l'animation.
Comment[no]=Endre pausen mellom rundene.
Comment[ru]=éÚÍÅÎÅÎÉÅ ÚÁÄÅÒÖËÉ × ÃÉËÌÁÈ.
Comment[wa]=Candjî li roedeu di l' animåcion.

[Arg2]
Name=Monochrome
Type=Check
Flag=-mono
Flag2=
LeftLabel=Display screensaver in monochrome.
LeftLabel[ca]=Mostrar el protector en monocrom
LeftLabel[da]=Vis pauseskærmen i sort/hvid.
LeftLabel[es]=Cambiar a la visualización en monocromo.
LeftLabel[eu]=Pantaila babesle monokromoa.
LeftLabel[fr]=Changer l'affichage en monochrome. 
LeftLabel[no]=Vis skjermspareren i monokrom.
LeftLabel[ru]=ğÅÒÅËÌÀŞÉÔØ × ÏÄÎÏÔÏÎÎÙÊ ÒÅÖÉÍ.
LeftLabel[wa]=Candjî li håynaedje è monocrome.

Comment=Change to display in monochrome.
Comment[ca]=Mostra el protector en monocrom.
Comment[da]=Ændr til sort/hvid-visning.
Comment[es]=Cambiar a la visualización en monocromo.
Comment[eu]=Pantaila babesle monokromoa.
Comment[fr]=Change l'affichage en monochrome.
Comment[no]=Endre til monokrom visning.
Comment[ru]=ğÅÒÅËÌÀŞÉÔØ × ÏÄÎÏÔÏÎÎÙÊ ÒÅÖÉÍ.
Comment[wa]=Candjî li håynaedje è monocrome.

