[Desktop Entry]
Name=Ifs
Name[ca]=SFI
Name[da]=Ifs
Name[fr]=Ifs
Name[no]=Ifs
Comment=Draws spinning, colliding, iterated-function-system images.
Comment[ca]=Imatges variants de sistemes de funcions iterades.
Comment[da]=Tegner drejende, kolliderende, "iterated-function-system" billeder.
Comment[fr]=Dessine des IFS (Iterated-function-system) qui tournent.
Comment[no]=Tegner snurrende, kolliderende, "iterated-function-system" bilder.
Exec=xscreensaver-command -activate
TryExec=ifs
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=ifs.png
Author=Massimino Pascal <Pascal.Massimon@ens.fr>
ExtendedComment=Ifs draws spinning, colliding, iterated-function-system images.
ExtendedComment[ca]=«SFI» mostra imatges en moviment de sistemes de funcions iterades.
ExtendedComment[da]=Ifs tegner drejende, kolliderende, "iterated-function-system" billeder.
ExtendedComment[fr]=Dessine des IFS (Iterated-function-system) qui tournent.
ExtendedComment[no]=Ifs tegner snurrende, kolliderende, "iterated-function-system" bilder.
Demo=ifs -delay 2

[Arg0]
Name=Colors
Type=NRange
LeftLabel=Colors:
LeftLabel[pt_BR]=Cores:
LeftLabel[ca]=Colors:
LeftLabel[da]=Farver:
LeftLabel[en_GB]=Colours:
LeftLabel[es]=Colores:
LeftLabel[eu]=Koloreak:
LeftLabel[fr]=Couleurs:
LeftLabel[ja]=¿§:
LeftLabel[no]=Farger:
LeftLabel[ru]=ã×ÅÔÁ:
LeftLabel[wa]=Coleurs:

Flag=-ncolors
ValType=I[1-256]=200
Label=Number of Colors.
Label[ca]=Nombre de colors
Label[da]=Antal farver.
Label[en_GB]=Number of Colours.
Label[es]=Cantidad de colores.
Label[eu]=Kolore kopurua.
Label[fr]=Nombre de couleurs.
Label[no]=Antall farger.
Label[ru]=ëÏÌÉŞÅÓÔ×Ï Ã×ÅÔÏ×.
Label[wa]=Nombe di coleurs.

Comment=Change the number of colors to use.
Comment[ca]=Canvia el nombre de colors a usar.
Comment[da]=Ændr antal farver som skal bruges.
Comment[en_GB]=Change the number of colours to use.
Comment[es]=Cambiar la cantidad de colores usada por el salvapantallas.
Comment[eu]=Erabili beharreko kolore kopurua aldatu.
Comment[fr]=Change le nombre de couleurs a utiliser.
Comment[no]=Endre antall farger som skal brukes.
Comment[ru]=éÚÍÅÎÅÎÉÅ ŞÉÓÌÁ ÉÓĞÏÌØÚÕÅÍÙÈ Ã×ÅÔÏ×.
Comment[wa]=Candjî li nombe di coleurs a eployî.

[Arg1]
Name=Monochrome
Type=Check
Flag=-mono
Flag2=
LeftLabel=Display screensaver in monochrome.
LeftLabel[ca]=Mostrar el protector en monocrom
LeftLabel[da]=Vis pauseskærmen i sort/hvid.
LeftLabel[es]=Cambiar a la visualización en monocromo.
LeftLabel[eu]=Pantaila babesle monokromoa.
LeftLabel[fr]=Economiseur d'écran en mode monochrome.
LeftLabel[no]=Vis skjermspareren i monokrom.
LeftLabel[ru]=ğÅÒÅËÌÀŞÉÔØ × ÏÄÎÏÔÏÎÎÙÊ ÒÅÖÉÍ.
LeftLabel[wa]=Candjî li håynaedje è monocrome.

Comment=Change to display in monochrome.
Comment[ca]=Mostra el protector en monocrom.
Comment[da]=Ændr til sort/hvid-visning.
Comment[es]=Cambiar a la visualización en monocromo.
Comment[eu]=Pantaila babesle monokromoa.
Comment[fr]=Change en mode monochrome.
Comment[no]=Endre til monokrom visning.
Comment[ru]=ğÅÒÅËÌÀŞÉÔØ × ÏÄÎÏÔÏÎÎÙÊ ÒÅÖÉÍ.
Comment[wa]=Candjî li håynaedje è monocrome.

