[Desktop Entry]
Name=Imsmap
Name[ca]=Mapa IMS
Name[da]=Imsmap
Name[fr]=Imsmap
Name[no]=Imskart
Comment=
Exec=xscreensaver-command -activate
TryExec=imsmap
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=imsmap.png
Author=
ExtendedComment=
Demo=imsmap -delay 2
