[Desktop Entry]
Name=Interference
Name[ca]=InterferËncies
Name[da]=Forstyrrelser
Name[es]=Interferencias
Name[fr]=InterfÈrences
Name[no]=Forstyrrelser
Name[ru]=ÈŒ‘≈“∆≈“≈Œ√…—
Comment=
Exec=xscreensaver-command -activate
TryExec=interference
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=interference.png
Author=
ExtendedComment=
Demo=interference -delay 2
