[Desktop Entry]
Name=Jigsaw
Name[pt_BR]=Quebra-cabeça
Name[ca]=Puzzle
Name[da]=Puslespil
Name[fr]=Jigsaw
Name[no]=Jigsaw
Comment=Permutes the screen image like a jigsaw puzzle.
Comment[ca]=Barreja la imatge com un puzzle.
Comment[fr]=Permute l'écran comme un puzzle jigsaw.
Comment[no]=Forandrer skjermbildet til et puslespill.
Exec=xscreensaver-command -activate
TryExec=jigsaw
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=jigsaw.png
Author=Jamie Zawinski <jwz@jwz.org>
ExtendedComment=Jigsaw takes an image of the screen, carves it up into jigsaw puzzle pieces, shuffles it, and solves it.
ExtendedComment[ca]=Pren la imatge de la pantalla, la divideix en un puzzle, el barreja i el resol.
ExtendedComment[fr]=Jigsaw prends l'image a l'écran, la découpe comme un puzzle jigsaw, le mélange, puis le résouds.
ExtendedComment[no]=Jigsaw tar et bilde av skjermen, kutter det opp i biter, blander disse og løser det som et puslespill.
Demo=jigsaw -delay 2

[Arg0]
Name=Delay
Type=LRange
Flag=-delay
LeftLabel=Faster
LeftLabel[ca]=Ràpid
LeftLabel[es]=Rápido
LeftLabel[eu]=Arin
LeftLabel[fr]=Rapide
LeftLabel[no]=Fortere
LeftLabel[ru]=âÙÓÔÒÅÅ
LeftLabel[wa]=Roed

RightLabel=Slower
RightLabel[ca]=Lent
RightLabel[es]=Lento
RightLabel[es]=Astiro
RightLabel[fr]=Lent
RightLabel[no]=Saktere
RightLabel[ru]=íÅÄÌÅÎÎÅÅ
RightLabel[wa]=Londjin

ValType=I[1-500000]=2
Label=Speed of Motion.
Label[ca]=Velocitat del moviment
Label[es]=Velocidad de la animación
Label[eu]=Animazioaren abiadura
Label[fr]=Vitesse du mouvement.
Label[no]=Bevegelseshastighet.
Label[ru]=óËÏÒÏÓÔØ Ä×ÉÖÅÎÉÑ.
Label[wa]=Roedeu di l' animåcion

Comment=Change the delay in cycles.
Comment[ca]=Canvia el retard en cicles.
Comment[es]=Cambiar la velocidad de la animación.
Comment[eu]=Animazio abiadura aldatu.
Comment[fr]=Changement du délai en cycles.
Comment[no]=Endre pausen mellom rundene.
Comment[ru]=éÚÍÅÎÅÎÉÅ ÚÁÄÅÒÖËÉ × ÃÉËÌÁÈ.
Comment[wa]=Candjî li roedeu di l' animåcion.

