[Desktop Entry]
Name=Julia
Name[ca]=JЗlia
Name[da]=Julia
Name[fr]=Julia
Name[no]=Julia
Name[ru]=Жюлиа
Comment=Draws spinning, animating, julia-set fractals.
Comment[ca]=Dibuixa fractals de JЗlia animats.
Comment[fr]=Dessine des ensembles de Julia fractales animИs.
Comment[no]=Tegner snurrende, animerte, julia-sett fraktaler.
Comment[ru]=Рисует вращающиеся фракталы множеств Жюлиа.
Exec=xscreensaver-command -activate
TryExec=julia
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=julia.png
Author=Sean McCullough <bankshot@mailhost.nmt.edu>
ExtendedComment=Julia draws spinning, animating, julia-set fractals.
ExtendedComment[ca]= JЗlia  dibuixa fractals animats del conjunt de JЗlia.
ExtendedComment[fr]=Dessine des ensembles de Julia fractales animИs.
ExtendedComment[no]=Julia tegner snurrende, animerte, julia-sett fraktaler.
ExtendedComment[ru]=Жюлиа рисует вращающиеся фракталы множеств Жюлиа.
Demo=julia -delay 2


[Arg0]
Name=Colors
Type=NRange
LeftLabel=Colors:
LeftLabel[pt_BR]=Cores:
LeftLabel[ca]=Colors:
LeftLabel[en_GB]=Colours:
LeftLabel[es]=Colores:
LeftLabel[eu]=Koloreak:
LeftLabel[fr]=Couleurs:
LeftLabel[ja]=  :
LeftLabel[no]=Farger:
LeftLabel[ru]=Цвета:
LeftLabel[wa]=Coleurs:

Flag=-ncolors
ValType=I[1-256]=100
Label=Number of Colors.
Label[ca]=Nombre de colors.
Label[en_GB]=Number of Colours.
Label[es]=Cantidad de colores.
Label[eu]=Kolore kopurua.
Label[fr]=Nombre de couleurs.
Label[no]=Antall farger.
Label[ru]=Количество цветов.
Label[wa]=Nombe di coleurs.

Comment=Change the number of colors to use.
Comment[ca]=Canvia el nombre de colors a usar.
Comment[en_GB]=Change the number of colours to use.
Comment[es]=Cambiar la cantidad de colores usada por el salvapantallas.
Comment[eu]=Erabili beharreko kolore kopurua aldatu.
Comment[fr]=Change le nombre de couleurs utilisИ par l'Иconomiseur d'Иcran.
Comment[no]=Endre antall farger som skal brukes.
Comment[ru]=Изменение числа используемых цветов.
Comment[wa]=CandjН li nombe di coleurs a eployН.

[Arg1]
Name=Cycles
Type=LRange
Flag=-cycles
LeftLabel=Faster
LeftLabel[ca]=RЮpid
LeftLabel[es]=RАpido
LeftLabel[eu]=Arin
LeftLabel[fr]=Rapide
LeftLabel[no]=Fortere
LeftLabel[ru]=Быстрее
LeftLabel[wa]=Roed

RightLabel=Slower
RightLabel[ca]=Lent
RightLabel[es]=Lento
RightLabel[es]=Astiro
RightLabel[fr]=Lent
RightLabel[no]=Saktere
RightLabel[ru]=Медленнее
RightLabel[wa]=Londjin

ValType=I[1-500000]=2
Label=Speed of Motion.
Label[ca]=Velocitat del moviment
Label[es]=Velocidad de la animaciСn
Label[eu]=Animazioaren abiadura
Label[fr]=Vitesse de mouvement.
Label[no]=Bevegelseshastighet.
Label[ru]=Скорость движения.
Label[wa]=Roedeu di l' animЕcion

Comment=Change the delay in cycles.
Comment[ca]=Canvia el retard en cicles.
Comment[es]=Cambiar la velocidad de la animaciСn.
Comment[eu]=Animazio abiadura aldatu.
Comment[fr]=Change la vitesse de l'animation.
Comment[no]=Endre pausen mellom rundene.
Comment[ru]=Изменение задержки в циклах.
Comment[wa]=CandjН li roedeu di l' animЕcion.

[Arg2]
Name=Count
Type=NRange
LeftLabel=Count:
LeftLabel[pt_BR]=Contador:
LeftLabel[ca]=Profunditat:
LeftLabel[fr]=Nombre:
LeftLabel[no]=Antall:
LeftLabel[ru]=Число:
Flag=-count
ValType=I[1-1000]=100

Label=Number to use.
Label[ca]=Profunditat de l'arbre
Label[fr]=Nombre Ю utiliser.
Label[no]=Antall som skal brukes.
Label[ru]=Задать используемое число.

Comment=Change the number to use.
Comment[ca]=Canvia la profunditat de l'arbre de recerca.
Comment[fr]=Changer le nombre Ю utiliser.
Comment[no]=Endre antallet som skal brukes.
Comment[ru]=Изменить используемое число.

[Arg3]
Name=Monochrome
Type=Check
Flag=-mono
Flag2=
LeftLabel=Display screensaver in monochrome.
LeftLabel[ca]=Mostrar el protector en monocrom
LeftLabel[es]=Cambiar a la visualizaciСn en monocromo.
LeftLabel[eu]=Pantaila babesle monokromoa.
LeftLabel[fr]=Changer l'affichage en monochrome. 
LeftLabel[no]=Vis skjermspareren i monokrom.
LeftLabel[ru]=Переключить в однотонный режим.
LeftLabel[wa]=CandjН li hЕynaedje Х monocrome.

Comment=Change to display in monochrome.
Comment[ca]=Mostra el protector en monocrom.
Comment[es]=Cambiar a la visualizaciСn en monocromo.
Comment[eu]=Pantaila babesle monokromoa.
Comment[fr]=Change l'affichage en monochrome.
Comment[no]=Endre til monokrom visning.
Comment[ru]=Переключить в однотонный режим.
Comment[wa]=CandjН li hЕynaedje Х monocrome.

