[Desktop Entry]
Name=Kaleidescope
Name[ca]=Caleidoscopi
Name[da]=Kalejdoskop
Name[es]=Caleidoscopio
Name[fr]=Kaleïdoscope
Name[no]=Kaleidoskop
Name[ru]=ëÁÌÅÊÄÏÓËÏĞ
Comment=Draws rotating line segments.
Comment[ca]=Dibuixa segments de línia que roden.
Comment[fr]=Affiche des segments de droites en mouvement
Comment[no]=Tegner roterende linjesegmenter.
Exec=xscreensaver-command -activate
TryExec=kaleidescope
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=kaleidescope.png
Author=Ron Tapia <tapia@nmia.com>
ExtendedComment=Kaleidescope draws line segments in a symmetric pattern.
ExtendedComment[ca]=«Caleidoscopi» dibuixa segments de línia en un motiu simètric.
ExtendedComment[fr]=Kaleïdoscope affiche des motifs symétriques basés sur des segments de droites.
ExtendedComment[no]=Kaleidoskop tegner linjesegmenter i et symmetrisk mønster.
Demo=kaleidescope -delay 2

[Arg0]
Name=Segments
Type=NRange
Flag=-nsegments
LeftLabel=Segments
LeftLabel[ca]=Segments
LeftLabel[fr]=Segments
LeftLabel[no]=Segmenter
ValType=I[1-50]=7

Label=Number of segments.
Label[ca]=Nombre de segments
Label[fr]=Nombre de segments.
Label[no]=Antall segmenter.

Comment=Change number of segments.
Comment[ca]=Canvia el nombre de segments.
Comment[fr]=Change le nombre de segments.
Comment[no]=Endre antall segmenter.

[Arg1]
Name=Trails
Type=LRange
Flag=-ntrails
LeftLabel=Less
LeftLabel[ca]=Menys
LeftLabel[es]=Menos
LeftLabel[fr]=Moins
LeftLabel[no]=Færre

RightLabel=More
RightLabel[pt_BR]=Mais
RightLabel[ca]=Més
RightLabel[es]=Más
RightLabel[fr]=Plus
RightLabel[no]=Flere

ValType=I[10-500]=100
Label=Number of trails.
Label[ca]=Nombre de rastres
Label[fr]=Nombre de trainées.
Label[no]=Antall spor.

Comment=Change number of trails.
Comment[ca]=Canvia el nombre de rastres que deixen les línies.
Comment[fr]=Changer le nombre de trainées.
Comment[no]=Endre antall spor.

[Arg2]
Name=Delay
Type=LRange
Flag=-delay
LeftLabel=Faster
LeftLabel[ca]=Ràpid
LeftLabel[es]=Rápido
LeftLabel[eu]=Arin
LeftLabel[fr]=Rapide
LeftLabel[no]=Fortere
LeftLabel[ru]=âÙÓÔÒÅÅ
LeftLabel[wa]=Roed

RightLabel=Slower
RightLabel[ca]=Lent
RightLabel[es]=Lento
RightLabel[es]=Astiro
RightLabel[fr]=Plus lent
RightLabel[no]=Saktere
RightLabel[ru]=íÅÄÌÅÎÎÅÅ
RightLabel[wa]=Londjin

ValType=I[1-500000]=2
Label=Speed of Motion.
Label[ca]=Velocitat de l'animació
Label[es]=Velocidad de la animación
Label[eu]=Animazioaren abiadura
Label[fr]=Vitesse du mouvement.
Label[no]=Bevegelseshastighet.
Label[ru]=óËÏÒÏÓÔØ Ä×ÉÖÅÎÉÑ.
Label[wa]=Roedeu di l' animåcion

Comment=Change the delay in cycles.
Comment[ca]=Canvia el retard en cicles.
Comment[es]=Cambiar la velocidad de la animación.
Comment[eu]=Animazio abiadura aldatu.
Comment[fr]=Changer la vitesse du mouvement.
Comment[no]=Endre pausen mellom rundene.
Comment[ru]=éÚÍÅÎÅÎÉÅ ÚÁÄÅÒÖËÉ × ÃÉËÌÁÈ.
Comment[wa]=Candjî li roedeu di l' animåcion.

[Arg3]
Name=Monochrome
Type=Check
Flag=-color_mode mono
Flag2=-color_mode nice
LeftLabel=Display screensaver in monochrome.
LeftLabel[ca]=Mostrar el protector en monocrom
LeftLabel[es]=Cambiar a la visualización en monocromo.
LeftLabel[eu]=Pantaila babesle monokromoa.
LeftLabel[fr]=Economiseur d'écran en mode monochrome.
LeftLabel[no]=Vis skjermspareren i monokrom.
LeftLabel[ru]=ğÅÒÅËÌÀŞÉÔØ × ÏÄÎÏÔÏÎÎÙÊ ÒÅÖÉÍ.
LeftLabel[wa]=Candjî li håynaedje è monocrome.

Comment=Change to display in monochrome.
Comment[ca]=Mostra el protector en monocrom.
Comment[es]=Cambiar a la visualización en monocromo.
Comment[eu]=Pantaila babesle monokromoa.
Comment[fr]=Changer en mode monochrome.
Comment[no]=Endre til monokrom visning.
Comment[ru]=ğÅÒÅËÌÀŞÉÔØ × ÏÄÎÏÔÏÎÎÙÊ ÒÅÖÉÍ.
Comment[wa]=Candjî li håynaedje è monocrome.

