[Desktop Entry]
Name=Kumppa
Name[ca]=Kumppa
Name[da]=Kumppa
Name[fr]=Kumppa
Name[no]=Kumppa
Comment=
Exec=xscreensaver-command -activate
TryExec=kumppa
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=kumppa.png
Author=
ExtendedComment=
Demo=kumppa -delay 2
