[Desktop Entry]
Name=Lament
Name[fr]=Lament
Name[da]=Lament
Name[no]=Lament
Comment=A 3d cube floats around
Comment[fr]=Un cube 3D flottant
Comment[da]=En 3D-kube som flyder rundt
Comment[no]=En 3D kube som flyter rundt
Exec=xscreensaver-command -activate
TryExec=lament
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Demo=lament


