[Desktop Entry]
Name=Laser
Name[ca]=LЮser
Name[da]=Laser
Name[es]=Laser
Name[fr]=Laser
Name[no]=Laser
Name[ru]=Лазер
Name[uk]=Лазер
Name[wa]=Lazer
Comment=Draws vaguely laser-like moving lines.
Comment[ca]=Dibuixa unes lМnies com de lЮser en moviment.
Comment[fr]=Dessine des lignes ressemblant vaguement a des rayons laser.
Comment[ru]=Рисует линии напоминающие лазерные лучи.
Comment[uk]=Малю╓ рухом╕ л╕н╕╖ схож╕ на промен╕ лазера.
Comment[no]=Tegner vagt laser-liknende, bevegende linjer.
Exec=xscreensaver-command -activate
TryExec=laser
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=laser.png
Author=Pascal Pensa
ExtendedComment=Draws laser-like lines moving around a central focal point in varying numbers and colors.
ExtendedComment[ca]=Dibuixa lМnies com de lЮser movent-se al voltant d'un focus central i variant de color.
ExtendedComment[fr]=Dessine des lignes ressemblant vaguement a des rayons laser se dИplaГant autour d'un point focal.
ExtendedComment[no]=Tegner laser-liknende linjer som beveger seg rundt et sentralt fokuspunkt i varierende antall og farger.
ExtendedComment[ru]=Рисует линии напоминающие лазерные лучи двигающиеся вокруг точки фокуса и меняюще цвет.
ExtendedComment[uk]=Малю╓ л╕н╕╖ схож╕ на промен╕ лазера, що рухаються навколо фокуса та зм╕нюють кол╕р.
Demo=laser -delay 2

[Arg0]
Name=Duration
Type=LRange
LeftLabel=Shorter
LeftLabel[ca]=Curt
LeftLabel[fr]=Plus court
LeftLabel[no]=Kortere
LeftLabel[ru]=Короче
LeftLabel[uk]=Менша

RightLabel=Longer
RightLabel[ca]=Llarga
RightLabel[fr]=Plus long
RightLabel[no]=Lengre
RightLabel[ru]=Длиннее
RightLabel[uk]=Б╕льша

Flag=-cycles
ValType=I[10-1000]=200
Label=Duration of laser burst.
Label[ca]=Durada de disparada
Label[fr]=DurИe des tirs laser.
Label[no]=Varighet av laser.
Label[ru]=Продолжительность всплеска лазерных импульсов.
Label[uk]=Довготривал╕сть сплеску лазерних ╕мпульс╕в.

Comment=Duration of the laser burst.  After the burst has finished, It will move to a new location on the screen.
Comment[ca]=Durada de la disparada lЮser.  En acabar la disparada, es mourЮ a un altre lloc de la pantalla.
Comment[fr]=DurИe des tirs laser. AprХs chaque tir, le point de tir se dИplace vers un point diffИrent sur l'Иcran.
Comment[no]=Varighet av laseren. Etter at laseren er ferdig, beveger den seg til et nytt sted pЕ skjermen.
Comment[ru]=Продолжительность всплеска лазерных импульсов исходящих из одной точки. 
Comment[uk]=Довготривал╕сть сплеску лазерних ╕мпульс╕в, що виходять з одн╕╓ю точки. 

[Arg1]
Name=Count
Type=NRange
LeftLabel=Segments:
LeftLabel[ca]=Segments:
LeftLabel[fr]=Segments:
LeftLabel[no]=Segmenter:
LeftLabel[ru]=Сектора:
LeftLabel[uk]=Сегменти:

Flag=-count
ValType=I[1-20]=10
Label=Size of burst.
Label[ca]=Tamany de disparada
Label[no]=StЬrrelse pЕ utbrudd.
Label[ru]=Размер всплеска.
Label[uk]=Розм╕р сплеску.

Comment=Number of segments per laser burst.
Comment[ca]=Nombre de segments per disparada lЮser.
Comment[no]=Antall segmenter for hvert laser-utbrudd.
Comment[ru]=Число секторов в одном лазерном всплеске.
Comment[uk]=Число сектор╕в у одному лазерному сплеску.

[Arg2]
Name=Mono
Type=Check
Flag=-mono
Flag2=
LeftLabel=Display screensaver in monochrome.
LeftLabel[ca]=Mostrar el protector en monocrom
LeftLabel[es]=Cambiar a la visualizaciСn en monocromo.
LeftLabel[eu]=Pantaila babesle monokromoa.
LeftLabel[fr]=Economiseur d'Иcran en mode monochrome.
LeftLabel[no]=Vis skjermspareren i monokrom.
LeftLabel[ru]=Переключить в однотонный режим.
LeftLabel[wa]=CandjН li hЕynaedje Х monocrome.
LeftLabel[uk]=Показувати збер╕гач екрана монохромно.

Comment=Change to display in monochrome.
Comment[ca]=Mostra el protector en monocrom.
Comment[es]=Cambiar a la visualizaciСn en monocromo.
Comment[eu]=Pantaila babesle monokromoa.
Comment[fr]=Change l'affichage en monochrome.
Comment[no]=Endre til monokrom visning.
Comment[ru]=Притвориться что экран черно-белый.
Comment[wa]=CandjН li hЕynaedje Х monocrome.
Comment[uk]=Зм╕на показу на монохромний.
