[Desktop Entry]
Name=Lightning
Name[ca]=Llamps
Name[da]=Lyn
Name[es]=Rayos
Name[fi]=Salama
Name[fr]=Éclairs
Name[ja]=Á®¸÷
Name[no]=Lyn
Name[ru]=íÏÌÎÉÑ
Name[wa]=Aloumîres
Comment=Draws fractal lightning bolts.
Comment[ca]=Dibuixa llamps fractals.
Comment[fi]=Piirtää fraktaalisalamoita.
Comment[fr]=Dessine des éclairs fractals.
Comment[no]=Tegner fraktale lyn.
Exec=xscreensaver-command -activate
TryExec=lightning
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=lightning.png
Author=Keith Romberg <kromberg@saxe.com>
ExtendedComment=Lightning draws fractal lightning bolts.
ExtendedComment[ca]=«Llamps» dibuixa llamps fractals.
ExtendedComment[fr]=Dessine des éclairs fractals.
ExtendedComment[no]=Lyn tegner fraktale lyn.
Demo=lightning -delay 2

[Arg0]
Name=Colors
Type=NRange
LeftLabel=Colors:
LeftLabel[pt_BR]=Cores:
LeftLabel[ca]=Colors:
LeftLabel[en_GB]=Colours:
LeftLabel[es]=Colores:
LeftLabel[eu]=Koloreak:
LeftLabel[fr]=Couleurs:
LeftLabel[ja]=¿§:
LeftLabel[no]=Farger:
LeftLabel[ru]=ã×ÅÔÁ:
LeftLabel[wa]=Coleurs:

Flag=-ncolors
ValType=I[1-256]=100
Label=Number of Colors.
Label[ca]=Nombre de colors
Label[en_GB]=Number of Colours.
Label[es]=Cantidad de colores.
Label[eu]=Kolore kopurua.
Label[fr]=Nombre de couleurs.
Label[no]=Antall farger.
Label[ru]=ëÏÌÉŞÅÓÔ×Ï Ã×ÅÔÏ×.
Label[wa]=Nombe di coleurs.

Comment=Change the number of colors to use.
Comment[ca]=Canvia el nombre de colors a usar.
Comment[en_GB]=Change the number of colours to use.
Comment[es]=Cambiar la cantidad de colores usada por el salvapantallas.
Comment[eu]=Erabili beharreko kolore kopurua aldatu.
Comment[fr]=Change le nombre de couleurs utilisé par l'économiseur d'écran.
Comment[no]=Endre antall farger som skal brukes.
Comment[ru]=éÚÍÅÎÅÎÉÅ ŞÉÓÌÁ ÉÓĞÏÌØÚÕÅÍÙÈ Ã×ÅÔÏ×.
Comment[wa]=Candjî li nombe di coleurs a eployî.

[Arg1]
Name=Monochrome
Type=Check
Flag=-mono
Flag2=
LeftLabel=Display screensaver in monochrome.
LeftLabel[ca]=Mostrar el protector en monocrom
LeftLabel[es]=Cambiar a la visualización en monocromo.
LeftLabel[eu]=Pantaila babesle monokromoa.
LeftLabel[fr]=Economiseur d'écran en mode monochrome.
LeftLabel[no]=Vis skjermspareren i monokrom.
LeftLabel[ru]=ğÅÒÅËÌÀŞÉÔØ × ÏÄÎÏÔÏÎÎÙÊ ÒÅÖÉÍ.
LeftLabel[wa]=Candjî li håynaedje è monocrome.

Comment=Change to display in monochrome.
Comment[ca]=Mostra el protector en monocro
Comment[es]=Cambiar a la visualización en monocromo.
Comment[eu]=Pantaila babesle monokromoa.
Comment[fr]=Change l'affichage en monochrome.
Comment[no]=Endre til monokrom visning.
Comment[ru]=ğÒÉÔ×ÏÒÉÔØÓÑ ŞÔÏ ÜËÒÁÎ ŞÅÒÎÏ-ÂÅÌÙÊ .
Comment[wa]=Candjî li håynaedje è monocrome.

