[Desktop Entry]
Name=Lisa
Name[ca]=Lisa
Name[da]=Lisa
Name[fr]=Lisa
Name[no]=Lisa
Name[ru]=ìÉÚÁ
Comment=Draws animated full-loop lisajous figures
Comment[ca]=Dibuixa figures animades de Lisajous de volta completa.
Comment[fr]=Affiche des courbes de lisajous animées
Comment[no]=Tegner animerte full-loop lisajous figurer
Exec=xscreensaver-command -activate
TryExec=lisa
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=lisa.png
Author=Caleb Cullen
ExtendedComment=Lisa draws animated full-loop lisajous figures.
ExtendedComment[ca]=«Lisa» dibuixa figures animades de Lisajous de volta completa.
ExtendedComment[fr]=Lisa affiche des courbes de lisajous animées.
ExtendedComment[no]=Lisa tegner animerte gjentagende lisajous figurer.
Demo=lisa -delay 2

[Arg0]
Name=Colors
Type=NRange
LeftLabel=Colors:
LeftLabel[pt_BR]=Cores:
LeftLabel[ca]=Colors:
LeftLabel[en_GB]=Colours:
LeftLabel[es]=Colores:
LeftLabel[eu]=Koloreak:
LeftLabel[fr]=Couleurs:
LeftLabel[ja]=¿§:
LeftLabel[no]=Farger:
LeftLabel[ru]=ã×ÅÔÁ:
LeftLabel[wa]=Coleurs:

Flag=-ncolors
ValType=I[1-256]=100
Label=Number of Colors.
Label[ca]=Nombre de colors
Label[en_GB]=Number of Colours.
Label[es]=Cantidad de colores.
Label[eu]=Kolore kopurua.
Label[fr]=Nombre de couleurs.
Label[no]=Antall farger.
Label[ru]=ëÏÌÉŞÅÓÔ×Ï Ã×ÅÔÏ×.
Label[wa]=Nombe di coleurs.

Comment=Change the number of colors to use.
Comment[ca]=Canvia el nombre de colors a usar.
Comment[en_GB]=Change the number of colours to use.
Comment[es]=Cambiar la cantidad de colores usada por el salvapantallas.
Comment[eu]=Erabili beharreko kolore kopurua aldatu.
Comment[fr]=Change le nombre de couleurs utilisé par l'économiseur d'écran.
Comment[no]=Endre antall farger som skal brukes.
Comment[ru]=éÚÍÅÎÅÎÉÅ ŞÉÓÌÁ ÉÓĞÏÌØÚÕÅÍÙÈ Ã×ÅÔÏ×.
Comment[wa]=Candjî li nombe di coleurs a eployî.

[Arg1]
Name=Cycles
Type=LRange
Flag=-cycles
LeftLabel=Faster
LeftLabel[ca]=Ràpid
LeftLabel[es]=Rápido
LeftLabel[eu]=Arin
LeftLabel[fr]=Rapide
LeftLabel[no]=Fortere
LeftLabel[ru]=âÙÓÔÒÅÅ
LeftLabel[wa]=Roed

RightLabel=Slower
RightLabel[ca]=Lent
RightLabel[es]=Lento
RightLabel[es]=Astiro
RightLabel[fr]=Lent
RightLabel[no]=Saktere
RightLabel[ru]=íÅÄÌÅÎÎÅÅ
RightLabel[wa]=Londjin

ValType=I[1-500000]=2
Label=Speed of Motion.
Label[ca]=Velocitat de l'animació
Label[es]=Velocidad de la animación
Label[eu]=Animazioaren abiadura
Label[fr]=Vitesse de l'animation
Label[no]=Bevegelseshastighet.
Label[ru]=óËÏÒÏÓÔØ Ä×ÉÖÅÎÉÑ.
Label[wa]=Roedeu di l' animåcion

Comment=Change the delay in cycles.
Comment[ca]=Canvia el retard en cicles.
Comment[es]=Cambiar la velocidad de la animación.
Comment[eu]=Animazio abiadura aldatu.
Comment[fr]=Change la vitesse de l'animation.
Comment[no]=Endre pausen mellom rundene.
Comment[ru]=éÚÍÅÎÅÎÉÅ ÚÁÄÅÒÖËÉ × ÃÉËÌÁÈ.
Comment[wa]=Candjî li roedeu di l' animåcion.

[Arg2]
Name=Count
Type=NRange
LeftLabel=Count:
LeftLabel[pt_BR]=Contador:
LeftLabel[ca]=Nombre:
LeftLabel[fr]=Nombre:
LeftLabel[no]=Antall:

Flag=-count
ValType=I[1-5]=1
Label=Number to use.
Label[ca]=Nombre a usar
Label[fr]=Nombre a utiliser.
Label[no]=Antall som skal brukes.

Comment=Change the number to use.
Comment[ca]=Canvia el nombre a usar.
Comment[fr]=Change le nombre a utiliser.
Comment[no]=Endre antall som skal brukes.

[Arg3]
Name=Size
Type=LRange
LeftLabel=Smaller
LeftLabel[ca]=Menut
LeftLabel[es]=Pequeño
LeftLabel[fr]=Plus petit
LeftLabel[ja]=¾®¤µ¤¤
LeftLabel[no]=Små
LeftLabel[wa]=Pitit

RightLabel=Larger
RightLabel[ca]=Gran
RightLabel[es]=Grande
RightLabel[fr]=Plus grand
RightLabel[ja]=Âç¤­¤¤
RightLabel[no]=Store
RightLabel[wa]=Grand

Flag=-size
ValType=I[50-1000]=100
Label=Size of object.
Label[ca]=Tamany de l'objecte
Label[fr]=Taille de l'objet.
Label[no]=Størrelsen på objektet.

Comment=Change the size of object.
Comment[ca]=Canvia el tamany de l'objecte.
Comment[fr]=Change la taille de l'objet.
Comment[no]=Endre størrelsen på objektet.

[Arg4]
Name=Monochrome
Type=Check
Flag=-mono
Flag2=
LeftLabel=Display screensaver in monochrome.
LeftLabel[ca]=Mostrar el protector en monocrom
LeftLabel[es]=Cambiar a la visualización en monocromo.
LeftLabel[eu]=Pantaila babesle monokromoa.
LeftLabel[fr]=Economiseur d'écran en mode monochrome.
LeftLabel[no]=Vis skjermspareren i monokrom.
LeftLabel[ru]=ğÅÒÅËÌÀŞÉÔØ × ÏÄÎÏÔÏÎÎÙÊ ÒÅÖÉÍ.
LeftLabel[wa]=Candjî li håynaedje è monocrome.

Comment=Change to display in monochrome.
Comment[ca]=Mostra el protector en monocrom.
Comment[es]=Cambiar a la visualización en monocromo.
Comment[eu]=Pantaila babesle monokromoa.
Comment[fr]=Change l'affichage en monochrome.
Comment[no]=Endre til monokrom visning.
Comment[ru]=ğÒÉÔ×ÏÒÉÔØÓÑ ŞÔÏ ÜËÒÁÎ ŞÅÒÎÏ-ÂÅÌÙÊ .
Comment[wa]=Candjî li håynaedje è monocrome.

