[Desktop Entry]
Name=Loop
Name[pt_BR]=Laço
Name[ca]=Volta
Name[da]=Løkke
Name[fr]=Boucles
Name[no]=Løkke
Comment=This one produces loop-shaped colonies that spawn, age, and eventually die.
Comment[ca]=Aquest produeix colònies en forma de volta que naixen, creixen, i finalment moren.
Comment[da]=Laver en række løkkeformede kolonier der opstår, ældes og dør til slut.
Comment[fr]=Produit des colonies en forme de boucles, qui se développent, vieillissent et meurent.
Comment[no]=Denne produserer løkkeformede kolonier som formerer seg, eldes, og til slutt dør.
Exec=xscreensaver-command -activate
TryExec=loop
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Demo=loop
