[Desktop Entry]
Name=Moebius
Name[da]=Moebius
Name[fi]=Moebius
Name[fr]=Moebius
Name[no]=Moebius
Comment=M.C. Escher inspired ants.. in 3d
Comment[da]=M.C. Escher-inspirede myrer i 3d
Comment[es]=Hormigas inspiradas de M.C. EScher... en 3 dimensiones
Comment[fi]=Escherin inspiroimia muurahaisia 3-ulotteisena
Comment[fr]=Fourmis inspirés de M.C. Escher... en 3D
Comment[no]=M.C. Escher inspirerte maur... i 3D
Comment[wa]=Des frumixhes inspireyes da M.C. Escher... è 3D
Exec=xscreensaver-command -activate
TryExec=moebius
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Demo=moebius


