[Desktop Entry]
Name=Moire2
Name[ca]=MoirÈ2
Name[da]=MoirÈ2
Name[fr]=Moirage2
Name[no]=Moire2
Name[ru]=Ì’¡“2
Name[uk]=Ì’¡“2
Comment=
Exec=xscreensaver-command -activate
TryExec=moire2
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=moire2.png
Author=
ExtendedComment=
Demo=moire2 -delay 2
