[Desktop Entry]
Name=Moire
Name[ca]=MoirИ
Name[da]=MoirИ
Name[fi]=Moire
Name[fr]=Moirage
Name[no]=Moire
Name[ru]=Муар
Name[uk]=Муар
Comment=Draw circular interference patterns
Comment[ca]=Dibuixa patrons d'interferХncia circular.
Comment[da]=Tegn runde interferensmЬnstre
Comment[fi]=YmpyrДnmuotoisia interferenssikuvioita
Comment[fr]=Dessine des motifs d'interfИrence circulaires
Comment[no]=Tegn sirkulФre interferensmЬnstre
Comment[uk]=Малю╓ кругл╕ ╕нтерференсн╕ в╕зерунки.
Exec=xscreensaver-command -activate
TryExec=moire
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=moire.png
Author=Jamie  Zawinski <jwz@jwz.org>
ExtendedComment=Moire draws circular interference patterns.
ExtendedComment[ca]=╚MoirИ╩ dibuixa patrons d'interferХncia circular.
ExtendedComment[fr]=Moire dessine des motifs d'interfИrence circulaires.
ExtendedComment[no]=Moire tegner sirkulФre interferensmЬnstre.
ExtendedComment[uk]=Малю╓ кругл╕ ╕нтерференсн╕ в╕зерунки.
Demo=moire -delay 2


[Arg2]
Name=Delay
Type=LRange
Flag=-delay
LeftLabel=Faster
LeftLabel[ca]=RЮpid
LeftLabel[fr]=Plus rapide
LeftLabel[no]=Fortere
LeftLabel[uk]=Швидше

RightLabel=Slower
RightLabel[ca]=Lent
RightLabel[fr]=Plus lent
RightLabel[no]=Saktere
RightLabel[uk]=Пов╕льн╕ше
ValType=I[1-500000]=2

Label=Speed of Motion.
Label[ca]=Velocitat de l'animaciС
Label[fr]=DИlai entre les cycles.
Label[no]=Швидк╕сть руху.

Comment=Change the delay in cycles.
Comment[ca]=Canvia el retard en cicles.
Comment[fr]=Change le dИlai entre les cycles.
Comment[no]=Endre pausen i runder.
Comment[uk]=Зм╕на затримки в циклах.

[Arg0]
Name=Colors
Type=NRange
LeftLabel=Colors:
LeftLabel[pt_BR]=Cores:
LeftLabel[ca]=Colors:
LeftLabel[en_GB]=Colours:
LeftLabel[es]=Colores:
LeftLabel[eu]=Koloreak:
LeftLabel[fr]=Couleurs:
LeftLabel[ja]=©╖:
LeftLabel[no]=Farger:
LeftLabel[ru]=Цвета:
LeftLabel[uk]=Кольори:
LeftLabel[wa]=Coleurs:

Flag=-ncolors
ValType=I[1-264]=30
Label=Number of Colors.
Label[ca]=Nombre de colors
Label[en_GB]=Number of Colours.
Label[es]=Cantidad de colores.
Label[eu]=Kolore kopurua.
Label[fr]=Nombre de couleurs.
Label[no]=Antall farger.
Label[ru]=Количество цветов.
Label[uk]=К╕льк╕сть кольор╕в.
Label[wa]=Nombe di coleurs.

Comment=Change the number of colors to use.
Comment[ca]=Canvia el nombre de colors a usar.
Comment[en_GB]=Change the number of colours to use.
Comment[es]=Cambiar la cantidad de colores usada por el salvapantallas.
Comment[eu]=Erabili beharreko kolore kopurua aldatu.
Comment[fr]=Change le nombre de couleurs utilisИ par l'Иconomiseur d'Иcran.
Comment[no]=Endre antall farger som skal brukes.
Comment[ru]=Изменение числа используемых цветов.
Comment[uk]=Зм╕на числа кольор╕в.
Comment[wa]=CandjН li nombe di coleurs a eployН.

[Arg1]
Name=Offset
Type=LRange
LeftLabel=Smaller
LeftLabel[ca]=Menut
LeftLabel[fr]=Plus petit
LeftLabel[no]=Mindre
LeftLabel[uk]=Менше

RightLabel=Larger
RightLabel[ca]=Gran
RightLabel[fr]=Plus grand
RightLabel[no]=StЬrre
RightLabel[uk]=Б╕льше

Flag=-offset
ValType=I[5-500]=500
Label=Maximum radius increment
Label[ca]=Increment mЮxim del radi
Label[fr]=IncrИment maximum du rayon
Label[no]=Maksimal radiusЬkning
Label[uk]=Максимальний ╕нкремент рад╕уса

[Arg3]
Name=Monochrome
Type=Check
Flag=-mono
Flag2=
LeftLabel=Display screensaver in monochrome.
LeftLabel[ca]=Mostrar el protector en monocrom
LeftLabel[es]=Cambiar a la visualizaciСn en monocromo.
LeftLabel[eu]=Pantaila babesle monokromoa.
LeftLabel[fr]=Economiseur d'Иcran en mode monochrome.
LeftLabel[no]=Vis skjermspareren i monokrom.
LeftLabel[ru]=Переключить в однотонный режим.
LeftLabel[wa]=CandjН li hЕynaedje Х monocrome.
LeftLabel[uk]=Показувати збер╕гач екрана монохромно.

Comment=Change to display in monochrome.
Comment[ca]=Mostra el protector en monocrom.
Comment[es]=Cambiar a la visualizaciСn en monocromo.
Comment[eu]=Pantaila babesle monokromoa.
Comment[fr]=Change l'affichage en monochrome.
Comment[no]=Endre til monokrom visning.
Comment[ru]=Притвориться что экран черно-белый .
Comment[wa]=CandjН li hЕynaedje Х monocrome.
Comment[uk]=Зм╕на показу на монохромний.
