[Desktop Entry]
Name=Morph3d
Name[da]=Morf3d
Name[fi]=Morph3d
Name[fr]=Morph3d
Name[no]=Morf3D
Comment=A 3d flower morphs into a sphear
Comment[da]=En 3d blomst morfes til en sfære
Comment[fi]=3-ulotteinen kukka muotoutuu palloksi
Comment[fr]=Une fleur 3D qui se déforme en sphére
Comment[no]=En 3D blomst som morfes til en sfære
Exec=xscreensaver-command -activate
TryExec=morph3d
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Demo=morph3d


