[Desktop Entry]
Name=Munch
Name[ca]=Masca
Name[da]=Munch
Name[no]=Munch
Comment=Munching squares.
Comment[ca]=Mascant quadrats.
Comment[da]=Spiser kvadrater.
Comment[no]=Spiser kvadrater.
Exec=xscreensaver-command -activate
TryExec=munch
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=munch.png
Author=Tim  Showalter  <tjs@andrew.cmu.edu>
ExtendedComment=Munch munches squares until killed.
ExtendedComment[ca]=«Masca» masca quadrats fins ser terminat.
ExtendedComment[da]=Munch spiser kvadrater til den dræbes.
ExtendedComment[no]=Munch spiser kvadrater til den drepes.
Demo=munch -delay 2

[Arg0]
Name=Delay
Type=LRange
Flag=-delay
LeftLabel=Faster
LeftLabel[ca]=Ràpid
LeftLabel[da]=Hurtigere
LeftLabel[es]=Rápido
LeftLabel[eu]=Arin
LeftLabel[fr]=Rapide
LeftLabel[no]=Fortere
LeftLabel[ru]=âÙÓÔÒÅÅ
LeftLabel[wa]=Roed

RightLabel=Slower
RightLabel[ca]=Lent
RightLabel[da]=Langsommere
RightLabel[es]=Lento
RightLabel[es]=Astiro
RightLabel[fr]=Lent
RightLabel[no]=Saktere
RightLabel[ru]=íÅÄÌÅÎÎÅÅ
RightLabel[wa]=Londjin

ValType=I[1-500000]=2
Label=Speed of Motion.
Label[ca]=Velocitat de l'animació
Label[da]=Bevægelseshastighed.
Label[es]=Velocidad de la animación
Label[eu]=Animazioaren abiadura
Label[fr]=Vitesse de l'animation
Label[no]=Bevegelseshastighet.
Label[ru]=óËÏÒÏÓÔØ Ä×ÉÖÅÎÉÑ.
Label[wa]=Roedeu di l' animåcion

Comment=Change the delay in cycles.
Comment[ca]=Canvia el retard en cicles.
Comment[da]=Ændr pausen mellem runderne.
Comment[es]=Cambiar la velocidad de la animación.
Comment[eu]=Animazio abiadura aldatu.
Comment[fr]=Change la vitesse de l'animation.
Comment[no]=Endre pausen mellom rundene.
Comment[ru]=éÚÍÅÎÅÎÉÅ ÚÁÄÅÒÖËÉ × ÃÉËÌÁÈ.
Comment[wa]=Candjî li roedeu di l' animåcion.

[Arg1]
Name=XOR
Type=Check
Flag=-xor
Flag2=-no-xor
LeftLabel=Use XOR drawing function.
LeftLabel[ca]=Usar la funció de dibuix amb XOR
LeftLabel[da]=Brug XOR tegnefunktionen.
LeftLabel[no]=Bruk XOR tegnefunksjonen.

Comment=Change to use XOR drawing function.
Comment[ca]=Usa la funció de dibuix amb XOR.
Comment[da]=Ændr til at bruge XOR tegnefunktionen.
Comment[no]=Endre til å bruke XOR tegnefunksjonen.

[Arg2]
Name=Shift
Type=Check
Flag=-shift
Flag2=-no-shift
LeftLabel=Draw square at weird starting points.
LeftLabel[ca]=Dibuixar quadrats en llocs estranys
LeftLabel[da]=Tegn firkant ved mærkelige startpunkter.
LeftLabel[no]=Tegn firkant ved rare startpunkter.

Comment=Change to draw square at weird starting points.
Comment[ca]=Dibuixa quadrats amb punts de començament estranys.
Comment[da]=Ændr til at tegne firkant ved mærkelige startpunkter.
Comment[no]=Endre til å tegne firkant ved rare startpunkter.

[Arg3]
Name=Monochrome
Type=Check
Flag=-mono
Flag2=
LeftLabel=Display screensaver in monochrome.
LeftLabel[ca]=Mostrar el protector en monocrom
LeftLabel[da]=Vis pauseskærmen i sort/hvid.
LeftLabel[es]=Cambiar a la visualización en monocromo.
LeftLabel[eu]=Pantaila babesle monokromoa.
LeftLabel[fr]=Economiseur d'écran en mode monochrome.
LeftLabel[no]=Vis skjermspareren i monokrom.
LeftLabel[ru]=ğÅÒÅËÌÀŞÉÔØ × ÏÄÎÏÔÏÎÎÙÊ ÒÅÖÉÍ.
LeftLabel[wa]=Candjî li håynaedje è monocrome.

Comment=Change to display in monochrome.
Comment[ca]=Mostra el protector en monocrom.
Comment[da]=Ændr til sort/hvid-visning.
Comment[es]=Cambiar a la visualización en monocromo.
Comment[eu]=Pantaila babesle monokromoa.
Comment[fr]=Change l'affichage en monochrome.
Comment[no]=Endre til monokrom visning.
Comment[ru]=ğÒÉÔ×ÏÒÉÔØÓÑ ŞÔÏ ÜËÒÁÎ ŞÅÒÎÏ-ÂÅÌÙÊ .
Comment[wa]=Candjî li håynaedje è monocrome.

