[Desktop Entry]
Name=Noseguy
Name[ca]=Nassot
Name[da]=NÊsefyr
Name[es]=Narigudo
Name[fi]=Nen‰k‰s
Name[no]=Nesetype
Name[ru]=Óœ”
Comment=
Exec=xscreensaver-command -activate
TryExec=noseguy
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=noseguy.png
Author=
ExtendedComment=
Demo=noseguy
