[Desktop Entry]
Name=Pedal
Name[ca]=Pedal
Name[da]=Pedal
Name[fi]=Pedal
Name[fr]=Pedal
Name[no]=Pedal
Comment=Pretty geometric picture program.
Comment[ca]=Figures geomètriques boniques.
Comment[da]=Pænt geometrisk billed-program.
Comment[fi]=Kauniita geometrisia kuvioita.
Comment[fr]=Jolies images géométriques.
Comment[no]=Pent geometrisk bilde program.
Exec=xscreensaver-command -activate
TryExec=pedal
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=pedal.png
Author=Dale Moore <Dale.Moore@cs.cmu.edu>
ExtendedComment=Pedal Displays pretty geometric pictures.
ExtendedComment[ca]=«Pedal» dibuixa figures geomètriques boniques.
ExtendedComment[da]=Pedal viser pæne geometriske billeder.
ExtendedComment[fr]=Pedal affiche de jolies images géométriques.
ExtendedComment[no]=Pedal viser pene geometriske bilder.
Demo=pedal -delay 2

[Arg0]
Name=Delay
Type=LRange
Flag=-delay
LeftLabel=Shorter
LeftLabel[ca]=Curt
LeftLabel[da]=Kortere
LeftLabel[fr]=Plus court
LeftLabel[no]=Kortere

RightLabel=Longer
RightLabel[ca]=Llarg
RightLabel[da]=Længere
RightLabel[fr]=Plus long
RightLabel[no]=Lengre

ValType=I[2-30]=5
Label=Time to show each picture.
Label[ca]=Temps per mostrar figura
Label[da]=Visningstid for hvert billede.
Label[fr]=Temps que chaque image doit rester affichée.
Label[no]=Visningstid for hvert bilde.

Comment=Change the time each picture is shown.
Comment[ca]=Canvia el temps que es mostra cada figura.
Comment[da]=Ændr tiden hvert billede bliver vist.
Comment[fr]=Change le temps que chaque image doit rester affichée.
Comment[no]=Endre tiden hvert bilde blir vist.

[Arg1]
Name=Maxlines
Type=LRange
Flag=-maxlines
LeftLabel=Less
LeftLabel[ca]=Menys
LeftLabel[da]=Færre
LeftLabel[fr]=Moins
LeftLabel[no]=Færre

RightLabel=More
RightLabel[pt_BR]=Mais
RightLabel[ca]=Més
RightLabel[da]=Flere
RightLabel[fr]=Plus
RightLabel[no]=Flere

ValType=I[15-5000]=200
Label=Maximum number of lines.
Label[ca]=Nombre màxim de línies
Label[da]=Maksimum antal linjer.
Label[fr]=Nombre maximum de lignes.
Label[no]=Maksimum antall linjer.

Comment=Change maximum number of lines.
Comment[ca]=Canvia el nombre màxim de línies.
Comment[da]=Ændr maksimum antal linjer.
Comment[fr]=Change le nombre maximum de lignes.
Comment[no]=Endre maksimum antall linjer.

[Arg3]
Name=Fadedelay
Type=LRange
Flag=-fadedelay
LeftLabel=Shorter
LeftLAbel[ca]=Curt
LeftLabel[da]=Kortere
LeftLabel[fr]=Plus court
LeftLabel[no]=Kortere

RightLabel=Longer
RightLabel[ca]=Llarg
RightLabel[da]=Længere
RightLabel[fr]=Plus long
RightLabel[no]=Lengre

ValType=I[1-500000]=20
Label=Time to fade away.
Label[ca]=Temps per esvair-se
Label[da]=Tid før forsvindning.
Label[fr]=Délai avant effacement.
Label[no]=Tid før forsvinning.

Comment=Change time to fade away.
Comment[ca]=Canvia el temps per esvair la imatge.
Comment[da]=Ændr tiden for forsvindning.
Comment[fr]=Changer le délai avant effacement.
Comment[no]=Endre tiden for forsvinning.

[Arg2]
Name=Monochrome
Type=Check
Flag=-mono
Flag2=
LeftLabel=Display screensaver in monochrome.
LeftLabel[ca]=Mostrar el protector en monocrom
LeftLabel[da]=Vis pauseskærm i sort/hvid-visning.
LeftLabel[fr]=Economiseur d'écran en mode monochrome.
LeftLabel[no]=Vis skærmsparer som monokrom.

Comment=Change to display in monochrome.
Comment[ca]=Mostra el protector en monocrom.
Comment[da]=Ændr til sort/hvid-visning.
Comment[fr]=Change en mode monochrome.
Comment[no]=Endre til monokrom visning.
