[Desktop Entry]
Name=Penetrate
Name[da]=Penetrér
Name[no]=Penetrer
Comment=Display an arcade game
Comment[da]=Viser et arkadespil
Comment[no]=Viser et arkadespill
Exec=xscreensaver-command -activate
TryExec=penetrate
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Demo=penetrate
