[Desktop Entry]
Name=Penrose
Name[ca]=Penrose
Name[da]=Penrose
Name[fr]=Penrose
Name[no]=Pennerose
Name[ru]=Пеннроуз
Name[uk]=Пенроуз
Comment=
Exec=xscreensaver-command -activate
TryExec=penrose
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=penrose.png
Author=
ExtendedComment=
Demo=penrose -delay 2
