[Desktop Entry]
Name=Pipes
Name[da]=Rørpiber
Name[fi]=Putket
Name[fr]=Tuyaux
Name[no]=Rør
Name[uk]=ôÒÕÂÉ
Comment=3d pipes flow around the screen
Comment[da]=3d rørpiber flyder rundt på skærmen
Comment[fi]=3-ulotteisia putkia ruudun täydeltä
Comment[fr]=Tuyaux 3d flottants autour de l'écran
Comment[no]=3D rør som flyter rundt på skjermen
Comment[uk]=ôÒÉ×ÉÍ¦ÒÎ¦ ÔÒÕÂÉ
Exec=xscreensaver-command -activate
TryExec=pipes
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Demo=pipes
