[Desktop Entry]
Name=Rocks
Name[ca]=Roques
Name[da]=Sten
Name[es]=Rocas
Name[eu]=Harriak
Name[fi]=Kivet
Name[fr]=Rochers
Name[ja]=╢Д
Name[no]=Steiner
Name[ru]=Камни
Name[uk]=Камн╕
Comment=
Exec=xscreensaver-command -activate
TryExec=rocks -nomove -speed 50 -norotate
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=rocks.png
Author=
ExtendedComment=
Demo=rocks -nomove -speed 50 -norotate -delay 2
