[Desktop Entry]
Name=Rorschach
Name[ca]=Rorschach
Name[da]=Rorschach
Name[fi]=Rorschach
Name[fr]=Rorschach
Name[no]=Rorschach
Comment=
Comment[fi]=Piirt‰‰ Rorschahin mustetahroja
Exec=xscreensaver-command -activate
TryExec=rorschach
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=rorschach.png
Author=
ExtendedComment=
Demo=rorschach -delay 2
