[Desktop Entry]
Name=Rotor
Name[ca]=Rotor
Name[da]=Rotor
Name[fi]=Roottori
Name[fr]=Rotor
Name[no]=Rotor
Name[ru]=Вертушка
Name[uk]=Ротор
Comment=
Exec=xscreensaver-command -activate
TryExec=rotor
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=rotor.png
Author=
ExtendedComment=
Demo=rotor -delay 2
