[Desktop Entry]
Name=Rubiks Cube
Name[da]=Fessorterning
Name[fi]=Rubikin kuutio
Name[fr]=Rubiks Cube
Name[no]=Rubiks kube
Name[uk]=Кубик Руб╕ка
Comment=A 3d Rubiks cube floats and twists around
Comment[da]=Flydende og roterende fessor(rubiks)terning
Comment[fi]=3-ulotteinen leijuva ja pyЖrivД Rubikin kuutio.
Comment[fr]=Un Rubiks cube 3D flottant et tournant
Comment[no]=En 3D Rubiks kube som flyter og vrir seg rundt
Comment[uk]=Тривим╕рний кубик Руб╕ка плава╓ ╕ крутиться
Exec=xscreensaver-command -activate
TryExec=rubik
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Demo=rubik


