[Desktop Entry]
Name=Sierpinski
Name[ca]=Sierpinski
Name[da]=Sierpinski
Name[fi]=Sierpinskin kolmio
Name[fr]=Sierpinski
Name[no]=Sierpinski
Name[ru]=Ковер Серпинского
Name[uk]=Серпинський
Comment=The sierpinski program draws Sierpinski triangle fractals.
Comment[fi]=PiirtДД Sierpinskin kolmiofraktaaleja.
Comment[no]=Sierpinski programmet tegner Sierpinski trekant fraktaler.
Comment[uk]=Малю╓ трикутн╕ фрактали Серпинського.
Exec=xscreensaver-command -activate
TryExec=sierpinski
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=sierpinski.png
Author=Desmond  Daignault
ExtendedComment=The sierpinski program draws Sierpinski triangle fractals.
ExtendedComment[fi]=PiirtДД Sierpinskin kolmiofraktaaleja.
ExtendedComment[no]=Sierpinski programmet tegner Sierpinski trekant fraktaler.
ExtendedComment[uk]=Малю╓ трикутн╕ фрактали Серпинського.
Demo=sierpinski -delay 2

[Arg0]
Name=Colors
Name[pt_BR]=Cores
Name[fi]=VДrit
Name[no]=Farger
Name[uk]=Кольори
Type=NRange
LeftLabel=Colors:
LeftLabel[pt_BR]=Cores:
LeftLabel[fi]=VДrejД:
LeftLabel[no]=Farger:
LeftLabel[uk]=Кольори:
Flag=-ncolors
ValType=I[1-256]=64
Label=Number of Colors
Label[pt_BR]=NЗmero de cores
Label[fi]=VДrien mДДrД
Label[no]=Antall farger
Label[uk]=Число кольор╕в
Comment=Change the number of colors to use.
Comment[no]=Muuta kДytettДvien vДrien mДДrДД
Comment[no]=Endre antall farger som skal brukes.
Comment[uk]=Зм╕на числа кольор╕в для використання.

[Arg1]
Name=Cycles
Name[fi]=Kertoja
Name[no]=Runder
Name[uk]=Цикли
Type=LRange
Flag=-cycles
LeftLabel=Faster
LeftLabel[fi]=Nopeammin
LeftLabel[no]=Raskere
LeftLabel[uk]=Швидше
RightLabel=Slower
RightLabel[fi]=Hitaammin
RightLabel[no]=Saktere
RightLabel[uk]=Пов╕льн╕ше
ValType=I[1-50]=20
Label=Speed of Motion
Label[fi]=Liikenopeus
Label[no]=Bevegelseshastighet
Label[uk]=Швидк╕сть руху
Comment=Change the delay in cycles.
Comment[fi]=Muuta liikkeen viivettД.
Comment[no]=Endre ventetiden i runder.
Comment[uk]=Зм╕на затримки в циклах.

[Arg2]
Name=Monochrome
Name[pt_BR]=MonocromАtico
Name[no]=Monokrom
Name[uk]=Монохромн╕сть
Type=Check
Flag=-mono
Flag2=
LeftLabel=Display screensaver in monochrome.
LeftLabel[fi]=NДytД nДytЖnsДДstДjД yksivДrisenД.
LeftLabel[no]=Vis skjermspareren i monokrom.
LeftLabel[uk]=Показувати збер╕гач екрана монохромно.
Comment=Change to display in monochrome.
Comment[fi]=NДytД nДytЖnsДДstДjД yksivДrisenД.
Comment[no]=Endre til monokrom visning.
Comment[uk]=Зм╕на показу на монохромний.
