[Desktop Entry]
Name=Slidescreen
Name[ca]=Puzzle lliscant
Name[da]=Lysbilledeskærm
Name[fi]=Palapeli
Name[fr]=Écran glissant
Name[no]=Lysbildeskjerm
Comment=
Exec=xscreensaver-command -activate
TryExec=slidescreen
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=slidescreen.png
Author=
ExtendedComment=
Demo=slidescreen -delay 2
