[Desktop Entry]
Name=Slip
Name[ca]=Xuclar
Name[da]=Slip
Name[fi]=Valuma
Name[no]=Slip
Comment=
Exec=xscreensaver-command -activate
TryExec=slip
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=slip.png
Author=
ExtendedComment=
Demo=slip -delay 2
