[Desktop Entry]
Name=Sphere
Name[pt_BR]=Esfera
Name[ca]=Esfera
Name[da]=SfÊre
Name[es]=Esfera
Name[fi]=Pallot
Name[fr]=SphËre
Name[ja]=µÂ¬Œ
Name[no]=SfÊre
Name[ru]=Û∆≈“Ÿ
Name[uk]=Û∆≈“…
Comment=
Exec=xscreensaver-command -activate
TryExec=sphere
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=sphere.png
Author=
ExtendedComment=
Demo=sphere -delay 2
