[Desktop Entry]
Name=Spiral
Name[pt_BR]=Espiral
Name[ca]=Espiral
Name[da]=Spiral
Name[es]=Espiral
Name[fi]=Spiraali
Name[fr]=Spirale
Name[ja]=±²´¬Àş
Name[no]=Spiral
Name[ru]=óĞÉÒÁÌØ
Name[uk]=óĞ¦ÒÁÌØ
Comment=The spiral program draws moving circular spiral patterns.
Comment[da]=Spiralprogrammet tegner spiralmønstre der bevæger sig. 
Comment[fi]=Piirtää liikkuvia spiraalikuvioita
Comment[no]=Spiralprogrammet tegner sirkulære spiralmønstre som beveger seg.
Comment[uk]=ğÒÏÇÒÁÍÁ ÍÁÌÀ¤ ÒÕÈÏÍ¦ ËÒÕÇÌ¦ ÓĞ¦ÒÁÌØÎ¦ ×¦ÚÅÒÕÎËÉ.
Exec=xscreensaver-command -activate
TryExec=spiral
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=spiral.png
Author=Darrick Brown, Peter Schmitzberger, and Jamie Zawinski
ExtendedComment=The spiral program draws moving circular spiral patterns.
ExtendedComment[da]=Spiralprogrammet tegner spiralmønstre der bevæger sig.
ExtendedComment[fi]=Piirtää liikkuvia spiraalikuvioita
ExtendedComment[no]=Spiralprogrammet tegner sirkulære spiralmønstre som beveger seg.
ExtendedComment[uk]=ğÒÏÇÒÁÍÁ ÍÁÌÀ¤ ÒÕÈÏÍ¦ ËÒÕÇÌ¦ ÓĞ¦ÒÁÌØÎ¦ ×¦ÚÅÒÕÎËÉ.
Demo=spiral -delay 2

[Arg0]
Name=Delay
Type=LRange
ValType=I[1-20]=2
Flag=-delay
LeftLabel=Time between redraws:
LeftLabel[da]=Forsinkelse mellem tegninger:
LeftLabel[fi]=Piirtojen välinen tauko:
LeftLabel[no]=Pause mellom tegning:
LeftLabel[uk]=ğÁÕÚÁ Í¦Ö ÏÎÏ×ÌÅÎÑÍÉ:

RightLabel=Seconds
RightLabel[pt_BR]=Segundos
RightLabel[da]=Sekunder
RightLabel[fi]=Sekuntia
RightLabel[no]=Sekunder
RightLabel[uk]=óÅËÕÎÄÉ

Comment=Changes the time between redrawing the screen.
Comment[da]=Ændr tiden mellem at skærmen bliver gentegnet.
Comment[fi]=Vaihtaa piirtojen välistä aikaa
Comment[uk]=úÍ¦ÎÀ¤ ĞÁÕÚÕ Í¦Ö ÏÎÏ×ÌÅÎÑÍÉ ÅËÒÁÎÁ.

[Arg1]
Name=Cycles
Type=LRange
Flag=-cycles
LeftLabel=Faster
LeftLabel[da]=Hurtigere
LeftLabel[fi]=Nopeammin
LeftLabel[no]=Fortere
LeftLabel[uk]=û×ÉÄÛÅ

RightLabel=Slower
RightLabel[da]=Langsommere
RightLabel[fi]=Hitaammin
RightLabel[no]=Saktere
RightLabel[uk]=ğÏ×¦ÌØÎ¦ÛÅ

ValType=I[1-500000]=350
Label=Speed of Motion.
Label[da]=Bevægelseshastighed.
Label[fi]=Liikenopeus
Label[no]=Bevegelseshastighet.
Label[uk]=û×ÉÄË¦ÓÔØ ÒÕÈÕ.

Comment=Change the delay in cycles.
Comment[da]=Ændr pause mellem runder.
Comment[fi]=Muuta kierrostenvälistä viivettä.
Comment[no]=Endre pausen mellom rundene.
Comment[uk]=úÍ¦ÎÉ ÚÁÔÒÉÍËÉ Í¦Ö ÃÉËÌÁÍÉ.

[Arg2]
Name=Colors
Type=NRange
LeftLabel=Colors:
LeftLabel[pt_BR]=Cores:
LeftLabel[da]=Farver:
LeftLabel[fi]=Värit:
LeftLabel[no]=Farger:
LeftLabel[uk]=ëÏÌØÏÒÉ:

Flag=-ncolors
ValType=I[1-256]=64
Label=Number of Colors
Label[pt_BR]=Número de cores
Label[da]=Antal farver
Label[fi]=Värien määrä
Label[no]=Antall farger
Label[uk]=şÉÓÌÏ ËÏÌØÏÒ¦×

Comment=Change the number of colors to use.
Comment[da]=Ændr antal farver som skal bruges.
Comment[fi]=Muuta käytettävien värien määrää.
Comment[no]=Endre antall farger som skal brukes.
Comment[uk]=úÍ¦ÎÁ ŞÉÓÌÁ ËÏÌØÒ¦× ÄÌÑ ×ÉËÏÒÉÓÔÁÎÎÑ.

[Arg3]
Name=Count
Type=NRange
LeftLabel=Count:
LeftLabel[pt_BR]=Contador:
LeftLabel[da]=Antal:
LeftLabel[fi]=Lukumäärä:
LeftLabel[no]=Antall:
LeftLabel[uk]=şÉÓÌÏ:

Flag=-count
ValType=I[5-1000]=40
Label=Number to use.
Label[da]=Antal som skal bruges.
Label[fi]=Käytettävä määrä.
Label[no]=Antall som skal brukes.
Label[uk]=şÉÓÌÏ Ì¦Î¦Ê.

Comment=Change the number to use.
Comment[fi]=Muuta käytettävien värien määrää
Comment[no]=Endre antall som skal brukes.
Comment[uk]=úÍ¦ÎÁ ŞÉÓÌÁ Ì¦Î¦Ê.

[Arg4]
Name=Monochrome
Type=Check
Flag=-mono
Flag2=
LeftLabel=Display screensaver in monochrome.
LeftLabel[da]=Vis pauseskærm i monokrom.
LeftLabel[fi]=Näytä näytönsäästäjä yksivärisenä.
LeftLabel[no]=Vis skjermspareren i monokrom.
LeftLabel[uk]=ğÏËÁÚÕ×ÁÔÉ ÚÂÅÒ¦ÇÁŞ ÅËÒÁÎÁ ÍÏÎÏÈÒÏÍÎÏ.

Comment=Change to display in monochrome.
Comment[da]=Ændr til monokrom.
Comment[fi]=Siirry yksiväritilaan.
Comment[no]=Endre til monokrom visning.
Comment[uk]=úÍ¦ÎÁ ĞÏËÁÚÕ ÎÁ ÍÏÎÏÈÒÏÍÎÉÊ.
