[Desktop Entry]
Name=Spotlight
Name[da]=Projektørlys
Name[fi]=Valokeila
Name[no]=Spotlight
Comment=Display the desktop in a spotlight
Comment[da]=Viser skrivebordet i projektørlys
Comment[fi]="Valaisee" osan työpöydästä.
Comment[no]=Viser skrivebordet i en spotlight
Exec=xscreensaver-command -activate
TryExec=spotlight
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Demo=spotlight
