[Desktop Entry]
Name=Sproingies
Name[da]=Springende spiraler
Name[fi]=Pomput
Name[no]=Spjoing
Comment=Uhm.. *poing*
Comment[da]=Øh... *booing*
Comment[fi]=Boinks.
Comment[no]=Eh..*spjoing*
Exec=xscreensaver-command -activate
TryExec=sproingies
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Demo=sproingies


