[Desktop Entry]
Name=Squiral
Name[da]=Firkiral
Name[fi]=Ruutuspiraalit
Name[no]=Squiral
Comment=Display squared spirales
Comment[da]=Viser firkantede spiraler
Comment[fi]=Piirt‰‰ ruudun muotoisia spiraaleja
Comment[no]=Viser firkantede spiraler
Exec=xscreensaver-command -activate
TryExec=squiral
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Demo=squiral
