[Desktop Entry]
Name=Stairs
Name[da]=Trapper
Name[fi]=Portaat
Name[fr]=Escaliers
Name[no]=Trapper
Name[uk]=Сходи
Comment=The famous, M.C. Escher, impossible stairs
Comment[da]=De berЬmte umulige trapper af M.C. Escher
Comment[fi]=Kuuluisat Escherin mahdottomat portaat
Comment[fr]=Le fameux escalier impossible de M.C. Escher
Comment[no]=De berЬmte umulige trappene av M.C. Escher
Comment[uk]=Славнозв╕сн╕ сходи Ешера
Exec=xscreensaver-command -activate
TryExec=stairs
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Demo=stairs


