[Desktop Entry]
Name=Strange
Name[ca]=Estrany
Name[da]=Mærkelig
Name[es]=Extraño
Name[fi]=Outo
Name[fr]=Étrange
Name[ja]=ÉÔ»×µÄ
Name[no]=Snålt
Name[ru]=óÔÒÁÎÎÙÊ
Name[uk]=äÉ×ÎÉÊ
Comment=
Exec=xscreensaver-command -activate
TryExec=strange
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=strange.png
Author=
ExtendedComment=
Demo=strange -delay 2
