[Desktop Entry]
Name=Superquadrics
Name[da]=Superkvadrater
Name[fr]=Superquadriques
Name[no]=Superkvadrater
Name[ru]=Сверхквадрат
Name[uk]=Суперквадрати
Comment=Superquadrics
Comment[fr]=Superquadriques
Comment[no]=Superkvadrater
Comment[ru]=Сверхквадрат
Comment[uk]=Суперквадрати
Exec=xscreensaver-command -activate
TryExec=superquadrics
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Demo=superquadrics


