[Desktop Entry]
Name=Swirl
Name[pt_BR]=Girar
Name[ca]=Remolí
Name[da]=Hvirvel
Name[fi]=Pyörre
Name[fr]=Tourbillon
Name[no]=Virvel
Name[uk]=÷ÉÒ
Comment=
Exec=xscreensaver-command -activate
TryExec=swirl
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=swirl.png
Author=
ExtendedComment=
Demo=swirl -delay 2
