[Desktop Entry]
Name=Triangle
Name[pt_BR]=TriБngulo
Name[ca]=Triangle
Name[da]=Trekant
Name[es]=TriАngulo
Name[fi]=Vuoristo
Name[fr]=Triangle
Name[ja]=╩╟Ёя╥а
Name[no]=Triangel
Name[ru]=Треугольник
Name[uk]=Трикутник
Comment=Random mountain ranges
Comment[da]=ImaginФre bjergkФder
Comment[fi]=PiirtДД satunnaisen vuoriston
Comment[uk]=Випадков╕ г╕рськ╕ пасма
Exec=xscreensaver-command -activate
TryExec=triangle
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=triangle.png
Author=Tobias Gloth
ExtendedComment=Generates random mountain ranges using iterative subdivision of triangles. 
ExtendedComment[da]=Laver tilfФldige imaginФre bjergkФder vha. gentagne opdelinger af trekanter.
ExtendedComment[fi]=Luo satunnaisia vuoristoja jakamalla kolmioita osiin.
ExtendedComment[no]=Genererer tilfeldige fjellkjeder ved bruk av gjentatt oppdeling av trekanter.
ExtendedComment[uk]=Генеру╓ випадков╕ г╕рськ╕ пасма використовуючи повторюван╕ д╕лення трикутник╕в.
Demo=triangle -delay 2

[Arg0]
Name=Colors
Name[pt_BR]=Cores
Name[da]=Farver
Name[fi]=VДrit
Name[no]=Farger
Name[uk]=Кольори
Type=NRange
LeftLabel=Colors:
LeftLabel[pt_BR]=Cores:
LeftLabel[da]=Farver:
LeftLabel[fi]=VДrit:
LeftLabel[no]=Farger:
LeftLabel[uk]=Кольори:
Flag=-ncolors
ValType=I[1-256]=100
Label=Number of Colors
Label[pt_BR]=NЗmero de cores
Label[da]=Antal farver
Label[fi]=VДrien mДДrД
Label[no]=Antall farger
Label[uk]=Число кольор╕в
Comment=Change the number of colors to use.
Comment[da]=фndr antallet af farver.
Comment[no]=Endre antall farger som skal brukes.
Comment[uk]=Зм╕на числа кольор╕в.

[Arg1]
Name=Monochrome
Name[pt_BR]=MonocromАtico
Name[da]=Monokrom
Name[fi]=YksivДrinen
Name[no]=Monokrom
Type=Check
Flag=-mono
Flag2=
LeftLabel=Display screensaver in monochrome.
LeftLabel[da]=Vis pauseskФrm i monokrom.
LeftLabel[fi]=NДyttДД nДytЖnsДДstДjДn yksivДrisenД.
LeftLabel[no]=Viser skjermspareren i monokrom.
LeftLabel[uk]=Показувати збер╕гач екрана монохромно.
Comment=Change to display in monochrome.
Comment[fi]=Siirry yksivДritilaan.
Comment[no]=Endre til monokrom visning.
Comment[uk]=Зм╕на показу на монохромний.
