[Desktop Entry]
Name=Vines
Name[ca]=Vinya
Name[da]=Lianer
Name[fi]=KЖynnЖkset
Name[no]=Lianer
Name[uk]=Виноград
Comment=draws pseudo-fractal geometric patterns
Comment[da]=Tegner pseudo-fraktale geometriske mЬnstre.
Comment[fi]=PiirtДД pseudofraktaaleja geometrisia kuvioita
Comment[uk]=Малю╓ псевдофрактальн╕ геометричн╕ в╕зерунки
Exec=xscreensaver-command -activate
TryExec=vines
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=vines.png
Author=Tracy Camp
ExtendedComment=The vines program is yet another geometric pattern generator, this one's claim to fame being a pseudo-fractal looking vine like pattern that creates nifty whirls and loops.
ExtendedComment[da]=Vines-programmet er endnu en geometrisk mЬnstergenerator, det eneste specielle ved den er at det er pseudo-fraktalt udseende lian-lignende mЬnster der laver flotte hvirvler og lЬkker.
ExtendedComment[fi]=KЖynnЖkset-ohjelma on geometristen kuvioiden generaattori, joka kykenee piirtДmДДn fraktaalimaisia kЖynnЖskuvioita, jotka muodostavat pyЖrteitД ja silmukoita.
ExtendedComment[no]=Viner programmet er enda en generator av geometriske mЬnstre, dennes krav om oppmerksomhet kommer fra Е vФre en pseudo-fraktal utseende liane-liknende mЬnster som lager flotte virvler og lЬkker.
ExtendedComment[uk]=Програма ╓ ще одним генератором геометричних в╕зерунк╕в, це ще одна претенз╕я на життя псевдофрактала схожого на виноградну лозу.
Demo=vines -delay 2

[Arg0]
Name=Colors
Name[pt_BR]=Cores
Name[da]=Farver
Name[fi]=VДrit
Name[no]=Farger
Type=NRange
LeftLabel=Colors:
LeftLabel[pt_BR]=Cores:
LeftLabel[da]=Farver:
LeftLabel[fi]=VДrit:
LeftLabel[no]=Farger:
LeftLabel[uk]=Кольори:
Flag=-ncolors
ValType=I[1-256]=200
Label=Number of Colors
Label[pt_BR]=NЗmero de cores
Label[no]=Antall farger
Label[uk]=Число кольор╕в
Comment=Change the number of colors to use.
Comment[da]=фndr antallet af farver som bruges.
Comment[fi]=Vaihda kДytettДvien vДrien mДДrДД.
Comment[no]=Endre antall farger som skal brukes.
Comment[uk]=Зм╕на числа кольор╕в для використання.

[Arg1]
Name=Monochrome
Name[pt_BR]=MonocromАtico
Name[da]=Monokrom
Name[fi]=YksivДrinen
Name[no]=Monokrom
Type=Check
Flag=-mono
Flag2=
LeftLabel=Display screensaver in monochrome.
LeftLabel[da]=Viser pauseskФrmen i monokrom.
LeftLabel[fi]=NДyttДД nДytЖsДДstДjДn yksivДrisenД.
LeftLabel[no]=Viser skjermspareren som monokrom.
LeftLabel[uk]=Показувати збер╕гач екрана монохромно.
Comment=Change to display in monochrome.
Comment[da]=Lav om til monokrom.
Comment[fi]=Siirry yksivДritilaan.
Comment[no]=Endre til monokrom visning.
Comment[uk]=Зм╕на показу на монохромний.
