[Desktop Entry]
Name=Xflame
Name[da]=Xflamme
Name[fi]=Xliekki
Name[no]=Xflamme
Name[ru]=X-пламя
Comment=Display flames at the bottom of the screen
Comment[fi]=NДyttДД tulenlieskoja
Comment[no]=Viser flammer nederst pЕ skjermen
Comment[ru]=Показывает пламя внизу экрана
Exec=xscreensaver-command -activate
TryExec=xflame
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Demo=xflame
