[Desktop Entry]
Name=Xjack
Name[ca]=XJack
Name[da]=XJack
Name[fi]=Xjack
Name[fr]=Xjack
Name[no]=Xjack
Comment=
Exec=xscreensaver-command -activate
TryExec=xjack
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=xjack.png
Author=
ExtendedComment=
Demo=xjack -delay 2
