[Desktop Entry]
Name=Xlyap
Name[cs]=Xlyap
Name[ca]=XLyap
Name[da]=XLyap
Name[fi]=Xlyap
Name[fr]=Xlyap
Name[no]=Xlyap
Comment=
Exec=xscreensaver-command -activate
TryExec=xlyap
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=xlyap.png
Author=
ExtendedComment=
Demo=xlyap
