[Desktop Entry]
Name=Xmatrix
Name[cs]=Xmatrix
Name[da]=Xmatrix
Name[fi]=Xmatrix
Name[no]=Xmatrix
Name[uk]=X-матриця
Comment=Screens from the movie The Matrix
Comment[cs]=Obrazovky z filmu Matrix
Comment[da]=Billeder fra filmen The Matrix
Comment[fi]=Tietoverkko elokuvasta The Matrix
Comment[no]=Skjermer fra filmen The Matrix
Comment[uk]=Екрани з ф╕льму Матриця
Exec=xscreensaver-command -activate
TryExec=xmatrix
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=xroger.png
Author=
ExtendedComment=
Demo=xmatrix -delay 2
