[Desktop Entry]
Name=Xroger
Name[ca]=Joly Roger X
Name[cs]=Xroger
Name[da]=Xroger
Name[es]=Calavera X11
Name[fi]=Xroger
Name[fr]=TЙte de mort X11
Name[no]=Xroger
Name[ru]=X-Роджер
Name[uk]=X-Роджер
Comment=The  xroger  program displays a replacement for the X logo.
Comment[cs]=Program zobrazujМcМ logo X window.
Comment[da]=Xrogerprogrammet er en erstatning for X-logoet
Comment[fi]=Xroger nДyttДД korvaavan X-logon
Comment[no]=Xroger programmet viser en erstatning for X logoen.
Comment[uk]=Програма в╕добража╓ альтернативу логотипу X.
Exec=xscreensaver-command -activate
TryExec=xroger
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Icon=xroger.png
Author=Jamie Zawinski
ExtendedComment=The  xroger  program displays a replacement for the X logo with a more accurate Look and Feel.
ExtendedComment[cs]=Program xroger zobrazuje X logo s vylep╧enЩm vzhledem.
ExtendedComment[da]=Xrogerprogrammet er en erstatning for X-logoet med et mere prФcist look&feel.
ExtendedComment[fi]=Xroger-ohjelma nДyttДД korvaavan X-logon.
ExtendedComment[no]=Xroger programmet viser en erstatning for X logoen med et mer nЬyaktig utseende.
ExtendedComment[uk]=Програма в╕добража╓ альтернативу логотипу X ╕з кращим зовн╕шн╕м виглядом.
Demo=xroger -delay 2

[Arg0]
Name=Monochrome
Name[pt_BR]=MonocromАtico
Name[da]=Monokrom
Name[no]=Monokrom
Type=Check
Flag=-mono
Flag2=
LeftLabel=Display screensaver in monochrome.
LeftLabel[da]=Brug pauseskФrm i monokrom.
LeftLabel[fi]=NДytД nДytЖnsДДstДjД yksivДrisenД.
LeftLabel[no]=Viser skjermspareren som monokrom.
LeftLabel[uk]=Показувати збер╕гач екрана монохромним.
Comment=Change to display in monochrome.
Comment[da]=фndr til monokromskФrm.
Comment[fi]=Siirry yksivДritilaan.
Comment[no]=Endre til monokrom visning.
Comment[uk]=Зм╕нити показ на монохромний.
