[Desktop Entry]
Name=Galeon
Name[de]=Galeon
Name[no]=Galeon
Name[sv]=Galeon
Name[tr]=Galeon
Name[uk]=Galeon
Comment=Galeon Webbrowser
Comment[de]=Galeon Web-Browser
Comment[no]=Galeon nettleser
Comment[sv]=Webbläsaren Galeon
Comment[tr]=Galeon webbrowser
Comment[tr]=Galeon web-gezgini
Comment[uk]=ðÅÒÅÇÌÑÄÁÞ WWW Galeon
Exec=galeon
Terminal=0
Type=Application
Icon=galeon.png
