[Desktop Entry]
Name=Galeon
Name[tr]=Galeon
Comment[tr]=Galeon webbrowser
Comment[tr]=Galeon web-gezgini
Exec=galeon
Terminal=0
Type=Application
Icon=galeon.png
