[Desktop Entry]
Name=Screem website editor
Name[da]=Screem webeditor
Name[de]=Screem Webseiten-Editor
Name[fr]=Éditeur de site web Screem
Name[no]=Screem webredigering
Name[tr]=Screem website editörü
Name[uk]=òÅÄÁËÔÏÒ ÓÁÊÔ¦× Screem
Comment=website editor and management system
Comment[de]=Webseiten-Editor und Management-System
Comment[fr]=Éditeur et gestionnaire de site web
Comment[no]=Webredigering og håndtering av websteder
Comment[tr]=Website editörü ve yönetim ortamı
Comment[uk]=óÉÓÔÅÍÁ ÒÅÄÁÇÕ×ÁÎÎÑ ¦ ËÅÒÕ×ÁÎÎÑ ÓÁÊÔÏÍ
TryExec=screem
Exec=screem
Icon=screem.png
Terminal=0
Type=Application
