[Desktop Entry]
Name=Screem website editor
Name[de]=Screem Webseiten-Editor
Comment=website editor and management system
Comment[de]=Webseiten-Editor und Management-System
TryExec=screem
Exec=screem
Icon=screem.png
Terminal=0
Type=Application
