[Desktop Entry]
Name=Screem website editor
Comment=website editor and management system
TryExec=screem
Exec=screem
Icon=screem.png
Terminal=0
Type=Application
