[Desktop Entry]
Name=Enlightenment
Name[cs]=Enlightenment
Name[da]=Enlightenment
Name[ko]=인라이튼먼트
Name[pl]=Enlightenment
Exec=enlightenment
TryExec=enlightenment

[Window Manager]
ConfigExec=e-conf
ConfigTryExec=e-conf
SessionManaged=true
