[Desktop Entry]
Name=Scwm
Name[cs]=Scwm
Name[da]=Scwm
Name[ko]=scwm
Name[no]=Scwm
Name[pl]=Scwm
Exec=scwm
TryExec=scwm

[Window Manager]
SessionManaged=true
