[Desktop Entry]
Name=twm
Name[cs]=twm
Name[da]=twm
Name[ko]=twm
Name[pl]=twm
Comment[cs]=Základní správce oken.
Exec=twm
TryExec=twm

[Window Manager]
SessionManaged=false
