[Desktop Entry]
Name=Window Maker
Name[da]=Window Maker
Name[cs]=Window Maker
Name[ko]=À©µµ¿ì ¸ÞÀÌÄ¿
Name[pl]=Window Maker
Comment[cs]=Pomìrnì dobrý správce oken s podporou Gnome.
Exec=wmaker
TryExec=wmaker

[Window Manager]
SessionManaged=false
ConfigExec=/usr/X11R6/lib/GNUstep/Apps/WPrefs.app/WPrefs
