[Desktop Entry]
Name=Find Files
Name[de]=GNOME-find
Name[no]=Finn filer
Comment=Find Files
Comment[de]=Dateien Suchen
Comment[no]=Finn filer
Exec=gnome-find
Icon=gnome-searchtool.png
Terminal=0
Type=Utilities
