[Desktop Entry]
Name=Find Files
Name[de]=GNOME-find
Comment=Find Files
Comment[de]=Dateien Suchen
Exec=gnome-find
Icon=gnome-searchtool.png
Terminal=0
Type=Utilities
