[Desktop Entry]
Name=X-Chat IRC client
Name[de]=X-Chat
Name[no]=X-Chat
Name[sv]=IRC-klienten X-Chat
Name[uk]=IRC X-Chat
Comment=IRC Client
Comment[de]=IRC-Client
Comment[no]=IRC-klient
Comment[sv]=IRC-klient
Comment[uk]=ëÌ¦¤ÎÔ IRC
Exec=xchat
Icon=xchat.png
Terminal=0
Type=Internet
