[Desktop Entry]
Name=X-Chat
Comment=IRC Client
Comment[de]=IRC-Client
Comment[es]=Aplicación de IRC
Comment[fi]=IRC-sovellus
Comment[fr]=Client IRC
Comment[ko]=IRC Å¬¶óÀÌ¾ðÆ®
Comment[nl]=IRC-client
Comment[no]=IRC-klient
Comment[pt_BR]=Cliente de IRC
Comment[sl]=Odjemalec IRC
Comment[sv]=IRC-klient
Comment[uk]=ëÌ¦¤ÎÔ IRC
Comment[ro]=Client de IRC
Comment[zh_TW]=IRC ¥Î¤áºÝµ{¦¡
Exec=xchat
Icon=xchat.png
Terminal=0
Type=Application
