[Desktop Entry]
Name=X-Chat IRC client
Name[de]=X-Chat
Name[es]=Cliente de IRC X-Chat
Name[fr]=X-Chat
Name[no]=X-Chat
Name[pt_BR]=Cliente de IRC X-Chat
Name[sk]=X-Chat IRC klient
Name[sl]=X-Chat odjemalec IRC
Name[sv]=IRC-klienten X-Chat
Name[uk]=IRC X-Chat
Name[zh_TW]=X-Chat IRC 用戶端程式
Comment=IRC Client
Comment[de]=IRC-Client
Comment[es]=Cliente de IRC
Comment[fr]=Client IRC
Comment[no]=IRC-klient
Comment[pt_BR]=Cliente de IRC
Comment[sk]=IRC klient
Comment[sl]=Odjemalec IRC
Comment[sv]=IRC-klient
Comment[uk]=輲忖拏 IRC
Comment[zh_TW]=IRC 用戶端程式
Exec=xchat
Icon=xchat.png
Terminal=0
Type=Internet
