[Desktop Entry]
Name=Glimmer
Name[da]=Glimmer
Name[de]=Glimmer
Name[fi]=Glimmer
Name[hu]=Glimmer
Name[no]=Glimmer
Name[pt_BR]=Glimmer
Name[sv]=Glimmer
Name[uk]=Glimmer
Name[wa]=Glimmer
Comment=Glimmer - Code Editor
Comment[de]=Glimmer - Ein Code-Bearbeitungsprogramm
Comment[fi]=Glimmer - Koodieditori
Comment[hu]=Glimmer - A programozók szövegszerkesztõje
Comment[no]=Glimmer - Koderedigering
Comment[pt_BR]=Editor de Códigos Glimmer
Comment[sv]=Glimmer - Kodredigerare
Comment[uk]=òÅÄÁËÔÏÒ ËÏÄÕ
Comment[wa]=Aspougneu di côde
Exec=glimmer
Icon=glimmer-icon.png
Terminal=0
Type=Application
