[Desktop Entry]
Name=Glimmer
Name[da]=Glimmer
Name[uk]=Glimmer
Comment=Glimmer - Code Editor
Comment[uk]=Редактор коду
Exec=glimmer
Icon=glimmer-icon.png
Terminal=0
Type=Application
