[Desktop Entry]
Name=BomberMaze
Name[de]=Bomberlabyrinth
Name[es]=BomberMaze
Name[fr]=Labyrinthe de Bombardier
Name[ko]=BomberMaze
Name[no]=BomberMaze
Name[pt]=BomberMaze
Name[pt_BR]=BomberMaze
Comment=BomberMaze, a bomberman clone
Comment[de]=BomberMaze, ein Bomberman-Clone
Comment[es]=BomberMaze, un clon de bomberman
Comment[fr]=
Comment[pt]=BomberMaze, um clone de bomberman
Comment[pt_BR]=BomberMaze, um clone de bomberman
Exec=bombermaze
Icon=bombermaze.png
Terminal=0
Type=Application
