[Desktop Entry]
Name=BomberMaze
Name[bg]=аНЛАЗПлЕИГ
Name[da]=Labyrintbombning
Name[de]=Bomberlabyrinth
Name[es]=BomberMaze
Name[fr]=Labyrinthe de Bombardier
Name[ko]=BomberMaze
Name[nl]=BomberMaze
Name[no]=BomberMaze
Name[pt]=BomberMaze
Name[pt_BR]=BomberMaze
Name[ru]=Лабиринт с бомбами
Name[sl]=BomberMaze
Name[sv]=BomberMaze
Name[uk]=Лаб╕ринт з бомбами
Comment=BomberMaze, a bomberman clone
Comment=аНЛАЗПлЕИГ, ЮМЮКНЦ МЮ bomberman
Comment[da]=En Bomberman-klon
Comment[de]=BomberMaze, ein Bomberman-Clone
Comment[es]=BomberMaze, un clon de bomberman
Comment[fr]=Bombermaze, un clone de bomberman
Comment[fr]=Bombermaze, een Bomberman kloon
Comment[pt]=BomberMaze, um clone de bomberman
Comment[pt_BR]=BomberMaze, um clone de bomberman
Comment[ru]=Лабиринт с бомбами, клон bomberman
Comment[sl]=BomberMaze, klon Bombermana
Comment[sv]=BomberMaze, en bomberman-klon
Comment[uk]=Лаб╕ринт з бомбами, клон bomberman
Exec=bombermaze
Icon=bombermaze.png
Terminal=0
Type=Application
