[Desktop Entry]
Name=GNOME Lunar Clock
Name[de]=GNOME Monduhr
Name[fr]=L'horloge lunaire de GNOME
Name[hu]=GNOME Holdóra
Comment=Displays the current phase of the moon
Comment[de]=Zeigt die aktuelle Phase des Mondes an
Comment[fr]=Montre la phase actuelle de la Lune
Comment[hu]=Kijelzi a Hold aktuális állapotát
Description=Displays the current phase of the moon
Description[de]=Zeigt die aktuelle Phase des Mondes an
Description[fr]=Montre la phase actuelle de la Lune
Description[hu]=Kijelzi a Hold aktuális állapotát
Exec=glunarclock
Icon=glunarclock-logo.png
Terminal=0
Type=PanelApplet
