[Desktop Entry]
Name=Moleskine
Name[it]=Moleskine
Name[zh_TW.Big5]=Moleskine
Comment=Moleskine: a source code editor for the GNOME desktop
Comment[it]=Moleskine: un editor di codice sorgente per il desktop GNOME
Comment[zh_TW.Big5]=Moleskine: 原始碼編輯程式
Exec=moleskine
Terminal=0
Type=Application
Icon=moleskine.png
