[Desktop Entry]
Name=Moleskine
Name[et]=Moleskine
Name[it]=Moleskine
Name[nn]=Moleskine
Name[no]=Moleskine
Name[sv]=Moleskine
Name[zh_TW]=Moleskine
Comment=Moleskine: a source code editor for the GNOME desktop
Comment[et]=Moleskine on programmeerija tekstiredaktor GNOME keskkonnale
Comment[it]=Moleskine: un editor di codice sorgente per il desktop GNOME
Comment[nn]=Moleskine: en kildekoderedigerar for GNOME skrivebordet
Comment[no]=Moleskine: en kildekoderedigering for GNOME skrivebordet
Comment[sv]=Moleskine: en k鄟lkodsredigerare f顤 GNOME-skrivbordet
Comment[zh_TW]=Moleskine: 原始碼編輯程式
Exec=moleskine
Terminal=0
Type=Application
Icon=moleskine.png
