[Desktop Entry]
Name=GNOME Transfer Manager
Name[ca]=Gestor de transferències del GNOME
Name[da]=GNOME overførselshåndtering
Name[de]=GNOME Transfer Manager
Name[el]=Äéá÷åéñéóôŞò Ìåôáöïñşí ôïõ GNOME
Name[es]=Gestor de transferencias GNOME
Name[fr]=Gestionnaire de transfert GNOME
Name[it]=Gestore di traferimenti del GNOME
Name[no]=GNOME filoverføring
Name[pt]=Gestor de transferências GNOME
Name[pt_BR]=Gerenciador de transferências GNOME
Name[sv]=GNOME Transfer Manager
Name[tr]=GNOME transfer yöneticisi
Name[uk]=GNOME íÅÎÅÄÖÅÒ ĞÅÒÅÎÅÓÅÎÎÑ ÆÁÊÌ¦×
Name[wa]=Manaedjeu di transfers
Comment=Controls the transfer of web files
Comment[ca]=Controla la transferència de fitxers web
Comment[da]=Grafisk brugerflade til wget websidehenteren
Comment[de]=Kontrolliert den Empfang von Dateien
Comment[el]=Åëİã÷åé ôç ìåôáöïñÜ áñ÷åßùí ôïõ äéêôõáêïı éóôïı
Comment[es]=Controla la transferencia de ficheros desde la web
Comment[fr]=Contrôle du transfert de fichier
Comment[it]=Gestisce i traferimenti di file via web
Comment[no]=Kontrollerer overføring av filer fra web
Comment[pt]=Controla a transferência de ficheiros da web
Comment[pt_BR]=Controla a transferência de arquivos da web
Comment[sv]=Styr överföringen av webbfiler
Comment[tr]=Internet'teki dosya yükleme eylemlerin için bir uygulama
Comment[uk]=ëÏÎÔÒÏÌØ ĞÅÒÅÎÅÓÅÎÎÑ ÆÁÊÌ¦×
Comment[wa]=Programe po manaedjî les transfers di fitchîs waibe
Exec=gtm
Icon=gtm.png
Terminal=0
Type=Application
