[Desktop Entry]
Name=GNOME Transfer Manager
Name[da]=GNOME overførselshåndtering
Name[de]=GNOME Transfer Manager
Name[es]=Gestor de transferencias GNOME
Name[fr]=Gestionnaire de tranfert GNOME
Name[it]=Gestore di traferimenti del GNOME
Name[no]=GNOME filoverføring
Name[pt]=Gestor de transferências GNOME
Name[pt_BR]=Gerenciador de transferências GNOME
Name[tr]=GNOME transfer yöneticisi
Name[uk]=GNOME íÅÎÅÄÖÅÒ ĞÅÒÅÎÅÓÅÎÎÑ ÆÁÊÌ¦×
Comment=Controls the transfer of web files
Comment[da]=Grafisk brugerflade til wget websidehenteren
Comment[de]=Kontrolliert den Empfang von Dateien
Comment[es]=Controla la transferencia de ficheros desde la web
Comment[fr]=Contrôle du transfert de fichier
Comment[it]=Gestisce i traferimenti di file via web
Comment[no]=Kontrollerer overføring av filer fra web
Comment[pt]=Controla a transferência de ficheiros da web
Comment[pt_BR]=Controla a transferência de arquivos da web
Comment[tr]=Internet'teki dosya yükleme eylemlerin için bir uygulama
Comment[uk]=ëÏÎÔÒÏÌØ ĞÅÒÅÎÅÓÅÎÎÑ ÆÁÊÌ¦×
Exec=gtm
Icon=gtm.png
Terminal=0
Type=Application
