[Desktop Entry]
Name=GTM applet
Name[da]=GTM applet
Name[es]=Appelt GTM
Name[it]=Applet GTM
Name[pt]=Applet GTM
Comment=Used to control GTM from the panel
Comment[da]=Bruges til at kontrollere GTM fra panelet
Comment[es]=Usado para controlar el GTM desde el panel
Comment[it]=Usato per controllare o lanciare GTM dal pannello
Comment[pt]=Usado para controlar o GTM a partir do painel
Exec=gtm_applet --activate-goad-server=gtm_applet
Icon=gtm.png
Terminal=0
Type=Application
