[Desktop Entry]
Name=GTM applet
Name[de]=GTM Applet
Name[da]=GTM applet
Name[es]=Appelt GTM
Name[it]=Applet GTM
Name[no]=GTM-applet
Name[pt]=Applet GTM
NAme[tr]=GTM uygulağı
Name[uk]=áĞÌÅÔ GTM
Comment=Used to control GTM from the panel
Comment[de]=Nützlich um GTM von Panel aus zu kontrollieren
Comment[da]=Bruges til at kontrollere GTM fra panelet
Comment[es]=Usado para controlar el GTM desde el panel
Comment[it]=Usato per controllare o lanciare GTM dal pannello
Comment[no]=Kontroll av GTM fra panelet
Comment[pt]=Usado para controlar o GTM a partir do painel
Comment[tr]=GTM'i pananden kontrol ettiren bir uygulak
Comment[uk]=ëÅÒÕ×ÁÎÎÑ GTM Ú ĞÁÎÅÌ¦
Exec=gtm_applet --activate-goad-server=gtm_applet
Icon=gtm.png
Terminal=0
Type=Application
