[Desktop Entry]
Name=Dialogs
Name[pt_BR]=Diálogos
Name[ca]=Quadres de diàleg
Name[cs]=Dialogy
Name[da]=Dialogbokse
Name[de]=Dialogfelder
Name[es]=Diálogos
Name[et]=Dialoogid
Name[fi]=Valintaikkunat
Name[fr]=Dialogues
Name[gl]=Diálogos
Name[hu]=Párbeszédablakok
Name[it]=Finestre di dialogo
Name[ja]=¥À¥¤¥¢¥í¥°
Name[ko]=´ëÈ­»óÀÚ
Name[lt]=Dialogai
Name[no]=Dialoger
Name[pl]=Okna dialogowe
Name[pt]=Diálogos
Name[ru]=äÉÁÌÏÇÉ
Name[sv]=Dialogrutor
Name[uk]=ä¦ÁÌÏÇÉ
Name[wa]=Purneas di dialogue
Name[zh_TW.Big5]=¹ï¸Ü²°
Name[zh_CN.GB2312]=¶Ô»°ºĞ
Comment=Dialog configuration
Comment[cs]=Zmìna vzhledu a vlastností dialogù.
Comment[uk]=îÁÓÔÒÏÀ×ÁÎÎÑ ×ÌÁÓÔÉ×ÏÓÔÅÊ Ä¦ÁÌÏÇ¦×.
Comment[zh_TW.Big5]=¹ï¸Ü²°³]©w
Comment[zh_CN.GB2312]=¶Ô»°ºĞÉè¶¨
Exec=ui-properties --cap-id=0
Icon=gnome-ccdialog.png
Terminal=0
Type=Application
