[Desktop Entry]
Name=MDI
Name[ca]=Multidocument
Name[cs]=MDI
Name[da]=MultiDokumentInterface
Name[de]=Multi-Dokument-Interface
Name[es]=Multidocumento
Name[et]=Multidokument
Name[fi]=Usean asiakirjan käyttö
Name[fr]=Multidocument
Name[gl]=Multi-Documento
Name[ja]=MDI
Name[ko]=¿©·¯¹®¼­
Name[lt]=MDI
Name[no]=Multidokument
Name[pl]=MDI
Name[pt]=MDI
Name[sv]=MDI
Name[wa]=Eterface multi-documints (MDI)
Name[zh_TW.Big5]=Multidocument
Name[zh_CN.GB2312]=Multidocument
Comment=MultiDocumentInterface
Comment[cs]=MDI - zobrazování více dokumentù
Comment[da]=Multidokumentgrænseflade
Comment[zh_TW.Big5]=¦h¤å¥ó¤¶­± (MDI)
Comment[zh_CN.GB2312]=¶àÎÄ¼þ½éÃæ (MDI)
Exec=ui-properties --cap-id=2
Icon=gnome-mdi.png
Terminal=0
Type=Application
