[Desktop Entry]
Name=Gabber
Name[no]=Gabber
Comment=Gabber: The GNOME Jabber Client
Comment=Gabber: GNOME Jabber klient
Exec=gabber
Icon=gabber.png
Terminal=0
Type=Application