[Desktop Entry]
Name=Gabber
Name[de]=Gabber
Name[es]=Gabber
Name[fi]=Gabber
Name[no]=Gabber
Name[sv]=Gabber
Comment=Gabber: The GNOME Jabber Client
Comment[de]=Gabber: Der GNOME Jabber-Client
Comment[es]=Gabber: EL Cliente Jabber de GNOME
Comment[fi]=Gabber: Gnomen Jabber-asiakas
Comment[no]=Gabber: GNOME Jabber klient
Comment[sv]=Gabber: Jabber-klient för GNOME
Exec=gabber
Icon=gabber.png
Terminal=0
Type=Application
