[Desktop Entry]
Name=SeaHorse
Name[fi]=SeaHorse
Name[ja]=Î¶¤ÎÍî¤·»Ò
Name[tr]=SeaHorse
Comment=SeaHorse
Comment[fi]=GnuPG käyttöliittymä
Comment[ja]=Î¶¤ÎÍî¤·»Ò°Å¹æ²òÆÉ¥Ä¡¼¥ë
Comment[tr]=GnuPG arayüzeyi
Exec=seahorse
Icon=seahorse/seahorse.png
Terminal=0
Type=Application
