[Desktop Entry]
Name=SeaHorse
Name[de]=SeaHorse
Name[fi]=SeaHorse
Name[ja]=Î¶¤ÎÍî¤·»Ò
Name[no]=SeaHorse
Name[tr]=SeaHorse
Name[uk]=íÏÒÓØËÉÊ ËÏÎÉË
Comment=SeaHorse
Comment[de]=Eine grafische Oberfläche für GnuPG
Comment[fi]=GnuPG käyttöliittymä
Comment[ja]=Î¶¤ÎÍî¤·»Ò°Å¹æ²òÆÉ¥Ä¡¼¥ë
Comment[no]=Grafisk grensesnitt for GnuPG
Comment[tr]=GnuPG arayüzeyi
Comment[uk]=çÒÁÆ¦ŞÎÁ ÏÂÏÌÏÎËÁ GnuPGP
Exec=seahorse
Icon=seahorse/seahorse.png
Terminal=0
Type=Application
