[Desktop Entry]
Name=SeaHorse
Name[pt_BR]=SeaHorse
Name[de]=SeaHorse
Name[fi]=SeaHorse
Name[ja]=Î¶¤ÎÍî¤·»Ò
Name[no]=SeaHorse
Name[sl]=Morski konjièek
Name[sv]=SeaHorse
Name[tr]=SeaHorse
Name[uk]=íÏÒÓØËÉÊ ËÏÎÉË
Name[zh_CN]=º£Âí³ÌĞò
Comment=SeaHorse
Comment[pt_BR]=SeaHorse
Comment[de]=Eine grafische Oberfläche für GnuPG
Comment[fi]=GnuPG käyttöliittymä
Comment[ja]=Î¶¤ÎÍî¤·»Ò°Å¹æ²òÆÉ¥Ä¡¼¥ë
Comment[no]=Grafisk grensesnitt for GnuPG
Comment[sl]=Vmesnik GNOME za GnuPG
Comment[sv]=Ett grafiskt skal till GnuPG
Comment[tr]=GnuPG arayüzeyi
Comment[uk]=çÒÁÆ¦ŞÎÁ ÏÂÏÌÏÎËÁ GnuPGP
Comment[zh_CN]=GnuPG µÄÒ»¸ö Gnome Ç°Ì¨³ÌĞò
Exec=seahorse
Icon=seahorse/seahorse.png
Terminal=0
Type=Application
