[Desktop Entry]
Name=GNOME Control Center
Name[ca]=Centre de Control GNOME
Name[da]=Kontrolcenter
Name[de]=GNOME-Kontrollzentrum
Name[cs]=Øídící centrum Gnome
Name[en_GB]Gnome Control Centre
Name[es]=Centro de Control GNOME
Name[et]=Juhtpaneel
Name[fi]=Gnomen hallintakeskus
Name[fr]=Centre de contrôle GNOME
Name[hu]=GNOME Vezérlõpult
Name[ja]=GNOME¥³¥ó¥È¥í¡¼¥ë¥»¥ó¥¿¡¼
Name[ko]=±×³ğ Á¶Á¾ÆÇ
Name[no]=GNOME kontrollsenter
Name[pl]=Centrum Sterowania GNOME
Name[pt]=Centro de Controlo GNOME
Name[pt_BR]=Centro de Controle GNOME
Name[ru]=ãÅÎÔÒ õĞÒÁ×ÌÅÎÉÑ GNOME
Name[sv]=GNOME Kontrollcenter
Name[uk]=ãÅÎÔÒ ËÅÒÕ×ÁÎÎÑ GNOME
Name[zh_TW.Big5]=GNOME ±±¨î¥x
Name[zh_CN.GB2312]=GNOME ¿ØÖÆÌ¨
Comment=The GNOME configuration tool.
Comment[ca]=La ferramenta de configuració de GNOME
Comment[da]=GNOME konfigurationsredskab
Comment[de]=Das Konfigurationswerkzeug für GNOME
Comment[cs]=Øídící centrum Gnome - úprava vzhledu, nastavení periférií atd.
Comment[es]=Herramienta de configuración del entorno GNOME
Comment[et]=GNOME kasutajaliidese häälestusprogramm
Comment[fi]=Gnomen hallintatyökalu
Comment[fr]=Outil de configuration de GNOME.
Comment[hu]=GNOME konfiguráció
Comment[ja]=GNOME¤ÎÀßÄê¥Ä¡¼¥ë¤Ç¤¹
Comment[ko]=±×³ğ ¼³Á¤ ÇÁ·Î±×·¥
Comment[no]=Konfigurasjonsverktøy for GNOME
Comment[pl]=Narzêdzie do konfiguracji GNOME
Comment[pt]=A ferramenta de configuração GNOME.
Comment[pt_BR]=A ferramenta de configuração GNOME
Comment[ru]=óÒÅÄÓÔ×Ï ËÏÎÆÉÇÕÒÁÃÉÉ GNOME
Comment[sv]=Konfigurationsverktyg för GNOME
Comment[uk]=úÁÓ¦Â ËÏÎÆ¦ÇÕÒÕ×ÁÎÎÑ GNOME
Comment[zh_TW.Big5]=¦UºØ GNOME ³]©w¤u¨ã
Comment[zh_CN.GB2312]=¸÷ÖÖ GNOME Éè¶¨¹¤¾ß
Icon=control-center.png
Exec=gnomecc
Terminal=0
Type=Application
