h3.moduleVersionTitle {
	border: 1px solid #cccccc;
	display: inline;
	margin-bottom: 0;
	background: #e0e0e0;
	padding: 5px;
}

table.moduleVersionTable {
	width: 100%;
	border: 1px solid #cccccc;
	margin-top: 5px;
	margin-bottom: 2em;
}

table.moduleVersionTable th {
	font-size: 75%;
	border: 1px solid #cccccc;
	font-weight: bold;
	background: #e0e0e0;
}

table.moduleVersionTable td {
	font-size: 75%;
	text-align: center;
	border: 1px solid #cccccc;
}

table.GTPTranslationTable {
	border: 1px solid #cccccc;
	margin-top: 5px;
	margin-bottom: 2em;
}

table.GTPTranslationTable th {
	font-size: 75%;
	text-align: left;
	border: 1px solid #cccccc;
	font-weight: bold;
	background: #e0e0e0;
}

table.GTPTranslationTable td {
	font-size: 75%;
	border: 1px solid #cccccc;
}

img.moduleVersionGraph {
	height: 15px;
}

tr.moduleVersionRowOdd {
	background: #d0e0ff;
}

tr.moduleVersionRowEven {
	background: #f0f0ff;
}

th.moduleVersionFieldTrans {
	color: green;
}

th.moduleVersionFieldFuzzy {
	color: blue;
}

th.moduleVersionFieldUntra {
	color: red;
}

/*
#body {
	height: 400px;
	overflow: auto;
}*/
/*#sidebar {
	position: fixed;
}

#hdr {
	position: fixed;
}*/
