/* Basic tags */
body {
	background-color: #FFFFFF;
	color: #000000;
	font-family: 'Bitstream Vera Sans', Arial, Helvetica, 'Luxi Sans', Verdana, Sans-Serif;
	padding: 0px;
	margin-top: 90px;
	margin-bottom: 0px;
}

a img {
	border: 0px;
}

blockquote {
  font-family: "Bitstream Vera Sans", sans-serif;
  background-color: #dddddd;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px dashed white;
}
table {
  font-family: "Bitstream Vera Serif", serif;
}

table.nieuws {
  width: 100%;
}

/* Anchors */
a {
	color: #0000ff;
}

a:visited {
	color: #0000ff;
}

/* Basic classes */

.invisible { /* stuff that should appear when this css isn't used */
	margin: 0px;
	border: 0px;
	padding: 0px;
	height: 0px;
	visibility: hidden;
}

.left {
	margin-left: 10px;
	width:170px;
	padding: 0px;
	float: left;
}

.right {
	margin-right: 10px;
	width:190px;
	padding: 0px;
	float: right;
}

.content {
	font-family: "Bitstream Vera Serif", serif;
	margin-left: 180px;
}

ul.nobullet {
	list-style: none;
}
/* Common page elements: Header, footer, etc. */

.logo {
	position: absolute;
	top: 10px;
	left: 10px;
	border: 0px;

	z-index: 10;
}

.hdr {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	height: 48px;

	text-align: right;
	background-image:url("images/header-bg-hills01.png");
	background-repeat:no-repeat;
	background-color: #e3ffc3;
	border-bottom: 1px solid #666666;
	z-index: 5;
}
.translate {
	position: absolute;
	top: 0px;
	right: 0px;
	border: 0px;
	margin: 10px;
	padding: 0px;
	float: right;
	text-align: right;
	background: none;

	z-index: 10;
}
.menu {
	position: absolute;
	top: 90px;
	left: 0px;
	width: 170px;
	margin-left: 5px;
	padding-left: 0px;
	padding-bottom: 10px;
	border-right: 1px dashed #aaaaaa;
	font-size: small;
	background-color: #fafafa;
}
.menu ul {
	margin-left: 10px;
	padding-left: 10px;
}

.section {
	width: 160px;
	margin-bottom: 5px;
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
	background-color: #cccccc;

	padding-bottom: 3px;
	padding-top: 3px;
	-moz-border-radius: .75em .75em .75em .75em;
	border-radius-topleft: .75em;
	border-radius-topright: .75em;
	border-radius-bottomleft: .75em;
	border-radius-bottomright: .75em;
}
.sectiontitle {
	width: 150px;
	background-color: #ccccff;
	font-size: larger;
	text-align: center;
	margin-bottom: 3px;
	margin-top: 3px;
	margin-left: 5px;
	margin-right: 5px;
	border-bottom: 1px solid #666666;
	border-right: 1px solid #666666;
}
.sectioncontent {
	width: 150px;
	margin-bottom: 3px;
	margin-top: 3px;
	margin-left: 5px;
	margin-right: 5px;
	padding-top: 2px;
	padding-bottom: 1px;
	background-color: #ffffff;
	border-bottom: 1px solid #666666;
	border-right: 1px solid #666666;
}
.statustable {
	border-style: solid;
	border-color: #dddddd;
	-moz-border-radius: .75em .75em .75em .75em;
	border-radius-topleft: .75em;
	border-radius-topright: .75em;
	border-radius-bottomleft: .75em;
	border-radius-bottomright: .75em;
	background-color: #fafafa;
	padding: 3px;
}
.statustable a { 
  text-decoration: none;
}

.logmsg {
    border-style: solid;
    border-color: black;
    -moz-border-radius: .75em .75em .75em .75em;
    border-radius-topleft: .75em;
	border-radius-topright: .75em;
    border-radius-bottomleft: .75em;
	border-radius-bottomright: .75em;
	background-color: #fafafa;
	padding: 3px;
	position: absolute;
}

.logmsg a { 
  text-decoration: none;
}

.copyright {
	margin-left: 180px;
	margin-right: 10px;
	text-align: center;
	font-size: small;
	vertical-align:	bottom;
	clear: both;

	margin-top: 10px;
	padding: 5px 0px 5px 0px;
	color: #aaaaaa;
	border-top: 1px solid #dddddd;
	background-color: #fafafa;
}

td.news {
  background-color: #fafafa;

  margin-top: 10px;
  margin-left: 0px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  vertical-align: top;
}

td.percentage {
  margin-top: 20px;
  margin-left: 0px;
  vertical-align: top;
}

td.module {
  color: #0000AA;
  background-color: #CCCCFF;


  margin-top: 20px;
  margin-left: 20px;
  vertical-align: top;
}

tr.total {
  background-color: #FFFF55;
  margin-top: 20px;
  vertical-align: top;
}

th.module {
/*  font-family: "Bitstream Vera Sans", sans-serif;*/
  background-color: #FFFF55;
  margin-top: 20px;
  margin-left: 20px;
  vertical-align: top;
}

th.news {
/*  color: #0000AA;*/
/*  font-family: "Bitstream Vera Sans", sans-serif;*/
  font-size: larger;
  background-color: #CCCCFF;
  margin-top: 20px;
  margin-left: 0px;
  vertical-align: top;
}

tr.even {
  background-color: #EEEEEE;
  margin-top: 30px;
  margin-left: 0px;
}

tr.oneven {
  background-color: #DDDDDD;
  margin-top: 30px;
  margin-left: 0px;
}

.rightbox {
	margin-right: 10px;
	padding: 0px;
	width: 190px;
	font-size: small;
	float: right;
	border-left: 1px dashed #cccccc;
	background-color: #fafafa;
}

.rightbox ul {
	margin-left: 10px;
	padding-left: 10px;
}
