    <link rel="icon" type="image/png" href="/images/gnome-16.png" />
    <link rel="stylesheet" type="text/css" href="/default.css" />
    <link rel="stylesheet" type="text/css" href="/developer.css" />
    <link rel="stylesheet" type="text/css" href="/gtp.css" />
    <style type="text/css">
      #hdr {
        background: url("/images/header-bg-mountains01.png") no-repeat;
        background-color: #d6e7ff;
      }
    </style>
