    <div id="hdr">
      <a href="http://developer.gnome.org/"><img id="logo" src="/images/gnome-64.png" alt="Home" title="Back to the Gnome Developer's home page"/></a>
      <p class="none"></p>
      <div id="hdrNav">
	<a href="http://www.gnome.org/">Users</a> &middot;
        <a href="/"><b>Developers</b></a> &middot;

	<a href="http://cvs.gnome.org/lxr/">LXR</a> &middot;
	<a href="http://cvs.gnome.org/bonsai/">Bonsai</a> &middot;
	<a href="http://ftp.gnome.org/pub/GNOME/MIRRORS.html">FTP</a> &middot;
	<a href="http://bugzilla.gnome.org/">Bugzilla</a> &middot;
	<a href="http://www.gnome.org/softwaremap/">Software Map</a> &middot;

	<a href="mailto:webmaster@gnome.org">Contact</a>
      </div>
    </div>
