[Desktop Entry]
Name=Atomix
Name[fr]=Atomix
Name[no]=Atomix
Name[ru]=Atomix
Name[sv]=Atomix
Name[tr]=Atomix
Comment=Mind game about atoms and molecuels.
Comment[fr]=Jeu de reflexion sur les atomes et molИcules.
Comment[no]=Hjernetrim med atomer og molekyler.
Comment[ru]=Логическая игра с атомами и молекулами.
Comment[sv]=HjДrngymnastik med atomer och molekyler.
Comment[uk]=Лог╕чна гра з атомами ╕ молекулами.
Comment[tr]=Atomlar ve molekЭller hakkЩnda bir zeka oyunu.
Exec=atomix
Terminal=0
Type=Application
