[Desktop Entry]
Name=Atomix
Name[no]=Atomix
Name[sv]=Atomix
Comment=Mind game about atoms and molecuels.
Comment[no]=Hjernetrim med atomer og molekyler.
Comment[sv]=Hjärngymnastik med atomer och molekyler.
Exec=atomix
Terminal=0
Type=Application
