[Desktop Entry]
Name=Atomix
Name[fr]=Atomix
Name[no]=Atomix
Name[ru]=Atomix
Name[sk]=Atomix
Name[sv]=Atomix
Name[tr]=Atomix
Name[zh_TW]=Atomix
Comment=Mind game about atoms and molecuels.
Comment[fr]=Jeu de reflexion sur les atomes et molécules.
Comment[no]=Hjernetrim med atomer og molekyler.
Comment[ru]=ìÏÇÉŞÅÓËÁÑ ÉÇÒÁ Ó ÁÔÏÍÁÍÉ É ÍÏÌÅËÕÌÁÍÉ.
Comment[sk]=Hra o atómocha a molekulách.
Comment[sv]=Hjärngymnastik med atomer och molekyler.
Comment[uk]=ìÏÇ¦ŞÎÁ ÇÒÁ Ú ÁÔÏÍÁÍÉ ¦ ÍÏÌÅËÕÌÁÍÉ.
Comment[tr]=Atomlar ve moleküller hakkında bir zeka oyunu.
Comment[Atomix]=¦³Ãö­ì¤l©M¤À¤lªº´¼¤O¹CÀ¸
Exec=atomix
Terminal=0
Type=Application
