[Desktop Entry]
Name=Firestarter
Name[sv]=Firestarter
Comment=Firestarter Firewall Tool
Comment[sv]=Brandväggsverktyget Firestarter
Exec=firestarter
Icon=firestarter.png
Terminal=0
Type=Application
