[Desktop Entry]
Name=Firestarter
Name[sv]=Firestarter
Name[uk]=Firestarter
Comment=Firestarter Firewall Tool
Comment[sv]=Brandväggsverktyget Firestarter
Comment[uk]=úÁÓ¦Â ÎÁÌÁÛÔÕ×ÁÎÎÑ ÂÒÅÎÄÍÁÕÅÒÁ
Exec=firestarter
Icon=firestarter.png
Terminal=0
Type=Application
