[Desktop Entry]
Name=Firestarter
Name[pt_BR]=Firestarter
Name[de]=Firestarter
Name[hu]=Firestarter
Name[no]=Firestarter
Name[sv]=Firestarter
Name[uk]=Firestarter
Comment=Firestarter Firewall Tool
Comment[pt_BR]=Ferramenta Firewall Firestarter
Comment[de]=Ein `All-In-One' Linux Firewall Werkzeug
Comment[hu]=Linux-os tûzfalkonfiguráló eszköz
Comment[no]=Firestarter brannveggverktøy
Comment[sv]=Brandväggsverktyget Firestarter
Comment[uk]=úÁÓ¦Â ÎÁÌÁÛÔÕ×ÁÎÎÑ ÂÒÁÎÄÍÁÕÅÒÁ
Exec=firestarter
Icon=firestarter.png
Terminal=0
Type=Application
